Repository hashicorp/vault, pull requests merged in 2019-09, with the labels that each got.

#6950 OCI KMS auto-unseal plugin
  command/server/seal/server_seal.go
  command/server/seal/server_seal_ocikms.go
  vault/seal/ocikms/ocikms.go
  vault/seal/ocikms/ocikms_test.go
  vault/seal/seal.go
Labels: ecosystem

#7282 OCI Object Storage documentation
  website/source/docs/configuration/storage/oci-object-storage.html.md
Labels: docs, ecosystem

#7283 OCI KMS plugin documentation
  website/source/docs/configuration/seal/ocikms.html.md
Labels: docs, ecosystem

#7284 Added OCI Auth plugin documentation
  website/assets/img/oci/oci-role-based-authz.png
  website/source/api/auth/oci/index.html.md.erb
  website/source/docs/auth/oci.html.md
Labels: docs, ecosystem

#7423 Updated naming for OCI Auth and Object Storage plugins
  website/source/docs/auth/oci.html.md
  website/source/docs/configuration/storage/oci-object-storage.html.md
Labels: docs, ecosystem

#7414 Auto-unseal with Azure Key Vault
  website/source/docs/configuration/seal/azurekeyvault.html.md
Labels: docs

#7245 Add reading AWS root/config endpoint
  builtin/logical/aws/path_config_root.go
  builtin/logical/aws/path_config_root_test.go
  website/source/api/secret/aws/index.html.md
Labels: ecosystem, enhancement

#7356 Document the AWS auth engine's role name casing
  website/source/api/auth/aws/index.html.md.erb
Labels: docs, ecosystem

#6786 secret/aws: Support permissions boundaries on iam_user creds
  builtin/logical/aws/backend_test.go
  builtin/logical/aws/path_roles.go
  builtin/logical/aws/path_roles_test.go
  builtin/logical/aws/secret_access_keys.go
  website/source/api/secret/aws/index.html.md
  website/source/docs/secrets/aws/index.html.md
Labels: ecosystem

#7190 docs: add -verify documentation on operator rekey command
  website/source/docs/commands/operator/rekey.html.md
Labels: docs
