Repository hashicorp/vault, pull requests merged in 2019-11, with the labels that each got.

#7310 Update helm.html.md
  website/source/docs/platform/k8s/helm.html.md
Labels: docs, ecosystem

#7766 doc: remove comma from list.html.md
  website/source/docs/commands/list.html.md
Labels: docs

#7839 docs: add 1.2.4 upgrade guide
  website/source/docs/upgrading/upgrade-to-1.2.4.html.md
  website/source/layouts/docs.erb
Labels: docs

#7759 doc: update vault-helm for 0.2.0
  website/source/docs/platform/k8s/helm.html.md
  website/source/docs/platform/k8s/run.html.md
Labels: docs, ecosystem

#7841 [docs] Adding ciphertext description
  website/source/api/secret/transit/index.html.md
  website/source/docs/secrets/transit/index.html.md
Labels: docs

#7781 docs: add API docs for sys/leases/tidy
  website/source/api/system/leases.html.md
Labels: docs

#7669 docs: add vault debug docs
  website/data/docs_detailed_categories.yml
  website/source/docs/commands/debug.html.md
  website/source/layouts/docs.erb
Labels: docs

#7822 Update how Vault Agent configures Consul Templates internal logger
  command/agent.go
  command/agent/template/template.go
  command/agent/template/template_test.go
  go.sum
  vendor/github.com/hashicorp/consul-template/logging/logging.go
  vendor/github.com/hashicorp/consul-template/logging/syslog.go
  vendor/github.com/hashicorp/logutils/.gitignore
  vendor/github.com/hashicorp/logutils/LICENSE
  vendor/github.com/hashicorp/logutils/README.md
  vendor/github.com/hashicorp/logutils/go.mod
  vendor/github.com/hashicorp/logutils/level.go
  vendor/modules.txt
Labels: bug, core/agent

#7873 Update vault-helm to 0.2.1
  website/source/docs/platform/k8s/helm.html.md
  website/source/docs/platform/k8s/run.html.md
Labels: docs, ecosystem

#7926 store secret key and value as an object to fix copy/show secret bug
  ui/app/models/secret.js
  ui/app/templates/partials/secret-form-show.hbs
Labels: ui

#7838 website - bump global-styles to ^2.0.3
  website/assets/package-lock.json
  website/assets/package.json
Labels: ui

#7872 agent/template: give more time for test to poll on directory before f…
  command/agent_test.go
Labels: core/agent

#7509 Add new fields to K8S Auth Documentation
  website/source/api/auth/kubernetes/index.html.md.erb
Labels: docs, ecosystem
