Repository hashicorp/vault, pull requests merged in 2019-12, with the labels that each got.

#7902 Add enable_hostname_label option to telemetry stanza
  command/server.go
  command/server/config.go
Labels: core/metric

#7956 Docs: Add enable_hostname_label
  website/source/docs/configuration/telemetry.html.md
Labels: docs

#7940 Docs: Remove response code info from non-overview API docs (contd)
  website/source/api/secret/pki/index.html.md
  website/source/api/secret/totp/index.html.md
  website/source/api/system/control-group.html.md
  website/source/api/system/health.html.md
  website/source/api/system/namespaces.html.md
  website/source/api/system/rekey-recovery-key.html.md
  website/source/api/system/rekey.html.md
Labels: docs

#7918 Backport 1.3.x: Agent Template: check rendering to match expectations (#7899)
  command/agent/template/template.go
  command/agent_test.go
Labels: bug, core/agent

#7939 physical/postgresql: Refactor test code to avoid panic if tests ran multiple times
  physical/postgresql/postgresql_test.go
Labels: storage/postgresql

#7937 physical/posgresql: add ability to prefer VAULT_PG_CONNECTION_URL envar over config file
  physical/postgresql/postgresql.go
  physical/postgresql/postgresql_test.go
  website/source/docs/configuration/storage/postgresql.html.md
Labels: enhancement, storage/postgresql, waiting-for-response

#7950 Fix "does not exists" grammar
  vault/logical_system.go
  website/source/guides/secret-mgmt/versioned-kv.html.md
Labels: waiting-for-response

#7904 Forward PKI issue/sign request to primary if storing certificate
  builtin/logical/pki/path_issue_sign.go
Labels: enhancement, secret/pki

#7865 Fix UI build in fresh repo
  Makefile
Labels: bug, ui

#7984 docs: add section on upgrading plugins
  website/source/docs/plugin/index.html.md
  website/source/docs/upgrading/plugins.html.md
  website/source/layouts/docs.erb
Labels: docs

#7991 plugin: fix panic on router.MatchingSystemView if backend is nil
  vault/logical_system_integ_test.go
  vault/router.go
Labels: Backport

#7922 Add an sts_region parameter to the AWS auth engine's client config
  builtin/credential/aws/client.go
  builtin/credential/aws/path_config_client.go
  builtin/credential/aws/path_config_client_test.go
  builtin/credential/aws/path_role_test.go
Labels: auth/aws, bug

#6163 Handle otherName SANs in CSRs
  builtin/logical/pki/backend_test.go
  builtin/logical/pki/cert_util.go
  builtin/logical/pki/path_issue_sign.go
  builtin/logical/pki/path_roles.go
  sdk/go.mod
  sdk/helper/certutil/types.go
  vendor/github.com/hashicorp/vault/sdk/framework/lease.go
  vendor/github.com/hashicorp/vault/sdk/helper/certutil/types.go
  vendor/github.com/hashicorp/vault/sdk/helper/pointerutil/pointer.go
  vendor/github.com/hashicorp/vault/sdk/physical/physical.go
  vendor/modules.txt
  website/source/api/secret/pki/index.html.md
Labels: enhancement, secret/pki, waiting-for-response

#7998 Transit: error when restoring to a name that looks like a path
  builtin/logical/transit/path_restore.go
  builtin/logical/transit/path_restore_test.go
Labels: bug, secret/transit

#7993 Kerberos docs
  website/source/api/auth/kerberos/index.html.md.erb
  website/source/docs/auth/kerberos.html.md
  website/source/layouts/api.erb
  website/source/layouts/docs.erb
Labels: auth/kerberos, docs

#7958 Add accept header check for prometheus mime type
  helper/metricsutil/metricsutil.go
  helper/metricsutil/metricsutil_test.go
Labels: core/metric

#8008 Update KMIP docs re supported operations.
  website/source/api/secret/kmip/index.html.md
  website/source/docs/secrets/kmip/index.html.md
Labels: docs

#8001 Add sts_region to AWS auth API doc
  website/source/api/auth/aws/index.html.md.erb
Labels: auth/aws

#7997 Ui/fix demoting status menu
  ui/app/models/cluster.js
  ui/app/styles/components/popup-menu.scss
  ui/app/templates/partials/status/cluster.hbs
  ui/app/templates/vault/cluster/replication-dr-promote.hbs
  ui/lib/core/addon/templates/components/replication-mode-summary.hbs
Labels: ui

#8016 Fix SRV record lookup if address scheme is known
  api/client.go
Labels: core/cli

#8018 Docs: Add missing KV V2 version argument to API docs
  website/source/api/secret/kv/kv-v2.html.md
Labels: docs

#8021 Fix panic when creating batch tokens for role that doesn't exist.
  vault/token_store.go
Labels: backport

#8000 Backport add an sts_region parameter to the AWS auth engine's client config
  builtin/credential/aws/client.go
  builtin/credential/aws/path_config_client.go
  builtin/credential/aws/path_config_client_test.go
  builtin/credential/aws/path_role_test.go
Labels: auth/aws, backport

#8023 overwrite bulma bug that crashes safari
  ui/app/styles/core.scss
  ui/app/styles/core/select.scss
Labels: bug, ui

#8015 Fix identity token panic during invalidation
  vault/identity_store.go
  vault/identity_store_oidc.go
  vault/identity_store_oidc_test.go
Labels: backport

#8010 stable-website: add sts_region to aws auth api docs
  website/source/api/auth/aws/index.html.md.erb
Labels: auth/aws

#8047 Avoid potential panic in LDAP client
  sdk/helper/ldaputil/client.go
  sdk/helper/ldaputil/client_test.go
  vendor/github.com/hashicorp/vault/sdk/helper/ldaputil/client.go
Labels: backport

#8048 Backport 1.3.x: Avoid potential panic in LDAP client (#8047)
  sdk/helper/ldaputil/client.go
  sdk/helper/ldaputil/client_test.go
  vendor/github.com/hashicorp/vault/sdk/helper/ldaputil/client.go
Labels: backport

#8035 UI update headless chrome flags to fix 'yarn run test:oss'
  Makefile
  ui/README.md
  ui/testem.js
Labels: ui

#8049 Update vault-plugin-secrets-ad to v0.6.2
  go.mod
  go.sum
  vendor/modules.txt
Labels: backport

#8065 Change box-radio height to min-height to prevent overflow issues
  ui/app/styles/components/box-radio.scss
Labels: bug, ui
