Repository hashicorp/vault, pull requests merged in 2020-08, with the labels that each got.

#9648 Update OpenLDAP docs
  website/pages/docs/secrets/openldap/index.mdx
Labels: docs-cherrypick

#9660 Docs - /system/unseal - Typo - Resolves: #9659
  website/pages/api-docs/system/unseal.mdx
Labels: docs-cherrypick

#9669 Remove TTL special case documentation from cubbyhole
  website/pages/api-docs/secret/cubbyhole/index.mdx
Labels: docs-cherrypick

#9628 add audit_non_hmac_request_keys to payload example for tune
  website/pages/api-docs/system/auth.mdx
Labels: docs

#9678 docs: fixes environment variable in azure secrets config API
  website/pages/api-docs/secret/azure/index.mdx
Labels: docs-cherrypick

#9681 Use printf field widths instead of strings.Repeat.
  command/server.go
Labels: backport

#8899 Add docs for CSR signing.
  website/pages/api-docs/secret/kmip/index.mdx
  website/pages/docs/secrets/kmip/index.mdx
Labels: docs-cherrypick

#9676 Add explanation of "keys" field in Transit API docs.
  website/pages/api-docs/secret/transit/index.mdx
Labels: docs-cherrypick

#9691 Ui/wrap tool ttl
  ui/app/components/tool-actions-form.js
  ui/app/templates/partials/tools/wrap.hbs
Labels: ui

#9679 Updates URLs to match new paths at Learn
  README.md
  website/_redirects
  website/pages/docs/partnerships/index.mdx
  website/pages/docs/platform/k8s/helm/examples/index.mdx
  website/pages/docs/platform/k8s/helm/index.mdx
Labels: docs, website

#9675 UI: Add -dr-token flag to operation token command
  ui/lib/core/addon/templates/components/shamir-modal-flow.hbs
Labels: bug, ui

#9704 Update go-metrics
  go.mod
  go.sum
  vendor/github.com/armon/go-metrics/.gitignore
  vendor/github.com/armon/go-metrics/prometheus/prometheus.go
  vendor/modules.txt
Labels: backport

#9718 fix github star count on website
  website/components/subnav/index.jsx
Labels: website

#9668 Ui/create edit transformation fixes
  ui/app/adapters/transform.js
  ui/app/components/role-edit.js
  ui/app/components/transform-show-transformation.js
  ui/app/helpers/options-for-backend.js
  ui/app/models/transform.js
  ui/app/serializers/transform.js
  ui/app/styles/components/transform-edit.scss
  ui/app/styles/core.scss
  ui/app/styles/core/forms.scss
  ui/app/styles/core/helpers.scss
  ui/app/templates/components/transform-edit-form.hbs
  ui/app/templates/components/transform-show-transformation.hbs
  ui/app/templates/components/transformation-edit.hbs
  ui/app/templates/partials/secret-list/transform-transformation-item.hbs
Labels: ui

#9725 docs: fix sentence in vault debug command
  website/pages/docs/commands/debug.mdx
Labels: docs-cherrypick

#9721 Backport 1.4.x: UI Transit: Add missed algorithms (#9070)
  ui/app/templates/partials/transit-form-create.hbs
  ui/tests/acceptance/transit-test.js
Labels: backport, ui

#9723 Backport 1.5.x: UI Transit: Add missed algorithms (#9070)
  ui/app/templates/partials/transit-form-create.hbs
  ui/tests/acceptance/transit-test.js
Labels: backport, ui

#9722 Backport 1.4.x: UI/transit add missed algorithms follow up (#9520)
  ui/app/serializers/transit-key.js
  ui/app/templates/partials/transit-form-show.hbs
Labels: backport, ui

#9724 Backport 1.5.x: UI/transit add missed algorithms follow up (#9520)
  ui/app/serializers/transit-key.js
  ui/app/templates/partials/transit-form-show.hbs
Labels: backport, ui

#9712 Added upgrade guidance on mount -> path filters
  website/pages/docs/upgrading/upgrade-to-1.3.0.mdx
Labels: docs, docs-cherrypick

#9674 Trail of bits 018
  command/agent.go
  command/agent/cert_with_name_end_to_end_test.go
  command/agent/cert_with_no_name_end_to_end_test.go
  command/agent/config/config.go
  command/agent/config/config_test.go
  command/agent/config/test-fixtures/config-embedded-type.hcl
  command/agent/config/test-fixtures/config.hcl
  command/agent/jwt_end_to_end_test.go
  command/agent/sink/sink.go
  helper/dhutil/dhutil.go
  helper/dhutil/dhutil_test.go
  website/pages/docs/agent/autoauth/index.mdx
Labels: backport

#9197 Document the new SSH signing algorithm option.
  website/pages/api-docs/secret/ssh/index.mdx
Labels: docs-cherrypick

#9677 Restoring the example policies for blocking sha1
  website/pages/api-docs/secret/transit/index.mdx
Labels: docs, docs-cherrypick

#9626 agent/templates: update consul-template to v0.25.1
  go.mod
  go.sum
  vendor/github.com/hashicorp/consul-template/config/env.go
  vendor/github.com/hashicorp/consul-template/config/template.go
  vendor/github.com/hashicorp/consul-template/dependency/vault_common.go
  vendor/github.com/hashicorp/consul-template/dependency/vault_read.go
  vendor/github.com/hashicorp/consul-template/dependency/vault_token.go
  vendor/github.com/hashicorp/consul-template/manager/runner.go
  vendor/github.com/hashicorp/consul-template/renderer/renderer.go
  vendor/github.com/hashicorp/consul-template/template/funcs.go
  vendor/github.com/hashicorp/consul-template/template/template.go
  vendor/github.com/hashicorp/consul-template/version/version.go
  vendor/modules.txt
Labels: backport

#9498 pki: Allow to use not only one variable during templating in allowed_domains
  builtin/logical/pki/backend_test.go
  builtin/logical/pki/cert_util.go
Labels: secret/pki

#9716 Backport 1.5.1: UI: Update DR Operation token workflow with corrected instructions
  ui/lib/core/addon/templates/components/shamir-modal-flow.hbs
Labels: ui

#9715 Backport 1.5.1: Update TTL picker in transit wrap
  ui/app/components/wrap-ttl.js
  ui/tests/integration/components/transit-key-actions-test.js
  ui/tests/integration/components/wrap-ttl-test.js
Labels: ui

#9717 Backport 1.5.1: UI: Wrap tool ttl picker updated (#9691)
  ui/app/components/tool-actions-form.js
  ui/app/templates/partials/tools/wrap.hbs
Labels: ui

#9750 Correctly mark Cassandra as not supporting static roles
  website/pages/docs/secrets/databases/cassandra.mdx
  website/pages/docs/secrets/databases/index.mdx
Labels: docs, docs-cherrypick

#9757 Add a section to the MySQL secrets plugin docs about x509
  website/pages/docs/secrets/databases/mysql-maria.mdx
Labels: docs-cherrypick

#9743 Update mssql.mdx
  website/pages/docs/secrets/databases/mssql.mdx
Labels: docs, docs-cherrypick

#9770 Update documentation for MySQL Secrets Engine (#9671)
  website/pages/api-docs/secret/databases/mysql-maria.mdx
Labels: docs-cherrypick

#9778 Sidebranch: UI transform create and edit clean up
  ui/app/adapters/transform.js
  ui/app/components/role-edit.js
  ui/app/components/transform-create-form.js
  ui/app/helpers/options-for-backend.js
  ui/app/models/transform.js
  ui/app/styles/core/forms.scss
  ui/app/templates/components/transform-create-form.hbs
  ui/app/templates/components/transform-edit-form.hbs
  ui/app/templates/components/transform-show-transformation.hbs
  ui/app/templates/components/transformation-edit.hbs
  ui/lib/core/addon/components/search-select.js
  ui/lib/core/addon/templates/components/form-field.hbs
  ui/lib/core/addon/templates/components/search-select.hbs
Labels: ui

#9765 New seal migration strategy doesn't work in 1.4.
  website/pages/docs/concepts/seal.mdx
Labels: docs-cherrypick

#9751 Document allowed_domains_template.
  website/pages/api-docs/secret/pki/index.mdx
Labels: docs-cherrypick

#9789 Ui/transform cleanup 2
  ui/app/models/transform.js
  ui/app/templates/components/transform-create-form.hbs
  ui/app/templates/components/transform-edit-form.hbs
  ui/app/templates/components/transform-show-transformation.hbs
  ui/lib/core/addon/components/search-select.js
  ui/lib/core/addon/templates/components/form-field.hbs
Labels: ui

#9780 Show KMIP un-selectable if enterprise but no ADP module
  ui/app/components/mount-backend-form.js
  ui/app/templates/components/mount-backend-form.hbs
Labels: ui

#9793 Updates for 1.5.1, 1.4.4, 1.3.8, and 1.2.5
  CHANGELOG.md
  website/data/docs-navigation.js
  website/data/version.js
  website/pages/docs/upgrading/upgrade-to-1.2.5.mdx
  website/pages/docs/upgrading/upgrade-to-1.3.8.mdx
  website/pages/docs/upgrading/upgrade-to-1.4.4.mdx
  website/pages/docs/upgrading/upgrade-to-1.5.1.mdx
  website/pages/partials/builds-without-ui.mdx
Labels: docs-cherrypick

#9804 vault-k8s: add new annotations for 0.5.0
  website/pages/docs/platform/k8s/injector/annotations.mdx
Labels: docs-cherrypick

#9810 doc: update vault-helm to 0.7.0
  website/data/docs-navigation.js
  website/pages/docs/platform/k8s/helm/configuration.mdx
  website/pages/docs/platform/k8s/helm/examples/enterprise-best-practice.mdx
  website/pages/docs/platform/k8s/helm/examples/enterprise-dr-with-raft.mdx
  website/pages/docs/platform/k8s/helm/examples/enterprise-perf-with-raft.mdx
  website/pages/docs/platform/k8s/helm/examples/enterprise-with-raft.mdx
  website/pages/docs/platform/k8s/helm/index.mdx
  website/pages/docs/platform/k8s/helm/openshift.mdx
  website/pages/docs/platform/k8s/helm/run.mdx
Labels: docs-cherrypick

#9828 Backport #9826 (PSIRT-38) to 1.2.x
  go.mod
  go.sum
  vendor/modules.txt
Labels: backport

#9829 Backport #9826 (PSIRT-38) to 1.3.x
  go.mod
  go.sum
  vendor/modules.txt
Labels: backport

#9830 Backport #9826 (PSIRT-38) to 1.4.x
  go.mod
  go.sum
  vendor/modules.txt
Labels: backport

#9831 Backport #9826 (PSIRT-38) to 1.5.x
  go.mod
  go.sum
  vendor/modules.txt
Labels: backport

#9832 Backport 9825 1.2.x
  builtin/credential/aws/backend.go
  builtin/credential/aws/path_config_client.go
  builtin/credential/aws/path_login_test.go
  vendor/modules.txt
  website/source/api/auth/aws/index.html.md.erb
Labels: backport

#9835 Backport 9825 1.5.x
  builtin/credential/aws/backend.go
  builtin/credential/aws/path_config_client.go
Labels: backport

#9817 Add date/time argument type.
  command/base_flags.go
  command/base_flags_test.go
Labels: core/cli

#9836 docs: fixes rollback_statements description and some punctuation
  website/pages/api-docs/secret/databases/index.mdx
Labels: docs-cherrypick

#9842 Ui/transform delete v2
  ui/app/templates/components/transform-show-transformation.hbs
  ui/app/templates/components/transformation-edit.hbs
  ui/lib/core/addon/components/info-table-row.js
  ui/lib/core/addon/templates/components/info-table-row.hbs
Labels: ui

#9847 Update Known Issues
  website/pages/partials/aws-invalid-header.mdx
Labels: docs-cherrypick

#9735 TLS Cert Authentication example updates
  website/pages/api-docs/auth/cert/index.mdx
  website/pages/docs/auth/cert.mdx
Labels: auth/cert, docs, docs-cherrypick, website

#9848 docs: add tls settings on cert auto-auth's config page
  website/pages/docs/agent/autoauth/methods/cert.mdx
Labels: docs-cherrypick

#9854 Update docs to add EdDSA to supported algorithms
  website/pages/api-docs/auth/jwt/index.mdx
Labels: docs-cherrypick

#9856 docs: add ldap ppolicy to enforce password hashing
  website/pages/docs/secrets/openldap/index.mdx
Labels: docs-cherrypick

#9858 Update version.js
  website/data/version.js
Labels: docs-cherrypick
