Repository hashicorp/vault, pull requests merged in 2020-02, with the labels that each got.

#8263 Core usage metrics v2
  ui/app/adapters/metrics/entity.js
  ui/app/adapters/metrics/http-requests.js
  ui/app/adapters/metrics/token.js
  ui/app/models/metrics/entity.js
  ui/app/models/metrics/http-requests.js
  ui/app/models/metrics/token.js
  ui/app/routes/vault/cluster/metrics/http-requests.js
  ui/app/routes/vault/cluster/metrics/index.js
  ui/app/serializers/metrics.js
  ui/app/serializers/metrics/entity.js
  ui/app/serializers/metrics/token.js
  ui/app/styles/components/selectable-card.scss
  ui/app/styles/core.scss
  ui/app/templates/partials/status/cluster.hbs
  ui/app/templates/vault/cluster/metrics/http-requests.hbs
  ui/app/templates/vault/cluster/metrics/index.hbs
Labels: ui

#8288 Allow FQDNs in DNS Name for PKI Secrets Engine
  builtin/logical/pki/cert_util.go
  builtin/logical/pki/cert_util_test.go
Labels: bug, secret/pki

#8282 secret/database: Guard against panic with InfluxDB plugin
  plugins/database/influxdb/connection_producer.go
  plugins/database/influxdb/influxdb.go
  plugins/database/influxdb/influxdb_test.go
Labels: bug, secret/database

#8229 MySQL HA: Return an error if we fail to get a lock on standby
  physical/mysql/mysql.go
  physical/mysql/mysql_test.go
Labels: storage/mysql

#8297 Backport 1.3.x: secret/database: Guard against panic with InfluxDB plugin (#8282)
  plugins/database/influxdb/connection_producer.go
  plugins/database/influxdb/influxdb.go
  plugins/database/influxdb/influxdb_test.go
Labels: secret/database

#8291 [UI] clear policies in cli
  ui/app/lib/console-helpers.js
  ui/tests/unit/lib/console-helpers-test.js
Labels: ui

#8303 Support CLI autocompletion for nested mounts
  command/base_predict.go
  command/base_predict_test.go
Labels: bug, core/cli

#8241 Adding a new replication metric (WAL GC counter)
  website/pages/docs/internals/telemetry.mdx
Labels: docs

#8315 Fix CLI namespace commands
  command/base_predict.go
  command/namespace_create.go
  command/namespace_delete.go
  command/namespace_list.go
  command/namespace_lookup.go
Labels: bug, core/cli, enhancement

#8327 UI feature: dart sass
  ui/app/styles/components/search-select.scss
  ui/ember-cli-build.js
  ui/package.json
  ui/yarn.lock
Labels: ui

#8316 Core Usage Metrics V3
  ui/app/components/http-requests-bar-chart-small.js
  ui/app/components/selectable-card-container.js
  ui/app/components/selectable-card.js
  ui/app/routes/vault/cluster/metrics/index.js
  ui/app/services/permissions.js
  ui/app/styles/components/selectable-card-container.scss
  ui/app/styles/components/selectable-card.scss
  ui/app/styles/core.scss
  ui/app/templates/components/http-requests-bar-chart-small.hbs
  ui/app/templates/components/selectable-card-container.hbs
  ui/app/templates/components/selectable-card.hbs
  ui/app/templates/partials/status/cluster.hbs
  ui/app/templates/vault/cluster/metrics/index.hbs
  ui/tests/integration/components/http-requests-bar-chart-small-test.js
  ui/tests/integration/components/selectable-card-container-test.js
  ui/tests/integration/components/selectable-card-test.js
Labels: ui

#8299 Add redshift database plugin
  command/base_predict_test.go
  helper/builtinplugins/registry.go
  plugins/database/redshift/redshift-database-plugin/main.go
  plugins/database/redshift/redshift.go
  plugins/database/redshift/redshift_test.go
  sdk/database/helper/connutil/sql.go
  sdk/database/helper/credsutil/sql.go
  vault/testing.go
  vendor/github.com/hashicorp/vault/sdk/database/helper/connutil/sql.go
  vendor/github.com/hashicorp/vault/sdk/database/helper/credsutil/sql.go
  website/pages/api-docs/secret/databases/redshift.mdx
  website/pages/docs/secrets/databases/redshift.mdx
Labels: enhancement, secret/database

#8347 Core Usage Metrics
  ui/app/adapters/metrics/entity.js
  ui/app/adapters/metrics/http-requests.js
  ui/app/adapters/metrics/token.js
  ui/app/components/http-requests-bar-chart-small.js
  ui/app/components/selectable-card-container.js
  ui/app/components/selectable-card.js
  ui/app/models/metrics/entity.js
  ui/app/models/metrics/http-requests.js
  ui/app/models/metrics/token.js
  ui/app/router.js
  ui/app/routes/vault/cluster/metrics.js
  ui/app/routes/vault/cluster/metrics/http-requests.js
  ui/app/routes/vault/cluster/metrics/index.js
  ui/app/routes/vault/cluster/requests.js
  ui/app/serializers/metrics.js
  ui/app/serializers/metrics/entity.js
  ui/app/serializers/metrics/token.js
  ui/app/services/permissions.js
  ui/app/styles/components/selectable-card-container.scss
  ui/app/styles/components/selectable-card.scss
  ui/app/styles/core.scss
  ui/app/templates/components/http-requests-bar-chart-small.hbs
  ui/app/templates/components/selectable-card-container.hbs
  ui/app/templates/components/selectable-card.hbs
  ui/app/templates/partials/status/cluster.hbs
  ui/app/templates/vault/cluster/metrics/http-requests.hbs
  ui/app/templates/vault/cluster/metrics/index.hbs
  ui/app/templates/vault/cluster/requests.hbs
  ui/tests/integration/components/http-requests-bar-chart-small-test.js
  ui/tests/integration/components/selectable-card-container-test.js
  ui/tests/integration/components/selectable-card-test.js
Labels: ui

#8348 Fix transit-key context menu on the transit-key list page
  ui/app/adapters/transit-key.js
  ui/app/models/transit-key.js
  ui/app/serializers/transit-key.js
  ui/tests/acceptance/transit-test.js
  ui/tests/unit/serializers/transit-key-test.js
Labels: bug, ui

#8103 Seal migration with Raft
  command/seal_migration_oss_test.go
  command/seal_migration_test.go
  command/server/seal/server_seal_transit_acc_test.go
  command/server_util.go
  helper/testhelpers/teststorage/teststorage.go
  vault/core.go
  vault/ha.go
  vault/testing.go
Labels: core/seal, storage/raft

#8168 Update Oracle DB secrets docs to reflect support for static roles
  plugins/database/mysql/mysql.go
  website/pages/docs/secrets/databases/oracle.mdx
Labels: docs, ecosystem, secret/database

#8329 Add x509 Client Auth to MongoDB Database Plugin
  helper/builtinplugins/registry.go
  helper/testhelpers/mongodb/mongodbhelper.go
  plugins/database/mongodb/README.md
  plugins/database/mongodb/cert_helpers_test.go
  plugins/database/mongodb/connection_producer.go
  plugins/database/mongodb/connection_producer_test.go
  plugins/database/mongodb/mongodb_test.go
  plugins/database/mongodb/util.go
  website/pages/api-docs/secret/databases/mongodb.mdx
  website/pages/docs/secrets/databases/mongodb.mdx
Labels: docs, ecosystem, secret/database

#8165 Identity: Allow admins to specify OIDC client_id field
  vault/identity_store_oidc.go
  vault/identity_store_oidc_test.go
Labels: core/identity

#8304 UI: Redesign transit UX
  ui/.gitignore
  ui/.storybook/preview-head.html
  ui/app/helpers/secret-query-params.js
  ui/app/macros/lazy-capabilities.js
  ui/app/models/transit-key.js
  ui/app/styles/components/transit-card.scss
  ui/app/styles/core.scss
  ui/app/templates/components/selectable-card.hbs
  ui/app/templates/components/transit-edit.hbs
  ui/app/templates/components/transit-key-actions.hbs
  ui/app/templates/partials/secret-list/item.hbs
  ui/app/templates/partials/transit-form-show.hbs
  ui/app/templates/vault/cluster/secrets/backend/transit-actions-layout.hbs
  ui/blueprints/component/files/__root__/__path__/__name__.js
  ui/tests/acceptance/transit-test.js
  ui/tests/unit/models/transit-key-test.js
  ui/yarn.lock
Labels: ui

#8300 Backport 1.3.x: MySQL HA: Return an error if we fail to get a lock on standby (#8229)
  physical/mysql/mysql.go
  physical/mysql/mysql_test.go
Labels: core/ha, storage/mysql

#8353 Update Kerberos dependency
  go.mod
  go.sum
  vendor/github.com/hashicorp/vault-plugin-auth-kerberos/go.mod
  vendor/github.com/hashicorp/vault-plugin-auth-kerberos/go.sum
  vendor/github.com/hashicorp/vault-plugin-auth-kerberos/path_login.go
  vendor/github.com/hashicorp/vault/api/go.mod
  vendor/github.com/hashicorp/vault/api/go.sum
  vendor/github.com/hashicorp/vault/sdk/helper/listenerutil/listener.go
  vendor/github.com/hashicorp/vault/sdk/helper/reload/reload.go
  vendor/modules.txt
Labels: auth/kerberos, bug

#8270 Docs enforce autoauth token
  command/agent.go
  command/agent/config/config.go
  command/agent/config/config_test.go
  command/agent/config/test-fixtures/bad-config-cache-force-token-no-auth-method.hcl
  command/agent_test.go
  website/pages/docs/agent/caching/index.mdx
Labels: core/agent, docs

#8356 Backport 1.3.x: Guard against using Raft as a seperate HA Storage
  command/server.go
  physical/raft/raft.go
  website/source/docs/configuration/storage/raft.html.md
Labels: storage/raft

#8358 Fix Kubernetes service registration test in Vault enterprise
  serviceregistration/kubernetes/testing/testserver.go
Labels: auth/kerberos

#7870 command/generate-root: support returning json format on decode and ge…
  command/operator_generate_root.go
Labels: core/cli

#8354 UI: clear error on transit actions
  ui/app/components/transit-key-actions.js
Labels: ui

#8386 clarify that EditType is optional
  sdk/framework/path.go
Labels: docs

#8374 Add docs for Kubernetes service discovery feature
  website/data/docs-navigation.js
  website/pages/docs/configuration/service-registration/kubernetes.mdx
Labels: docs

#8390 Add API documentation for `sys/internal/counters/` endpoints
  website/data/api-navigation.js
  website/pages/api-docs/system/internal-counters.mdx
Labels: docs

#8385 Bug Fix: Add timeout to prevent OIDC modal login bug
  ui/app/components/auth-jwt.js
Labels: backport, ui

#8396 Backport 1.3.x: Fix OIDC modal bug
  ui/app/components/auth-jwt.js
Labels: ui

#8403 Correct the Okta docs
  website/pages/api-docs/auth/okta/index.mdx
  website/pages/docs/auth/okta.mdx
Labels: auth/okta, docs

#8412 Fix identity token caching
  vault/identity_store.go
  vault/identity_store_oidc.go
  vault/identity_store_oidc_util.go
Labels: backport

#8428 Minor docs update
  website/pages/api-docs/auth/alicloud/index.mdx
Labels: docs-cherrypick

#8430 Documentation Typo: Remove unintentional duplicate string
  website/pages/docs/configuration/seal/awskms.mdx
Labels: docs-cherrypick
