Repository hashicorp/vault, pull requests merged in 2020-07, with the labels that each got.

#9271 Update TTL picker on add replication secondary
  ui/lib/core/addon/components/ttl-picker2.js
  ui/lib/core/stories/ttl-picker2.md
  ui/lib/replication/addon/controllers/mode/secondaries/add.js
  ui/lib/replication/addon/templates/mode/secondaries/add.hbs
  ui/tests/integration/components/ttl-picker2-test.js
Labels: ui

#9373 logical/system: re-introduce ns-awareness in pathInternalUIMountsRead
  vault/logical_system.go
Labels: backport

#9374 Don't return quota error on revoke.
  vault/expiration.go
Labels: core/lease

#9376 Backport 1.5.x: fix handling of quota errors (should fix unit test errors on enterprise)
  vault/expiration.go
Labels: backport, core/lease

#9372 Fix Unauthenticated list
  vault/logical_system.go
Labels: backport

#9370 Fix Dr operation token not provided error on DR secondary: update primary action
  ui/lib/core/addon/templates/components/replication-action-update-primary.hbs
Labels: backport, ui

#9371 upgrade storybook and babel deps
  ui/.storybook/babel.config.js
  ui/blueprints/story/files/__path__/stories/__name__.stories.js
  ui/lib/core/stories/alert-banner.stories.js
  ui/lib/core/stories/alert-inline.stories.js
  ui/lib/core/stories/chevron.stories.js
  ui/lib/core/stories/confirm-action.stories.js
  ui/lib/core/stories/doc-link.stories.js
  ui/lib/core/stories/empty-state.stories.js
  ui/lib/core/stories/form-field-groups.stories.js
  ui/lib/core/stories/form-field.stories.js
  ui/lib/core/stories/form-save-buttons.stories.js
  ui/lib/core/stories/icon.stories.js
  ui/lib/core/stories/info-table-row.stories.js
  ui/lib/core/stories/info-table.stories.js
  ui/lib/core/stories/layout-loading.stories.js
  ui/lib/core/stories/list-view.stories.js
  ui/lib/core/stories/masked-input.stories.js
  ui/lib/core/stories/message-error.stories.js
  ui/lib/core/stories/message.stories.js
  ui/lib/core/stories/popup-menu.stories.js
  ui/lib/core/stories/search-select.stories.js
  ui/lib/core/stories/select.stories.js
  ui/lib/core/stories/toolbar/toolbar-actions.stories.js
  ui/lib/core/stories/toolbar/toolbar-download-button.stories.js
  ui/lib/core/stories/toolbar/toolbar-filters.stories.js
  ui/lib/core/stories/toolbar/toolbar-link.stories.js
  ui/lib/core/stories/toolbar/toolbar-secret-link.stories.js
  ui/lib/core/stories/toolbar/toolbar.stories.js
  ui/lib/core/stories/ttl-picker.stories.js
  ui/lib/core/stories/ttl-picker2.stories.js
  ui/lib/core/stories/vault-logo-spinner.stories.js
  ui/package.json
  ui/stories/alert-popup.stories.js
  ui/stories/auth-config-form/config.stories.js
  ui/stories/auth-config-form/options.stories.js
  ui/stories/auth-form.stories.js
  ui/stories/file-to-array-buffer.stories.js
  ui/stories/http-requests-container.stories.js
  ui/stories/http-requests-table.stories.js
  ui/stories/toggle.stories.js
  ui/yarn.lock
Labels: ui

#9379 Add nil check for quota manager
  vault/auth.go
  vault/core.go
  vault/mount.go
Labels: backport

#9380 Backport 1.4.3: upgrade storybook and babel deps (#9371)
  ui/.storybook/babel.config.js
  ui/app/components/auth-form.js
  ui/app/components/shamir-flow.js
  ui/app/components/tool-actions-form.js
  ui/app/controllers/vault/cluster/init.js
  ui/app/controllers/vault/cluster/license.js
  ui/app/routes/vault/cluster/secrets/backend/secret-edit.js
  ui/app/routes/vault/cluster/settings/configure-secret-backend.js
  ui/app/services/wizard.js
  ui/blueprints/story/files/__path__/stories/__name__.stories.js
  ui/lib/core/stories/alert-banner.stories.js
  ui/lib/core/stories/alert-inline.stories.js
  ui/lib/core/stories/chevron.stories.js
  ui/lib/core/stories/confirm-action.stories.js
  ui/lib/core/stories/doc-link.stories.js
  ui/lib/core/stories/empty-state.stories.js
  ui/lib/core/stories/form-field-groups.stories.js
  ui/lib/core/stories/form-field.stories.js
  ui/lib/core/stories/form-save-buttons.stories.js
  ui/lib/core/stories/icon.stories.js
  ui/lib/core/stories/info-table-row.stories.js
  ui/lib/core/stories/layout-loading.stories.js
  ui/lib/core/stories/list-view.stories.js
  ui/lib/core/stories/masked-input.stories.js
  ui/lib/core/stories/message-error.stories.js
  ui/lib/core/stories/message.stories.js
  ui/lib/core/stories/popup-menu.stories.js
  ui/lib/core/stories/search-select.stories.js
  ui/lib/core/stories/select.stories.js
  ui/lib/core/stories/toolbar/toolbar-actions.stories.js
  ui/lib/core/stories/toolbar/toolbar-download-button.stories.js
  ui/lib/core/stories/toolbar/toolbar-filters.stories.js
  ui/lib/core/stories/toolbar/toolbar-link.stories.js
  ui/lib/core/stories/toolbar/toolbar-secret-link.stories.js
  ui/lib/core/stories/toolbar/toolbar.stories.js
  ui/lib/core/stories/ttl-picker.stories.js
  ui/lib/core/stories/vault-logo-spinner.stories.js
  ui/package.json
  ui/stories/alert-popup.stories.js
  ui/stories/auth-config-form/config.stories.js
  ui/stories/auth-config-form/options.stories.js
  ui/stories/auth-form.stories.js
  ui/stories/file-to-array-buffer.stories.js
  ui/stories/http-requests-container.stories.js
  ui/stories/http-requests-table.stories.js
  ui/tests/integration/components/edit-form-test.js
  ui/tests/integration/components/search-select-test.js
  ui/tests/integration/components/select-test.js
  ui/tests/unit/services/wizard-test.js
  ui/yarn.lock
Labels: ui

#9381 Backport 1.5: upgrade storybook and babel deps (#9371)
  ui/.storybook/babel.config.js
  ui/blueprints/story/files/__path__/stories/__name__.stories.js
  ui/lib/core/stories/alert-banner.stories.js
  ui/lib/core/stories/alert-inline.stories.js
  ui/lib/core/stories/chevron.stories.js
  ui/lib/core/stories/confirm-action.stories.js
  ui/lib/core/stories/doc-link.stories.js
  ui/lib/core/stories/empty-state.stories.js
  ui/lib/core/stories/form-field-groups.stories.js
  ui/lib/core/stories/form-field.stories.js
  ui/lib/core/stories/form-save-buttons.stories.js
  ui/lib/core/stories/icon.stories.js
  ui/lib/core/stories/info-table-row.stories.js
  ui/lib/core/stories/info-table.stories.js
  ui/lib/core/stories/layout-loading.stories.js
  ui/lib/core/stories/list-view.stories.js
  ui/lib/core/stories/masked-input.stories.js
  ui/lib/core/stories/message-error.stories.js
  ui/lib/core/stories/message.stories.js
  ui/lib/core/stories/popup-menu.stories.js
  ui/lib/core/stories/search-select.stories.js
  ui/lib/core/stories/select.stories.js
  ui/lib/core/stories/toolbar/toolbar-actions.stories.js
  ui/lib/core/stories/toolbar/toolbar-download-button.stories.js
  ui/lib/core/stories/toolbar/toolbar-filters.stories.js
  ui/lib/core/stories/toolbar/toolbar-link.stories.js
  ui/lib/core/stories/toolbar/toolbar-secret-link.stories.js
  ui/lib/core/stories/toolbar/toolbar.stories.js
  ui/lib/core/stories/ttl-picker.stories.js
  ui/lib/core/stories/ttl-picker2.stories.js
  ui/lib/core/stories/vault-logo-spinner.stories.js
  ui/package.json
  ui/stories/alert-popup.stories.js
  ui/stories/auth-config-form/config.stories.js
  ui/stories/auth-config-form/options.stories.js
  ui/stories/auth-form.stories.js
  ui/stories/file-to-array-buffer.stories.js
  ui/stories/http-requests-container.stories.js
  ui/stories/http-requests-table.stories.js
  ui/stories/toggle.stories.js
  ui/yarn.lock
Labels: ui

#9386 Backport 1.5.0: DR secondary generate operation token styling updates (#9355)
  ui/app/styles/components/shamir-modal-flow.scss
  ui/app/styles/core.scss
  ui/app/styles/core/helpers.scss
  ui/app/templates/components/shamir-modal-flow.hbs
Labels: ui

#9326 request.connection.remote_addr only has IP
  website/pages/docs/enterprise/sentinel/properties.mdx
Labels: docs-cherrypick

#9314 Mention Linux packages on install page
  website/pages/docs/install/index.mdx
Labels: docs, website

#9140 🌷Website Maintenance
  website/.npm-upgrade.json
  website/.stylelintrc.js
  website/components/before-after-diagram/style.css
  website/components/subnav/index.jsx
  website/jsconfig.json
  website/layouts/api.jsx
  website/layouts/docs.jsx
  website/layouts/guides.jsx
  website/layouts/intro.jsx
  website/next.config.js
  website/package-lock.json
  website/package.json
  website/pages/_app.js
  website/pages/downloads/index.jsx
  website/pages/home/style.css
  website/pages/style.css
Labels: website

#9394 scripts: make build.sh gocmd aware
  scripts/build.sh
Labels: release/build

#9397 Updating token documentation
  website/pages/docs/auth/approle.mdx
  website/pages/partials/tokenstorefields.mdx
Labels: docs-cherrypick

#9388 Update tokens.mdx
  website/pages/docs/concepts/tokens.mdx
Labels: docs

#9391 Minor wording update in subnav
  website/data/subnav.js
Labels: website

#9342 Resource Quotas Doc
  website/pages/api-docs/system/lease-count-quotas.mdx
  website/pages/api-docs/system/quotas-config.mdx
  website/pages/api-docs/system/rate-limit-quotas.mdx
  website/pages/docs/concepts/resource-quotas.mdx
  website/pages/docs/enterprise/lease-count-quotas/index.mdx
Labels: docs

#9405 Set PKI CA cert default for ttl
  ui/app/models/pki-certificate.js
Labels: bug, ui

#9387 Ui/small replication action fixes
  ui/app/models/cluster.js
  ui/lib/core/addon/components/shamir-flow.js
  ui/lib/core/addon/components/shamir-modal-flow.js
  ui/lib/core/addon/templates/components/replication-header.hbs
  ui/lib/core/addon/templates/components/replication-page.hbs
  ui/lib/core/addon/templates/components/shamir-flow.hbs
  ui/lib/core/addon/templates/components/shamir-modal-flow.hbs
  ui/lib/core/app/components/shamir-flow.js
  ui/lib/core/app/components/shamir-modal-flow.js
  ui/lib/replication/addon/routes/mode.js
  ui/lib/replication/addon/templates/index.hbs
  ui/lib/replication/addon/templates/mode.hbs
Labels: ui

#9413 Backport 1.5.x: set default to 30 days for pki ca cert (#9405)
  ui/app/models/pki-certificate.js
Labels: backport, ui

#9412 Backport 1.5.x: Ui/small replication action fixes (#9387)
  ui/app/models/cluster.js
  ui/lib/core/addon/components/shamir-flow.js
  ui/lib/core/addon/components/shamir-modal-flow.js
  ui/lib/core/addon/templates/components/replication-header.hbs
  ui/lib/core/addon/templates/components/replication-page.hbs
  ui/lib/core/addon/templates/components/shamir-flow.hbs
  ui/lib/core/addon/templates/components/shamir-modal-flow.hbs
  ui/lib/core/app/components/shamir-flow.js
  ui/lib/core/app/components/shamir-modal-flow.js
  ui/lib/replication/addon/routes/mode.js
  ui/lib/replication/addon/templates/index.hbs
  ui/lib/replication/addon/templates/mode.hbs
Labels: backport, ui

#9418 Update GCP auth docs with warning about token impersonation
  website/pages/docs/auth/gcp.mdx
Labels: auth/gcp, docs, docs-cherrypick

#9414 Update index.mdx
  website/pages/docs/upgrading/index.mdx
Labels: docs-cherrypick

#8509 Add option allowed_domains_template enabling identity templating for issuing PKI certs
  builtin/logical/pki/backend_test.go
  builtin/logical/pki/cert_util.go
  builtin/logical/pki/path_roles.go
  builtin/logical/pki/path_roles_test.go
Labels: secret/pki

#9419 Make the names of WAL metrics exactly match their implementation.
  website/pages/docs/internals/telemetry.mdx
Labels: core/metric, docs

#9438 Ui/fix ui tests
  ui/lib/core/addon/components/replication-secondary-card.js
  ui/tests/integration/components/info-table-test.js
  ui/tests/integration/components/replication-dashboard-test.js
  ui/tests/integration/components/replication-header-test.js
  ui/tests/integration/components/replication-page-test.js
  ui/tests/integration/components/replication-secondary-card-test.js
  ui/tests/integration/components/replication-summary-card-test.js
Labels: ui

#9444 Backport 1.5: fix ui tests (#9438)
  ui/lib/core/addon/components/replication-secondary-card.js
  ui/tests/integration/components/info-table-test.js
  ui/tests/integration/components/replication-dashboard-test.js
  ui/tests/integration/components/replication-header-test.js
  ui/tests/integration/components/replication-page-test.js
  ui/tests/integration/components/replication-secondary-card-test.js
  ui/tests/integration/components/replication-summary-card-test.js
Labels: ui

#9443 fix linting failures by upgrading prettier
  ui/package.json
  ui/yarn.lock
Labels: ui

#9417 docs: Updating vault-helm service_registration docs
  website/pages/docs/platform/k8s/helm/configuration.mdx
  website/pages/docs/platform/k8s/helm/examples/ha-with-consul.mdx
Labels: docs, docs-cherrypick, ecosystem, helmchart

#9467 Add truthy check for data.policies before calling 'includes' on it
  ui/app/services/auth.js
Labels: backport, ui

#9472 Backport: Add truthy check for data.policies before calling 'includes' (#9467)
  ui/app/services/auth.js
Labels: ui

#9416 Don't require AWS_ROLE_SESSION_NAME to sts:AssumeRoleWithWebIdentity
  sdk/helper/awsutil/generate_credentials.go
Labels: backport

#9463 Update Alert banner message-body to match design system
  ui/app/styles/core.scss
  ui/app/styles/core/alert-banner.scss
  ui/lib/core/addon/templates/components/alert-banner.hbs
Labels: ui

#9479 Backport 1.5.x: Update Alert banner message-body to match design system (#9463)
  ui/app/styles/core.scss
  ui/app/styles/core/alert-banner.scss
  ui/lib/core/addon/templates/components/alert-banner.hbs
Labels: backport, ui

#9436 Remove namespace from mount_point label.
  vault/request_handling.go
  vault/token_store.go
  vault/wrapping.go
Labels: core/metric

#9482 Backport 1.5: Remove namespace from mount_point label. (#9436)
  vault/request_handling.go
  vault/token_store.go
  vault/wrapping.go
Labels: backport, core/metric

#9432 Update the seal migration docs
  website/pages/docs/concepts/seal.mdx
Labels: docs-cherrypick

#9493 Bug Fix: revert initialValue for PKI CA cert
  ui/app/models/pki-certificate.js
Labels: ui

#9503 Backport: 1.5.x: remove default value based on workflow discussions (#9493)
  ui/app/models/pki-certificate.js
Labels: backport, ui

#9502 Resource Quotas: Remove 'burst' Param from Rate Limiter
  vault/external_tests/quotas/quotas_test.go
  vault/logical_system_quotas.go
  vault/quotas/quotas_rate_limit.go
  vault/quotas/quotas_rate_limit_test.go
  vault/quotas/quotas_test.go
  website/pages/api-docs/system/rate-limit-quotas.mdx
  website/pages/docs/concepts/resource-quotas.mdx
Labels: backport, core

#9507 Updates the GCP auth plugin
  go.mod
  go.sum
  vendor/github.com/hashicorp/vault-plugin-auth-gcp/plugin/aliasing.go
  vendor/github.com/hashicorp/vault-plugin-auth-gcp/plugin/gcp_config.go
  vendor/modules.txt
Labels: backport

#9508 Backport 1.5.0: Updates the GCP auth plugin
  go.mod
  go.sum
  vendor/github.com/hashicorp/vault-plugin-auth-gcp/plugin/aliasing.go
  vendor/github.com/hashicorp/vault-plugin-auth-gcp/plugin/gcp_config.go
  vendor/modules.txt
Labels: auth/gcp, ecosystem

#9511 Docs: replaces storage backend with secrets engine in the gcp secrets docs
  website/pages/docs/secrets/gcp/index.mdx
Labels: docs, docs-cherrypick, secret/gcp

#9070 Add missed algorithms aes128-gcm96, ecdsa-p384, ecdsa-p521 in UI
  ui/app/templates/partials/transit-form-create.hbs
  ui/tests/acceptance/transit-test.js
Labels: ui

#9496 Use the accessor method so state lock is used to check if perf standby
  vault/request_forwarding.go
Labels: data-race

#9541 doc: remove beta warnings for openshift
  website/pages/docs/platform/k8s/helm/configuration.mdx
  website/pages/docs/platform/k8s/helm/openshift.mdx
Labels: docs-cherrypick, helmchart

#9543 doc: add k8s probe notes to helm doc
  website/pages/docs/platform/k8s/helm/run.mdx
Labels: docs-cherrypick

#9494 Changes the default iam_alias and gce_alias values in the GCP auth API docs
  website/pages/api-docs/auth/gcp/index.mdx
Labels: docs, docs-cherrypick

#9533 raft: Fix some snapshot restore issues
  physical/raft/raft.go
  vault/raft.go
Labels: storage/raft

#9518 docs: specify which JWT/OIDC role params support JSON pointer syntax in API docs
  website/pages/api-docs/auth/jwt/index.mdx
  website/pages/docs/auth/jwt.mdx
Labels: auth/jwt-oidc, docs, docs-cherrypick

#9547 Backport 1.5.1: raft: Fix some snapshot restore issues (#9533)
  physical/raft/raft.go
  vault/raft.go
Labels: storage/raft

#9546 Link to release notes on downloads page
  website/pages/downloads/index.jsx
Labels: docs-cherrypick

#9544 docs: add pages to sidebar
  website/data/api-navigation.js
  website/data/docs-navigation.js
  website/pages/api-docs/system/quotas-config.mdx
Labels: docs-cherrypick

#9554 Don't assume that time.Duration can be represented by an int.
  helper/metricsutil/gauge_process.go
Labels: backport

#9558 Add sentinel configuration stanza documentation to OSS.
  website/pages/docs/configuration/index.mdx
  website/pages/docs/configuration/sentinel.mdx
Labels: website

#9089 Initial 1.5.0 Upgrade Doc
  website/pages/docs/upgrading/upgrade-to-1.5.0.mdx
Labels: docs, docs-cherrypick

#9563 Add upgrade note for #9553.
  website/pages/docs/upgrading/upgrade-to-1.5.0.mdx
Labels: docs-cherrypick, website

#9569 Add upgrade note for #9555.
  website/pages/docs/upgrading/upgrade-to-1.5.0.mdx
Labels: docs-cherrypick

#9570 Fix links to documentation.
  website/data/docs-navigation.js
  website/pages/docs/upgrading/upgrade-to-1.5.0.mdx
Labels: docs-cherrypick

#9559 Docs: Update MongoDB to support root credential rotation
  website/pages/docs/secrets/databases/index.mdx
  website/pages/docs/secrets/databases/mongodb.mdx
Labels: docs, docs-cherrypick, secret/database/mongodb

#9585 docs: fix sentence in gcp secrets by removing unneeded word
  website/pages/docs/secrets/gcp/index.mdx
Labels: docs-cherrypick

#9588 Fix navigation for the Sentinel config and clarify module usage
  website/data/docs-navigation.js
  website/pages/docs/configuration/sentinel.mdx
Labels: docs-cherrypick

#9587 Add upgrade note for okta issue.
  website/pages/docs/upgrading/upgrade-to-1.4.0.mdx
  website/pages/docs/upgrading/upgrade-to-1.5.0.mdx
  website/pages/partials/okta-group-pagination.mdx
Labels: docs-cherrypick

#9599 Update OIDC docs
  website/pages/docs/auth/jwt.mdx
Labels: docs-cherrypick

#9606 Forward requests for rotate-root on Performance secondary / standbys
  builtin/logical/aws/path_config_rotate_root.go
Labels: backport, bug, secret/aws

#9614 Remove obsolete kms->shamir warning. Add warning about taking a backup.
  website/pages/docs/concepts/seal.mdx
Labels: docs-cherrypick

#9613 Fix broken links in website footer
  website/components/subnav/index.jsx
  website/layouts/index.jsx
  website/pages/security/index.mdx
  website/public/files/press-kit.zip
Labels: docs-cherrypick

#9612 docs: add missing parameters to the gcpkms key create/update API
  website/pages/api-docs/secret/gcpkms/index.mdx
Labels: docs-cherrypick

#9581 Rate Limit Quota Headers
  go.mod
  go.sum
  http/util.go
  vault/core.go
  vault/logical_system_quotas.go
  vault/quotas/quotas.go
  vault/quotas/quotas_rate_limit.go
  vault/quotas/quotas_rate_limit_test.go
  vault/quotas/quotas_test.go
  vendor/github.com/sethvargo/go-limiter/LICENSE
  vendor/github.com/sethvargo/go-limiter/Makefile
  vendor/github.com/sethvargo/go-limiter/README.md
  vendor/github.com/sethvargo/go-limiter/go.mod
  vendor/github.com/sethvargo/go-limiter/go.sum
  vendor/github.com/sethvargo/go-limiter/httplimit/middleware.go
  vendor/github.com/sethvargo/go-limiter/limiter.go
  vendor/github.com/sethvargo/go-limiter/memorystore/store.go
  vendor/github.com/sethvargo/go-limiter/store.go
  vendor/modules.txt
  website/pages/api-docs/system/quotas-config.mdx
  website/pages/api-docs/system/rate-limit-quotas.mdx
Labels: core

#9592 Add new page documenting limits.
  website/data/docs-navigation.js
  website/pages/docs/internals/limits.mdx
  website/pages/docs/internals/telemetry.mdx
Labels: docs, docs-cherrypick

#9632 Ui/ttl wrap
  ui/app/components/wrap-ttl.js
  ui/tests/integration/components/transit-key-actions-test.js
  ui/tests/integration/components/wrap-ttl-test.js
Labels: ui

#9638 docs: fix gcpkms steps for asymmetric decryption and asymmetric signing
  website/pages/docs/secrets/gcpkms/index.mdx
Labels: docs-cherrypick

#9647 Ui/transform enable
  ui/app/components/mount-backend-form.js
  ui/app/helpers/mountable-secret-engines.js
  ui/app/styles/components/box-radio.scss
  ui/app/styles/components/tool-tip.scss
  ui/app/templates/components/mount-backend-form.hbs
  ui/lib/core/addon/components/box-radio.js
  ui/lib/core/addon/helpers/has-feature.js
  ui/lib/core/addon/templates/components/box-radio.hbs
  ui/lib/core/app/components/box-radio.js
  ui/lib/core/stories/box-radio.md
  ui/lib/core/stories/box-radio.stories.js
  ui/public/eco/transform.svg
  ui/tests/integration/components/box-radio-test.js
Labels: ui

#9625 Sidebranch: Transform Secret Engine Initial setup
  ui/app/adapters/transform.js
  ui/app/adapters/transform/role.js
  ui/app/adapters/transform/template.js
  ui/app/components/role-edit.js
  ui/app/components/transform-edit-form.js
  ui/app/components/transform-edit.js
  ui/app/helpers/options-for-backend.js
  ui/app/helpers/supported-secret-backends.js
  ui/app/models/transform.js
  ui/app/models/transform/role.js
  ui/app/models/transform/template.js
  ui/app/router.js
  ui/app/routes/vault/cluster/secrets/backend/list.js
  ui/app/routes/vault/cluster/secrets/backend/secret-edit.js
  ui/app/services/path-help.js
  ui/app/styles/core/forms.scss
  ui/app/templates/components/transform-edit-form.hbs
  ui/app/templates/components/transform-edit.hbs
  ui/lib/core/addon/components/form-field.js
  ui/lib/core/addon/components/search-select.js
  ui/lib/core/addon/templates/components/form-field.hbs
  ui/lib/core/addon/templates/components/search-select.hbs
Labels: ui
