Repository hashicorp/vault, pull requests merged in 2020-05, with the labels that each got.

#8910 UI/Fix snowman that appears when namespaces have more than one period
  ui/app/components/namespace-link.js
Labels: ui

#8915 Backport 1.4.x: Fix snowman that appears when namespaces have more than one period
  ui/app/components/namespace-link.js
Labels: backport, ui

#8913 add toggle to core addon to fix broken ci builds
  ui/lib/core/addon/components/toggle.js
  ui/lib/core/addon/templates/components/toggle.hbs
  ui/lib/core/app/components/toggle.js
Labels: ui

#8917 Backport 1.4.x: add toggle to core addon to fix broken ci builds (#8913)
  ui/lib/core/addon/components/toggle.js
  ui/lib/core/addon/templates/components/toggle.hbs
  ui/lib/core/app/components/toggle.js
Labels: backport, ui

#8777 Added plugin reload function to api
  api/sys_plugins.go
  command/commands.go
  command/plugin_reload.go
  command/plugin_reload_test.go
  vendor/github.com/hashicorp/vault/api/sys_plugins.go
  website/pages/docs/commands/plugin/index.mdx
  website/pages/docs/commands/plugin/reload.mdx
Labels: core/api, core/cli, core/plugin

#8923 Add TypeFloat to field data
  sdk/framework/backend.go
  sdk/framework/field_data.go
  sdk/framework/field_data_test.go
  sdk/framework/field_type.go
Labels: core

#8906 Ui/replication/primary reindexing
  ui/app/adapters/replication-mode.js
  ui/app/models/replication-mode.js
  ui/app/serializers/replication-mode.js
  ui/lib/core/addon/components/replication-dashboard.js
  ui/lib/core/addon/components/replication-page.js
  ui/lib/core/addon/mixins/replication-actions.js
  ui/lib/core/addon/templates/components/replication-dashboard.hbs
  ui/lib/core/addon/templates/components/replication-page.hbs
  ui/lib/replication/addon/templates/components/replication-summary.hbs
  ui/tests/acceptance/replication/dr/secondary-test.js
Labels: ui

#8920 Update standalone-tls.mdx
  website/pages/docs/platform/k8s/helm/examples/standalone-tls.mdx
Labels: docs, helmchart

#8894 raft: use file paths for TLS info in the retry_join block
  physical/raft/raft.go
  sdk/helper/tlsutil/tlsutil.go
  vendor/github.com/hashicorp/vault/sdk/helper/tlsutil/tlsutil.go
  website/pages/docs/configuration/storage/raft.mdx
Labels: storage/raft

#8903 Sidebranch: component and acceptance tests
  ui/app/styles/components/replication-dashboard.scss
  ui/lib/core/addon/components/replication-header.js
  ui/lib/core/addon/components/replication-secondary-card.js
  ui/lib/core/addon/templates/components/alert-inline.hbs
  ui/lib/core/addon/templates/components/replication-dashboard.hbs
  ui/lib/core/addon/templates/components/replication-header.hbs
  ui/lib/core/addon/templates/components/replication-page.hbs
  ui/lib/core/addon/templates/components/replication-secondary-card.hbs
  ui/tests/acceptance/enterprise-replication-test.js
  ui/tests/integration/components/replication-dashboard-test.js
  ui/tests/integration/components/replication-header-test.js
  ui/tests/integration/components/replication-page-test.js
  ui/tests/integration/components/replication-secondary-card-test.js
  ui/tests/integration/components/replication-table-rows-test.js
Labels: ui

#8940 Adding redirect to learn
  website/_redirects
Labels: docs/learn

#8950 docs: remove comparison reference in what-is-vault page
  website/pages/docs/what-is-vault/index.mdx
Labels: docs-cherrypick

#8945 Sidebranch: remove delta, toggle, and make auto-refresh
  ui/app/styles/components/replication-dashboard.scss
  ui/app/templates/vault/cluster/replication-dr-promote/details.hbs
  ui/lib/core/addon/components/replication-actions.js
  ui/lib/core/addon/components/replication-dashboard.js
  ui/lib/core/addon/components/replication-page.js
  ui/lib/core/addon/components/replication-secondary-card.js
  ui/lib/core/addon/components/replication-table-rows.js
  ui/lib/core/addon/components/replication-toggle.js
  ui/lib/core/addon/templates/components/replication-dashboard.hbs
  ui/lib/core/addon/templates/components/replication-page.hbs
  ui/lib/core/addon/templates/components/replication-secondary-card.hbs
  ui/lib/core/addon/templates/components/replication-toggle.hbs
  ui/lib/core/app/components/replication-toggle.js
Labels: ui

#8954 Fix docs typo
  website/pages/docs/commands/debug.mdx
Labels: docs-cherrypick

#8891 Ui/ttl form field model
  ui/app/components/role-ssh-edit.js
  ui/app/controllers/vault/cluster/secrets/backend/sign.js
  ui/app/styles/components/ttl-picker2.scss
  ui/app/templates/partials/form-field-from-model.hbs
  ui/lib/core/addon/components/form-field.js
  ui/lib/core/addon/components/ttl-picker2.js
  ui/lib/core/addon/templates/components/form-field.hbs
  ui/lib/core/addon/templates/components/ttl-picker2.hbs
  ui/lib/core/stories/ttl-picker2.md
  ui/tests/acceptance/settings/mount-secret-backend-test.js
  ui/tests/integration/components/ttl-picker2-test.js
Labels: ui

#8931 Update vault helm docs with new helm repo
  website/pages/docs/platform/k8s/helm/examples/enterprise-best-practice.mdx
  website/pages/docs/platform/k8s/helm/examples/enterprise-dr-with-raft.mdx
  website/pages/docs/platform/k8s/helm/examples/enterprise-perf-with-raft.mdx
  website/pages/docs/platform/k8s/helm/examples/enterprise-with-raft.mdx
  website/pages/docs/platform/k8s/helm/examples/ha-with-raft.mdx
  website/pages/docs/platform/k8s/helm/index.mdx
  website/pages/docs/platform/k8s/helm/run.mdx
  website/pages/docs/platform/k8s/injector/installation.mdx
Labels: docs, enhancement

#8959 ensure status menu displays replication state, not just one
  ui/app/models/cluster.js
  ui/lib/core/addon/components/replication-mode-summary.js
Labels: ui

#8960 doc: add note about versions for helm upgrades
  website/pages/docs/platform/k8s/helm/run.mdx
Labels: docs-cherrypick

#8963 Update Azure Auth docs
  website/pages/docs/auth/azure.mdx
Labels: docs-cherrypick

#8957 Removing some unnecessary escape characters from Agent docs
  website/pages/docs/agent/index.mdx
Labels: docs-cherrypick

#8965 Fix minor typos in docs
  website/pages/docs/enterprise/control-groups/index.mdx
  website/pages/docs/secrets/databases/mssql.mdx
  website/pages/docs/secrets/transform/index.mdx
Labels: docs-cherrypick

#8922 Add vault docs redirects
  website/_redirects
  website/data/api-navigation.js
  website/data/docs-navigation.js
  website/pages/api-docs/secret/mongodb/index.mdx
  website/pages/api-docs/secret/mssql/index.mdx
  website/pages/api-docs/secret/mysql/index.mdx
  website/pages/api-docs/secret/postgresql/index.mdx
  website/pages/docs/secrets/mongodb/index.mdx
  website/pages/docs/secrets/mssql/index.mdx
  website/pages/docs/secrets/mysql/index.mdx
  website/pages/docs/secrets/postgresql/postgres-deprecated.mdx
Labels: docs, docs-cherrypick

#8951 More helpful errors when import bundled certificates
  builtin/logical/pki/path_config_ca.go
  sdk/helper/certutil/helpers.go
  sdk/helper/certutil/types.go
Labels: enhancement, secret/pki

#8724 Doc: seal migration update
  website/pages/docs/concepts/seal.mdx
Labels: docs

#8982 Warn in the documentation against the use of CKM_RSA_PKCS.
  website/pages/docs/configuration/seal/pkcs11.mdx
Labels: docs-cherrypick

#8975 Add Replication Reindexing Progress Bar
  ui/README.md
  ui/app/styles/components/replication-dashboard.scss
  ui/app/styles/components/replication-summary.scss
  ui/app/styles/components/ui-wizard.scss
  ui/app/styles/core/message.scss
  ui/app/styles/core/progress.scss
  ui/app/styles/utils/_bulma_variables.scss
  ui/lib/core/addon/components/alert-banner.js
  ui/lib/core/addon/components/replication-dashboard.js
  ui/lib/core/addon/templates/components/alert-banner.hbs
  ui/lib/core/addon/templates/components/replication-dashboard.hbs
  ui/lib/core/addon/templates/components/replication-secondary-card.hbs
  ui/lib/core/stories/alert-banner.md
  ui/lib/core/stories/alert-banner.stories.js
  ui/tests/integration/components/replication-dashboard-test.js
Labels: ui

#8989 Static roles aren't supported yet for atlas.
  website/pages/docs/secrets/databases/mongodbatlas.mdx
Labels: docs-cherrypick

#8956 Sidebranch: Performance Secondary Dashboard
  ui/app/styles/components/replication-dashboard.scss
  ui/app/styles/components/replication-summary.scss
  ui/app/templates/vault/cluster/replication-dr-promote/details.hbs
  ui/lib/core/addon/components/replication-header.js
  ui/lib/core/addon/components/replication-page.js
  ui/lib/core/addon/helpers/format-number.js
  ui/lib/core/addon/templates/components/replication-dashboard.hbs
  ui/lib/core/addon/templates/components/replication-header.hbs
  ui/lib/core/addon/templates/components/replication-page.hbs
  ui/lib/core/addon/templates/components/replication-secondary-card.hbs
  ui/lib/core/app/helpers/format-number.js
  ui/lib/replication/addon/templates/components/replication-summary.hbs
  ui/lib/replication/addon/templates/mode.hbs
  ui/tests/acceptance/enterprise-replication-test.js
  ui/tests/acceptance/replication/dr/secondary-test.js
  ui/tests/integration/components/replication-dashboard-test.js
  ui/tests/integration/components/replication-header-test.js
  ui/tests/integration/components/replication-secondary-card-test.js
Labels: ui

#8992 doc: add notes about injector annotations
  website/pages/docs/platform/k8s/injector/annotations.mdx
Labels: docs-cherrypick

#8362 Create configutil and move some common config and setup functions there
  api/go.mod
  builtin/credential/okta/path_config.go
  builtin/logical/database/rollback_test.go
  command/agent.go
  command/agent/cache/listener.go
  command/agent/cache/testing.go
  command/agent/config/config.go
  command/agent/config/config_test.go
  command/seal_migration_test.go
  command/server.go
  command/server/config.go
  command/server/config_test_helpers.go
  command/server/config_util.go
  command/server/listener.go
  command/server/listener_tcp.go
  command/server/listener_tcp_test.go
  command/server/seal/server_seal.go
  command/server/seal/server_seal_alicloudkms.go
  command/server/seal/server_seal_awskms.go
  command/server/seal/server_seal_azurekeyvault.go
  command/server/seal/server_seal_gcpckms.go
  command/server/seal/server_seal_ocikms.go
  command/server/seal/server_seal_transit.go
  command/server/server_seal_transit_acc_test.go
  command/server/test-fixtures/config.hcl
  command/server/test-fixtures/config2.hcl
  command/server_test.go
  command/server_util.go
  go.mod
  go.sum
  helper/builtinplugins/registry.go
  helper/testhelpers/seal/sealhelper.go
  http/forwarded_for_test.go
  http/handler.go
  http/handler_test.go
  http/logical_test.go
  http/sys_metrics_test.go
  http/testing.go
  http/util.go
  internalshared/configutil/config.go
  internalshared/configutil/config_util.go
  internalshared/configutil/kms.go
  internalshared/configutil/listener.go
  internalshared/configutil/merge.go
  internalshared/configutil/telemetry.go
  internalshared/listenerutil/listener.go
  internalshared/reloadutil/reload.go
  internalshared/reloadutil/reload_test.go
  vault/audit.go
  vault/core.go
  vault/ha.go
  vault/identity_store_entities.go
  vault/init.go
  vault/rekey.go
  vault/request_handling.go
  vault/seal_testing_util.go
  vault/testing.go
Labels: core/config, enhancement

#8540 Enable root user credential rotation in MongoDB
  plugins/database/mongodb/connection_producer.go
  plugins/database/mongodb/mongodb.go
  plugins/database/mongodb/mongodb_test.go
Labels: secret/database, secret/mongodb

#8973 docs: updating helm configuration
  website/pages/docs/platform/k8s/helm/configuration.mdx
Labels: docs-cherrypick

#8991 Fix AWS auth renewals
  builtin/credential/aws/path_login.go
Labels: auth/aws, bug

#8995 Ui/replication/test update
  ui/app/styles/core/progress.scss
  ui/lib/core/addon/components/replication-dashboard.js
  ui/lib/core/stories/alert-banner.stories.js
  ui/tests/integration/components/replication-dashboard-test.js
Labels: ui

#9019 doc: add environment variable template example
  website/pages/docs/platform/k8s/injector/examples.mdx
Labels: docs-cherrypick

#9024 Backport 1.3.x: Fix AWS auth renewals (#8991)
  builtin/credential/aws/path_login.go
Labels: auth/aws, backport, bug

#9023 Backport 1.4.x: Fix AWS auth renewals (#8991)
  builtin/credential/aws/path_login.go
Labels: auth/aws, backport, bug

#9006 Update to latest version of vault-plugin-secrets-openldap
  go.mod
  go.sum
  vendor/github.com/hashicorp/vault-plugin-secrets-openldap/go.mod
  vendor/github.com/hashicorp/vault-plugin-secrets-openldap/go.sum
  vendor/github.com/hashicorp/vault-plugin-secrets-openldap/path_rotate.go
  vendor/modules.txt
Labels: backport

#8997 secrets/database: return any error from rotations
  builtin/logical/database/path_rotate_credentials.go
Labels: backport

#9029 prepare KnownSecondariesTable for backend compatibility
  ui/lib/replication/addon/components/known-secondaries-table.js
  ui/lib/replication/addon/templates/components/known-secondaries-card.hbs
  ui/lib/replication/addon/templates/components/known-secondaries-table.hbs
  ui/tests/integration/components/known-secondaries-card-test.js
  ui/tests/integration/components/known-secondaries-table-test.js
Labels: ui

#9035 Backport: secrets/database: return any error from rotations (#8997)
  builtin/logical/database/path_rotate_credentials.go
Labels: backport

#9017 Utility for collecting new gauge metrics
  helper/metricsutil/gauge_process.go
  helper/metricsutil/gauge_process_test.go
  helper/metricsutil/wrapped_metrics.go
Labels: core/metric

#9044 agent/template: update consul-template dep
  command/agent/template/template.go
  go.mod
  go.sum
Labels: backport

#9058 doc: clarify token helper intro
  website/pages/docs/commands/token-helper.mdx
Labels: docs-cherrypick

#8589 Switch expiration manager's pending map to a sync.Map.
  vault/expiration.go
  vault/expiration_test.go
Labels: core/lease

#9010 Sidebranch: address transition issues on replication engine and actions
  ui/app/models/cluster.js
  ui/app/models/replication-attributes.js
  ui/lib/core/addon/components/replication-page.js
  ui/lib/core/addon/mixins/replication-actions.js
  ui/lib/core/addon/templates/components/layout-loading.hbs
  ui/lib/core/addon/templates/components/replication-mode-summary.hbs
  ui/lib/core/addon/templates/components/replication-page.hbs
  ui/lib/replication/addon/components/replication-summary.js
  ui/lib/replication/addon/controllers/replication-mode.js
  ui/lib/replication/addon/routes/application.js
  ui/lib/replication/addon/templates/components/replication-summary.hbs
  ui/lib/replication/addon/templates/index.hbs
  ui/lib/replication/addon/templates/mode.hbs
  ui/tests/integration/components/replication-page-test.js
Labels: ui

#9039 update deps for security
  ui/package.json
  ui/yarn.lock
Labels: ui

#9064 Update release notes
  website/pages/docs/upgrading/upgrade-to-1.3.5.mdx
  website/pages/docs/upgrading/upgrade-to-1.4.1.mdx
Labels: docs-cherrypick

#9060 Support reading Raft TLS flags from file
  CHANGELOG.md
  command/base_helpers.go
  command/base_helpers_test.go
  command/operator_raft_join.go
Labels: command, core/cli, enhancement

#9036 Add some notes on what tidy does and how to see if your cluster can handle it
  website/pages/api-docs/auth/token/index.mdx
Labels: docs-cherrypick

#9078 Add go version to server message output
  CHANGELOG.md
  command/server.go
Labels: core, enhancement

#9038 Add note regarding LDAP regression.
  website/pages/docs/upgrading/upgrade-to-1.4.0.mdx
  website/pages/docs/upgrading/upgrade-to-1.4.1.mdx
  website/pages/partials/ldap-upndomain-issue.mdx
Labels: docs-cherrypick

#8637 Add user configurable password policies available to secret engines
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/helper/random/parser.go
  sdk/helper/random/parser_test.go
  sdk/helper/random/registry.go
  sdk/helper/random/registry_test.go
  sdk/helper/random/rules.go
  sdk/helper/random/rules_test.go
  sdk/helper/random/serializing.go
  sdk/helper/random/serializing_test.go
  sdk/helper/random/string_generator.go
  sdk/helper/random/string_generator_test.go
  sdk/logical/storage_inmem.go
  sdk/logical/system_view.go
  sdk/plugin/grpc_system.go
  sdk/plugin/grpc_system_test.go
  sdk/plugin/pb/backend.pb.go
  sdk/plugin/pb/backend.proto
  vault/dynamic_system_view.go
  vault/dynamic_system_view_test.go
  vault/logical_system.go
  vault/logical_system_paths.go
  vault/logical_system_test.go
  vendor/github.com/hashicorp/vault/api/go.mod
  vendor/github.com/hashicorp/vault/api/go.sum
  vendor/github.com/hashicorp/vault/sdk/helper/random/parser.go
  vendor/github.com/hashicorp/vault/sdk/helper/random/registry.go
  vendor/github.com/hashicorp/vault/sdk/helper/random/rules.go
  vendor/github.com/hashicorp/vault/sdk/helper/random/serializing.go
  vendor/github.com/hashicorp/vault/sdk/helper/random/string_generator.go
  vendor/github.com/hashicorp/vault/sdk/logical/storage_inmem.go
  vendor/github.com/hashicorp/vault/sdk/logical/system_view.go
  vendor/github.com/hashicorp/vault/sdk/plugin/grpc_system.go
  vendor/github.com/hashicorp/vault/sdk/plugin/pb/backend.pb.go
  vendor/github.com/hashicorp/vault/sdk/plugin/pb/backend.proto
  vendor/github.com/mitchellh/mapstructure/.travis.yml
  vendor/github.com/mitchellh/mapstructure/CHANGELOG.md
  vendor/github.com/mitchellh/mapstructure/go.mod
  vendor/github.com/mitchellh/mapstructure/mapstructure.go
  vendor/modules.txt
Labels: enhancement, helper/random

#9101 Add an example of templated policy using k8s metadata
  website/pages/docs/concepts/policies.mdx
Labels: docs-cherrypick

#9086 Update seal docs to reflect 1.3 changes.
  website/pages/docs/concepts/seal.mdx
  website/public/img/vault-autounseal-storage.png
  website/public/img/vault-shamir-storage.png
Labels: docs-cherrypick

#9103 MDX Components Style Fix
  website/pages/style.css
Labels: website

#9104 correct sockaddr.is_contained example
  website/pages/docs/enterprise/sentinel/examples.mdx
Labels: docs-cherrypick

#9079 Ui/summary dashboard
  ui/app/app.js
  ui/app/styles/components/replication-dashboard.scss
  ui/app/styles/components/replication-header.scss
  ui/app/styles/core.scss
  ui/lib/core/addon/components/key-value-header.js
  ui/lib/core/addon/components/replication-dashboard.js
  ui/lib/core/addon/components/replication-header.js
  ui/lib/core/addon/components/replication-page.js
  ui/lib/core/addon/components/replication-secondary-card.js
  ui/lib/core/addon/components/replication-summary-card.js
  ui/lib/core/addon/templates/components/key-value-header.hbs
  ui/lib/core/addon/templates/components/replication-dashboard.hbs
  ui/lib/core/addon/templates/components/replication-header.hbs
  ui/lib/core/addon/templates/components/replication-page.hbs
  ui/lib/core/addon/templates/components/replication-secondary-card.hbs
  ui/lib/core/addon/templates/components/replication-summary-card.hbs
  ui/lib/core/app/components/key-value-header.js
  ui/lib/core/app/components/replication-summary-card.js
  ui/lib/replication/addon/components/replication-primary-card.js
  ui/lib/replication/addon/engine.js
  ui/lib/replication/addon/templates/components/replication-summary.hbs
  ui/lib/replication/addon/templates/mode.hbs
  ui/tests/acceptance/enterprise-replication-test.js
  ui/tests/integration/components/replication-dashboard-test.js
  ui/tests/integration/components/replication-summary-card-test.js
Labels: ui

#9061 Replication Management Sidebranch: Replication Action Disable
  ui/app/styles/components/action-block.scss
  ui/app/styles/components/modal.scss
  ui/app/styles/core/helpers.scss
  ui/app/templates/vault/cluster/replication-dr-promote/details.hbs
  ui/app/templates/vault/cluster/replication-dr-promote/index.hbs
  ui/lib/core/addon/components/confirmation-modal.js
  ui/lib/core/addon/templates/components/confirmation-modal.hbs
  ui/lib/core/addon/templates/components/modal.hbs
  ui/lib/core/addon/templates/components/replication-action-disable.hbs
  ui/lib/core/addon/templates/components/replication-actions.hbs
  ui/lib/core/addon/templates/components/replication-header.hbs
  ui/lib/core/app/components/confirmation-modal.js
  ui/tests/integration/components/confirmation-modal-test.js
  ui/tests/integration/components/replication-actions-test.js
Labels: ui
