Repository hashicorp/vault, pull requests merged in 2020-06, with the labels that each got.

#9027 Integrated Storage (Raft): Add Support for max_entry_size Config
  CHANGELOG.md
  physical/raft/raft.go
  physical/raft/raft_test.go
  website/pages/docs/configuration/storage/raft.mdx
  website/pages/docs/internals/telemetry.mdx
Labels: core, core/storage, storage/raft

#9105 Backport raft-storage.entry_size Metric
  physical/raft/raft.go
Labels: backport

#9100 Add key_version to Transit Logical Response
  CHANGELOG.md
  builtin/logical/transit/path_datakey.go
  builtin/logical/transit/path_encrypt.go
  builtin/logical/transit/path_encrypt_test.go
  builtin/logical/transit/path_rewrap.go
  builtin/logical/transit/path_rewrap_test.go
  builtin/logical/transit/path_sign_verify.go
Labels: core/secret, enhancement, secret/transit

#9112 change message with bold 'not' if primary
  ui/lib/core/addon/components/replication-dashboard.js
  ui/lib/core/addon/templates/components/replication-dashboard.hbs
Labels: ui

#9114 agent/raft: fix typo in help strings
  command/operator_raft_join.go
Labels: core/cli

#8974 Add docs for password policies
  website/data/api-navigation.js
  website/data/docs-navigation.js
  website/pages/api-docs/system/policies-password.mdx
  website/pages/docs/concepts/password-policies.mdx
  website/public/img/vault-password-policy-chance.svg
  website/public/img/vault-password-policy-flow.svg
  website/public/img/vault-password-policy-performance.svg
Labels: docs

#9052 Token creation counters
  helper/metricsutil/bucket.go
  helper/metricsutil/bucket_test.go
  helper/metricsutil/wrapped_metrics.go
  vault/request_handling.go
  vault/request_handling_test.go
  vault/token_store.go
  vault/token_store_test.go
  vault/wrapping.go
Labels: core/metric

#9125 Add JSDocs to components
  ui/lib/core/addon/components/replication-doc-link.js
  ui/lib/core/addon/components/replication-header.js
  ui/lib/core/addon/components/replication-table-rows.js
  ui/lib/replication/addon/components/replication-primary-card.js
Labels: ui

#9133 Fix 1.4 upgrade guide
  website/pages/docs/upgrading/upgrade-to-1.4.0.mdx
Labels: docs-cherrypick

#9107 Docs updates for vault-k8s 0.4.0
  website/pages/docs/platform/k8s/injector/annotations.mdx
Labels: docs, docs-cherrypick, ecosystem

#9116 Docs updates for vault-helm 0.6.0 release
  website/pages/docs/platform/k8s/helm/configuration.mdx
Labels: docs, docs-cherrypick, ecosystem

#9127 Refactor recover replication action with modal
  ui/lib/core/addon/templates/components/replication-action-recover.hbs
Labels: ui

#9135 docs/k8s: Add OpenShift K8s beta documentation
  website/data/docs-navigation.js
  website/pages/docs/platform/k8s/helm/configuration.mdx
  website/pages/docs/platform/k8s/helm/examples/standalone-tls.mdx
  website/pages/docs/platform/k8s/helm/openshift.mdx
  website/pages/docs/platform/k8s/helm/run.mdx
  website/pages/docs/platform/k8s/injector/annotations.mdx
Labels: docs-cherrypick, ecosystem, helmchart

#9136 UI: Fix replication management tests
  ui/lib/core/addon/components/replication-header.js
  ui/lib/core/addon/components/replication-page.js
  ui/lib/core/addon/helpers/replication-action-for-mode.js
  ui/lib/core/addon/templates/components/replication-action-promote.hbs
  ui/lib/core/addon/templates/components/replication-action-recover.hbs
  ui/lib/core/addon/templates/components/replication-action-reindex.hbs
  ui/lib/core/addon/templates/components/replication-header.hbs
  ui/tests/acceptance/enterprise-replication-test.js
  ui/tests/integration/components/replication-actions-test.js
  ui/tests/integration/components/replication-header-test.js
Labels: ui

#9151 Document and give an example of the input size limits when using the FF3-1 transform.
  website/pages/docs/secrets/transform/index.mdx
Labels: docs-cherrypick, website

#9154 Sync Protobuf dependencies between core and sdk
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  vendor/google.golang.org/genproto/protobuf/field_mask/field_mask.go
  vendor/google.golang.org/protobuf/encoding/prototext/decode.go
  vendor/google.golang.org/protobuf/encoding/prototext/encode.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/proto/decode.go
  vendor/google.golang.org/protobuf/proto/encode.go
  vendor/google.golang.org/protobuf/proto/messageset.go
  vendor/google.golang.org/protobuf/proto/size.go
  vendor/google.golang.org/protobuf/proto/size_gen.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/value_union.go
  vendor/google.golang.org/protobuf/reflect/protoregistry/registry.go
  vendor/google.golang.org/protobuf/types/known/fieldmaskpb/field_mask.pb.go
  vendor/modules.txt
Labels: dependencies

#8343 certutil/helpers.go: Allow 3072 RSA key sizes.
  sdk/helper/certutil/helpers.go
Labels: enhancement

#9156 Github markdown doesn't use "^" for superscript, have to be explicit
  website/pages/docs/secrets/transform/index.mdx
Labels: docs-cherrypick, website

#9093 docs: document raft and mlock interaction
  website/pages/docs/configuration/index.mdx
  website/pages/docs/configuration/storage/raft.mdx
Labels: docs-cherrypick

#8876 update to include vault_format
  website/pages/docs/commands/index.mdx
Labels: docs-cherrypick

#8156 document response wrapping behavior
  api/client.go
  api/logical.go
Labels: core/api, docs

#8722 document all of the supported elliptic curves
  website/pages/api-docs/secret/pki/index.mdx
Labels: docs

#9150 Ui/secondary token flow dr
  ui/app/models/cluster.js
  ui/lib/core/addon/components/modal.js
  ui/lib/core/addon/components/replication-actions-single.js
  ui/lib/core/addon/components/replication-actions.js
  ui/lib/core/addon/helpers/date-format.js
  ui/lib/core/addon/templates/components/replication-action-demote.hbs
  ui/lib/core/addon/templates/components/replication-action-disable.hbs
  ui/lib/core/addon/templates/components/replication-action-promote.hbs
  ui/lib/core/addon/templates/components/replication-actions.hbs
  ui/lib/core/addon/templates/components/replication-mode-summary.hbs
  ui/lib/core/app/helpers/date-format.js
  ui/lib/core/package.json
  ui/lib/replication/addon/components/replication-summary.js
  ui/lib/replication/addon/controllers/application.js
  ui/lib/replication/addon/templates/mode.hbs
  ui/lib/replication/addon/templates/mode/secondaries/add.hbs
  ui/tests/acceptance/enterprise-replication-test.js
  ui/tests/integration/helpers/date-format-test.js
Labels: ui

#9152 Add known primaries info table
  ui/app/styles/components/info-table.scss
  ui/app/styles/components/replication-dashboard.scss
  ui/app/styles/components/selectable-card.scss
  ui/app/styles/components/vlt-table.scss
  ui/app/styles/core.scss
  ui/app/templates/vault/cluster/replication-dr-promote/details.hbs
  ui/lib/core/addon/components/info-table.js
  ui/lib/core/addon/components/replication-secondary-card.js
  ui/lib/core/addon/templates/components/info-table-row.hbs
  ui/lib/core/addon/templates/components/info-table.hbs
  ui/lib/core/addon/templates/components/replication-secondary-card.hbs
  ui/lib/core/addon/templates/components/replication-summary-card.hbs
  ui/lib/core/app/components/info-table.js
  ui/lib/core/stories/info-table.md
  ui/lib/core/stories/info-table.stories.js
  ui/lib/replication/addon/templates/components/known-secondaries-table.hbs
  ui/lib/replication/addon/templates/components/replication-summary.hbs
  ui/tests/integration/components/info-table-test.js
Labels: ui

#8772 Fix error message for when an invalid uri_sans is provided via the API
  builtin/logical/pki/cert_util.go
Labels: docs

#8773 operator: init -status to return JSON
  command/operator_init.go
Labels: core/cli

#9169 Ui/rep design updates
  ui/lib/core/addon/components/replication-table-rows.js
  ui/lib/core/addon/templates/components/replication-header.hbs
  ui/lib/core/addon/templates/components/replication-table-rows.hbs
  ui/lib/replication/addon/templates/mode.hbs
Labels: ui

#9178 Explain what lease tidy does.
  website/pages/api-docs/system/leases.mdx
Labels: docs-cherrypick

#9173 Ui/fix enable overflow
  ui/app/styles/components/replication-mode-summary.scss
  ui/app/styles/core.scss
  ui/lib/core/addon/components/replication-mode-summary.js
  ui/lib/core/addon/helpers/cluster-states.js
  ui/lib/core/addon/helpers/replication-mode-description.js
  ui/lib/core/addon/templates/components/replication-mode-summary.hbs
  ui/lib/core/addon/templates/components/replication-table-rows.hbs
  ui/lib/core/app/helpers/replication-mode-description.js
  ui/lib/replication/addon/templates/components/replication-summary.hbs
Labels: ui

#8811 Add a new iam_groups parameter to role create/update
  builtin/logical/aws/backend_test.go
  builtin/logical/aws/iam_policies.go
  builtin/logical/aws/iam_policies_test.go
  builtin/logical/aws/path_roles.go
  builtin/logical/aws/path_user.go
  builtin/logical/aws/secret_access_keys.go
  website/pages/api-docs/secret/aws/index.mdx
  website/pages/docs/secrets/aws/index.mdx
Labels: enhancement, secret/aws

#9186 fix: invalidate cached clients after a config change in the aws secrets backend
  builtin/logical/aws/backend.go
Labels: backport

#9119 Simple typos
  website/pages/api-docs/system/rekey.mdx
Labels: docs-cherrypick

#9204 Clarify cache setting.
  website/pages/docs/configuration/index.mdx
Labels: docs-cherrypick

#9143 Integrate password policies into RabbitMQ secret engine
  builtin/logical/rabbitmq/backend.go
  builtin/logical/rabbitmq/backend_test.go
  builtin/logical/rabbitmq/passwords.go
  builtin/logical/rabbitmq/path_config_connection.go
  builtin/logical/rabbitmq/path_role_create.go
  sdk/helper/random/string_generator.go
  sdk/helper/random/string_generator_test.go
  sdk/logical/system_view.go
  vault/logical_system_test.go
  vendor/github.com/hashicorp/vault/sdk/helper/random/string_generator.go
  vendor/github.com/hashicorp/vault/sdk/logical/system_view.go
  website/pages/api-docs/secret/rabbitmq/index.mdx
  website/pages/docs/secrets/rabbitmq/index.mdx
Labels: docs, enhancement, helper/random, secret/rabbitmq

#9223 Minor transform docs rewording
  website/pages/docs/secrets/transform/index.mdx
Labels: docs-cherrypick

#9212 Ui/replication merge cleanup 2
  ui/app/styles/components/replication-dashboard.scss
  ui/app/styles/components/selectable-card.scss
  ui/lib/core/addon/components/replication-table-rows.js
  ui/lib/core/addon/templates/components/confirmation-modal.hbs
  ui/lib/core/addon/templates/components/replication-action-demote.hbs
  ui/lib/core/addon/templates/components/replication-action-disable.hbs
  ui/lib/core/addon/templates/components/replication-action-promote.hbs
  ui/lib/core/addon/templates/components/replication-actions.hbs
  ui/lib/core/addon/templates/components/replication-secondary-card.hbs
  ui/lib/replication/addon/templates/components/known-secondaries-card.hbs
Labels: ui

#9217 Fix typo
  website/pages/docs/configuration/storage/raft.mdx
Labels: docs-cherrypick

#9228 docs: fix typo in gcp and gcpkms secrets
  website/pages/docs/secrets/gcp/index.mdx
  website/pages/docs/secrets/gcpkms/index.mdx
Labels: docs-cherrypick

#9219 Add real connected state and API address
  ui/app/models/replication-attributes.js
  ui/app/styles/components/known-secondaries-card.scss
  ui/app/templates/vault/cluster/replication-dr-promote/details.hbs
  ui/lib/replication/addon/components/known-secondaries-table.js
  ui/lib/replication/addon/templates/components/known-secondaries-card.hbs
  ui/lib/replication/addon/templates/components/known-secondaries-table.hbs
  ui/tests/integration/components/known-secondaries-card-test.js
  ui/tests/integration/components/known-secondaries-table-test.js
Labels: ui

#9227 docs/agent: add overview for consul template fetches
  website/pages/docs/agent/template/index.mdx
  website/pages/docs/platform/k8s/injector/index.mdx
Labels: docs-cherrypick

#9229 fix enterprise test
  ui/lib/core/addon/templates/components/replication-secondary-card.hbs
  ui/tests/integration/components/replication-secondary-card-test.js
Labels: ui

#9216 Ui/add changelog link
  ui/app/templates/vault.hbs
  ui/lib/core/addon/helpers/changelog-url-for.js
  ui/lib/core/app/helpers/changelog-url-for.js
  ui/tests/integration/helpers/changelog-url-for-test.js
Labels: ui

#9182 Changes to expiration manager to walk tokens
  vault/expiration.go
  vault/expiration_test.go
  vault/token_store.go
Labels: core/metric, core/token

#9099 Configure metrics wrapper with the "global" object, not just the fanout.
  helper/metricsutil/wrapped_metrics.go
  helper/metricsutil/wrapped_metrics_test.go
  internalshared/configutil/telemetry.go
Labels: core/metric

#9238 Add new Telemetry config options
  command/server/config_test_helpers.go
  command/server/test-fixtures/config-dir/baz.hcl
  command/server/test-fixtures/config.hcl
  command/server/test-fixtures/config.hcl.json
  command/server/test-fixtures/config2.hcl
  command/server/test-fixtures/config2.hcl.json
  command/server/test-fixtures/config3.hcl
  internalshared/configutil/config.go
  internalshared/configutil/telemetry.go
  website/pages/docs/configuration/telemetry.mdx
Labels: website

#9245 docs: add sample revocation for mongodb
  website/pages/api-docs/secret/databases/mongodb.mdx
Labels: docs-cherrypick

#9242 UI: Disallow kv2 with too large 'max versions' value
  ui/app/components/secret-edit.js
Labels: ui

#9258 builtin/database: fix creds rotation panic for nil resp
  builtin/logical/database/path_rotate_credentials.go
Labels: backport, bug

#9252 Replaced ClusterMetricSink's cluster name with an atomic.Value.
  helper/metricsutil/gauge_process_test.go
  helper/metricsutil/wrapped_metrics.go
  helper/metricsutil/wrapped_metrics_test.go
  internalshared/configutil/telemetry.go
  vault/request_handling_test.go
  vault/token_store_test.go
Labels: core/metric

#9244 Counter that increments on every secret engine lease creation.
  vault/request_handling.go
  vault/request_handling_test.go
Labels: core/metric

#9250 Added gauges to count KV secrets.
  vault/core_metrics.go
  vault/core_metrics_test.go
Labels: core/metric

#9263 Add counter for creation of new entity.
  vault/identity_store.go
Labels: core/metric

#9275 docs: clarify when plugin executables must also be given mlock syscall ability
  website/pages/docs/configuration/index.mdx
  website/pages/docs/internals/plugins.mdx
Labels: docs-cherrypick

#9296 Backport to 1.4.x: Disallow kv2 with too large 'max versions' value (#9242)
  ui/app/components/secret-edit.js
Labels: backport, ui

#9297 Backport 1.4.3: add changelog link (#9216)
  ui/app/templates/vault.hbs
  ui/lib/core/addon/helpers/changelog-url-for.js
  ui/lib/core/app/helpers/changelog-url-for.js
  ui/tests/integration/helpers/changelog-url-for-test.js
Labels: backport, ui

#9285 Backport 1.4.3: Require TLS or plaintext flagging in MySQL configuration
  physical/mysql/mysql.go
  physical/mysql/mysql_test.go
  website/pages/docs/configuration/storage/mysql.mdx
Labels: backport

#9286 Backport 1.4.3: Use parameters when executing prepared statements rather than fmt.Sprintf
  builtin/logical/mssql/backend_test.go
  builtin/logical/mssql/secret_creds.go
  go.mod
  go.sum
  helper/testhelpers/mssql/mssqlhelper.go
  plugins/database/mssql/mssql.go
  plugins/database/mssql/mssql_test.go
Labels: backport

#9203 docs: add additional info around transform for tweak and template type
  website/pages/api-docs/secret/transform/index.mdx
  website/pages/docs/secrets/transform/index.mdx
Labels: docs-cherrypick

#9283 Document new and previously undocumented telemetry metrics:
  website/pages/docs/internals/telemetry.mdx
Labels: core/metric, docs

#9300 Backport 1.4.3: add openldap bug fixes
  go.mod
  go.sum
  vendor/github.com/denisenkom/go-mssqldb/README.md
  vendor/github.com/denisenkom/go-mssqldb/accesstokenconnector.go
  vendor/github.com/denisenkom/go-mssqldb/appveyor.yml
  vendor/github.com/denisenkom/go-mssqldb/buf.go
  vendor/github.com/denisenkom/go-mssqldb/bulkcopy.go
  vendor/github.com/denisenkom/go-mssqldb/conn_str.go
  vendor/github.com/denisenkom/go-mssqldb/decimal.go
  vendor/github.com/denisenkom/go-mssqldb/go.mod
  vendor/github.com/denisenkom/go-mssqldb/go.sum
  vendor/github.com/denisenkom/go-mssqldb/internal/decimal/decimal.go
  vendor/github.com/denisenkom/go-mssqldb/internal/querytext/parser.go
  vendor/github.com/denisenkom/go-mssqldb/mssql.go
  vendor/github.com/denisenkom/go-mssqldb/mssql_go110.go
  vendor/github.com/denisenkom/go-mssqldb/mssql_go110pre.go
  vendor/github.com/denisenkom/go-mssqldb/mssql_go19.go
  vendor/github.com/denisenkom/go-mssqldb/net.go
  vendor/github.com/denisenkom/go-mssqldb/ntlm.go
  vendor/github.com/denisenkom/go-mssqldb/tds.go
  vendor/github.com/denisenkom/go-mssqldb/token.go
  vendor/github.com/denisenkom/go-mssqldb/tvp_go19.go
  vendor/github.com/denisenkom/go-mssqldb/types.go
  vendor/github.com/denisenkom/go-mssqldb/uniqueidentifier.go
  vendor/github.com/golang-sql/civil/CONTRIBUTING.md
  vendor/github.com/golang-sql/civil/LICENSE
  vendor/github.com/golang-sql/civil/README.md
  vendor/github.com/golang-sql/civil/civil.go
  vendor/github.com/hashicorp/vault-plugin-secrets-openldap/path_roles.go
  vendor/github.com/hashicorp/vault-plugin-secrets-openldap/path_rotate.go
  vendor/modules.txt
Labels: backport

#9239 Token gauge metrics implementation.
  CHANGELOG.md
  helper/metricsutil/bucket.go
  vault/core.go
  vault/core_metrics.go
  vault/expiration.go
  vault/expiration_test.go
  vault/token_store.go
  vault/token_store_test.go
Labels: core/metric

#9262 Entity and alias counts
  vault/core_metrics.go
  vault/core_metrics_test.go
  vault/identity_store_util.go
Labels: core/metric

#9309 Ui/fix manage grid
  ui/app/styles/components/action-block.scss
  ui/lib/core/addon/components/replication-action-demote.js
  ui/lib/core/addon/components/replication-action-disable.js
  ui/lib/core/addon/components/replication-action-generate-token.js
  ui/lib/core/addon/components/replication-action-promote.js
  ui/lib/core/addon/components/replication-action-recover.js
  ui/lib/core/addon/components/replication-action-reindex.js
  ui/lib/core/addon/components/replication-action-update-primary.js
  ui/lib/core/addon/templates/components/replication-secondary-card.hbs
Labels: ui

#9313 docs: default for auth-path annotation
  website/pages/docs/platform/k8s/injector/annotations.mdx
Labels: docs, docs-cherrypick, helmchart

#9324 Enable identity entity collection.
  vault/core_metrics.go
Labels: core/metric

#9322 physical/raft: Add nil check to Shutdown
  physical/raft/raft.go
Labels: core, ha/raft

#9327 Ui/add primary link
  ui/app/models/replication-attributes.js
  ui/lib/core/addon/components/replication-secondary-card.js
  ui/lib/core/addon/templates/components/replication-secondary-card.hbs
  ui/tests/integration/components/replication-secondary-card-test.js
Labels: ui

#9233 Calculate percentage when displaying progress in tidy operation
  vault/token_store.go
Labels: enhancement

#9329 ensure primary cluster information displays on initial page load
  ui/lib/core/addon/components/replication-secondary-card.js
Labels: ui

#8195 add the note about `s.` prefix to docs
  website/pages/api-docs/auth/token/index.mdx
  website/pages/docs/commands/server.mdx
Labels: docs

#7499 Remove two unreliable tests from TestTransit_SignVerify_P256.
  builtin/logical/transit/path_sign_verify_test.go
Labels: secret/transit

#9320 Update auth-jwt to v0.7.0
  go.mod
  go.sum
  vendor/github.com/hashicorp/vault-plugin-auth-jwt/README.md
  vendor/github.com/hashicorp/vault-plugin-auth-jwt/go.mod
  vendor/github.com/hashicorp/vault-plugin-auth-jwt/go.sum
  vendor/github.com/hashicorp/vault-plugin-auth-jwt/path_config.go
  vendor/github.com/hashicorp/vault-plugin-auth-jwt/path_login.go
  vendor/github.com/hashicorp/vault-plugin-auth-jwt/path_oidc.go
  vendor/github.com/hashicorp/vault-plugin-auth-jwt/provider_azure.go
  vendor/github.com/hashicorp/vault-plugin-auth-jwt/provider_config.go
  vendor/modules.txt
Labels: auth/jwt-oidc, dependencies, ecosystem

#9287 Adding docs for azure-specific handling in jwt-oidc
  website/pages/api-docs/auth/jwt/index.mdx
  website/pages/docs/auth/jwt.mdx
  website/pages/docs/auth/jwt_oidc_providers.mdx
Labels: auth/jwt-oidc, docs, ecosystem

#9339 Unit test that fails to demonstrate identity store problem.
  vault/core_metrics_test.go
  vault/identity_store_test.go
  vault/token_store_test.go
Labels: core/metric

#9341 monitor: watch for seal state during monitor request
  vault/logical_system.go
Labels: monitor

#9328 auth/k8s: update go.mod
  go.mod
  go.sum
  vendor/github.com/hashicorp/vault-plugin-auth-kubernetes/path_config.go
  vendor/modules.txt
Labels: auth/k8s
