Repository hashicorp/vault, pull requests merged in 2020-09, with the labels that each got.

#9860 Plugin submission GH issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/plugin-submission.md
Labels: docs, ecosystem

#9871 docs: add injector tls setup
  website/data/docs-navigation.js
  website/pages/docs/platform/k8s/helm/examples/injector-tls.mdx
Labels: docs-cherrypick

#9783 Updating the vault injector connectivity docs
  website/pages/docs/platform/k8s/injector/examples.mdx
Labels: docs, docs-cherrypick

#9881 Fix crash when KV store has a zero-length key.
  CHANGELOG.md
  vault/core_metrics.go
  vault/core_metrics_test.go
Labels: core/metric

#9884 Backport 1.5.x: Fix crash when KV store has a zero-length key.
  CHANGELOG.md
  vault/core_metrics.go
  vault/core_metrics_test.go
Labels: backport, core/metric

#9590 docs: add a plugin portal page
  website/components/columns/README.md
  website/components/columns/index.jsx
  website/components/columns/style.module.css
  website/components/inline-tag/README.md
  website/components/inline-tag/index.jsx
  website/components/inline-tag/style.module.css
  website/data/docs-navigation.js
  website/layouts/api.jsx
  website/layouts/docs.jsx
  website/pages/docs/plugin-portal/index.mdx
Labels: docs-cherrypick

#9885 docs: fix URL for plugin portal mdx page
  website/pages/docs/plugin-portal/index.mdx
Labels: docs-cherrypick

#9882 Add upgrade note about the KV metric crash.
  website/pages/docs/upgrading/upgrade-to-1.5.0.mdx
Labels: docs-cherrypick

#9887 Ui/role transform test edit
  ui/app/helpers/options-for-backend.js
  ui/app/models/transform/role.js
  ui/app/templates/components/transform-create-form.hbs
  ui/app/templates/components/transform-role-edit.hbs
  ui/app/templates/partials/secret-list/transform-list-item.hbs
  ui/lib/core/addon/components/search-select.js
  ui/lib/core/addon/templates/components/form-field.hbs
  ui/tests/acceptance/enterprise-transform-test.js
  ui/tests/integration/components/search-select-test.js
  ui/tests/pages/secrets/backend/transform/roles.js
  ui/tests/pages/secrets/backend/transform/transformations.js
Labels: ui

#9896 agent/auth/kerberos: add disable_fast_negotiation (#9892)
  command/agent/auth/kerberos/kerberos.go
  command/agent/auth/kerberos/kerberos_test.go
Labels: backport

#9897 docs: add required/optional to kerberos autoauth config
  website/pages/docs/agent/autoauth/methods/kerberos.mdx
Labels: docs-cherrypick

#9899 Improve mobile styling for columns component
  website/components/columns/style.module.css
Labels: docs-cherrypick

#9879 Ui/transform find all roles
  ui/app/components/transform-show-transformation.js
  ui/app/helpers/filter-wildcard.js
  ui/app/helpers/is-wildcard-string.js
  ui/app/models/transform.js
  ui/app/models/transform/role.js
  ui/app/templates/components/transform-show-transformation.hbs
  ui/app/templates/components/transformation-edit.hbs
  ui/lib/core/addon/components/search-select.js
  ui/lib/core/addon/templates/components/form-field.hbs
  ui/lib/core/addon/templates/components/search-select.hbs
  ui/tests/integration/components/search-select-test.js
  ui/tests/unit/helpers/filter-wildcard-test.js
  ui/tests/unit/helpers/is-wildcard-string-test.js
Labels: ui

#9909 Fix is-wildcard-string helper to check for classes
  ui/app/helpers/is-wildcard-string.js
  ui/tests/unit/helpers/is-wildcard-string-test.js
Labels: ui

#9868 Integrate @hashicorp/react-search into layout
  website/.env
  website/components/search-bar/index.jsx
  website/components/search-bar/style.css
  website/layouts/api.jsx
  website/layouts/docs.jsx
  website/layouts/intro.jsx
  website/package-lock.json
  website/package.json
  website/pages/style.css
  website/scripts/index_search_content.js
Labels: docs, docs-cherrypick, website

#9895 Lower the interval for rotation during tests, to make it more likely that our five second grace period is sufficient.
  builtin/logical/database/path_roles.go
  builtin/logical/database/rotation.go
  builtin/logical/database/rotation_test.go
  sdk/logical/testing.go
  vendor/github.com/hashicorp/vault/sdk/logical/testing.go
Labels: secret/database

#9908 Add upgrade guides for latest releases
  website/data/docs-navigation.js
  website/pages/docs/upgrading/upgrade-to-1.2.7.mdx
  website/pages/docs/upgrading/upgrade-to-1.3.10.mdx
  website/pages/docs/upgrading/upgrade-to-1.4.6.mdx
  website/pages/docs/upgrading/upgrade-to-1.5.3.mdx
  website/pages/partials/aws-invalid-header-fix.mdx
Labels: docs-cherrypick

#9911 Add a time type for use in APIs.
  sdk/framework/backend.go
  sdk/framework/field_data.go
  sdk/framework/field_data_test.go
  sdk/framework/field_type.go
  sdk/helper/parseutil/parseutil.go
  sdk/helper/parseutil/parseutil_test.go
  vendor/github.com/hashicorp/vault/sdk/framework/backend.go
  vendor/github.com/hashicorp/vault/sdk/framework/field_data.go
  vendor/github.com/hashicorp/vault/sdk/framework/field_type.go
  vendor/github.com/hashicorp/vault/sdk/helper/parseutil/parseutil.go
Labels: core/api

#9919 Docs: Add note that vault deletes IAM user
  website/pages/docs/secrets/aws/index.mdx
Labels: docs-cherrypick

#9926 Disable file backend on TestSealMigration_ShamirToTransit_Post14
  vault/external_tests/sealmigration/seal_migration_test.go
Labels: core/seal

#9922 Document rate limit list API
  website/pages/api-docs/system/rate-limit-quotas.mdx
Labels: docs, docs-cherrypick

#9910 Ui/transform role create transformations
  ui/app/adapters/transform.js
  ui/app/adapters/transform/base.js
  ui/app/components/transform-edit-base.js
  ui/app/components/transform-role-edit.js
  ui/app/models/transform.js
  ui/app/models/transform/role.js
  ui/app/routes/vault/cluster/secrets/backend/list.js
  ui/app/routes/vault/cluster/secrets/backend/secret-edit.js
  ui/app/serializers/transform.js
  ui/app/serializers/transform/role.js
  ui/app/templates/components/transform-role-edit.hbs
Labels: ui

#9924 Convert time to UTC, add to OpenAPI
  CHANGELOG.md
  sdk/framework/field_data.go
  sdk/framework/field_type.go
  sdk/framework/openapi.go
  vendor/github.com/hashicorp/vault/sdk/framework/field_data.go
  vendor/github.com/hashicorp/vault/sdk/framework/field_type.go
  vendor/github.com/hashicorp/vault/sdk/framework/openapi.go
  vendor/github.com/hashicorp/vault/sdk/framework/path.go
Labels: sdk

#9923 Add a note on performance and availability to the HSM behavior docs.
  website/pages/docs/enterprise/hsm/behavior.mdx
Labels: docs-cherrypick

#9942 Ui/transform info table row roles
  ui/app/components/transform-role-edit.js
  ui/app/helpers/is-wildcard-string.js
  ui/app/styles/components/info-table-row.scss
  ui/app/templates/components/transform-role-edit.hbs
  ui/app/templates/components/transform-show-transformation.hbs
  ui/lib/core/addon/components/info-table-item-array.js
  ui/lib/core/addon/components/info-table-row.js
  ui/lib/core/addon/templates/components/info-table-item-array.hbs
  ui/lib/core/addon/templates/components/info-table-row.hbs
  ui/lib/core/addon/templates/components/search-select.hbs
  ui/lib/core/app/components/info-table-item-array.js
  ui/tests/integration/components/info-table-item-array-test.js
  ui/tests/integration/components/search-select-test.js
  ui/tests/unit/helpers/is-wildcard-string-test.js
Labels: ui

#9955 Ui/transformation edit update roles
  ui/app/components/transform-create-form.js
  ui/app/components/transform-edit-base.js
  ui/app/components/transform-edit-form.js
  ui/app/components/transform-role-edit.js
  ui/app/components/transformation-edit.js
  ui/app/serializers/transform/role.js
  ui/app/templates/components/transform-edit-form.hbs
  ui/app/templates/components/transformation-edit.hbs
  ui/tests/acceptance/enterprise-transform-test.js
  ui/tests/pages/secrets/backend/transform/roles.js
  ui/tests/pages/secrets/backend/transform/transformations.js
Labels: ui

#9963 Wrap info-table-item-array in data-test selector for testing
  ui/lib/core/addon/templates/components/info-table-item-array.hbs
Labels: ui

#9966 Disable usage metrics on performance standby nodes.
  vault/core.go
  vault/core_metrics.go
Labels: core/metric

#9921 5844 AWS Root Credential Rotation
  builtin/credential/aws/backend.go
  builtin/credential/aws/path_config_client.go
  builtin/credential/aws/path_config_rotate_root.go
  builtin/credential/aws/path_config_rotate_root_test.go
  builtin/logical/mssql/backend_test.go
  builtin/logical/postgresql/backend_test.go
  command/format.go
  go.mod
  helper/testhelpers/consul/consulhelper.go
  plugins/database/influxdb/connection_producer.go
  sdk/helper/awsutil/mocks.go
  vendor/github.com/hashicorp/vault/sdk/helper/awsutil/mocks.go
  vendor/modules.txt
  website/pages/api-docs/auth/aws/index.mdx
  website/pages/docs/auth/aws.mdx
Labels: auth/aws

#9958 Fix identity entity capabilities path
  ui/app/models/identity/entity.js
Labels: bug, ui

#9950 Update index.mdx
  website/pages/docs/secrets/mongodbatlas/index.mdx
Labels: docs-cherrypick

#9984 Backport 1.5.4: replace identityType with 'entity' on model (#9958)
  ui/app/models/identity/entity.js
Labels: bug, ui

#9880 Allow expiration of a cert not in storage to succeed
  builtin/logical/pki/crl_util.go
Labels: backport

#10003 Update vault-plugin-auth-kubernetes to v0.7.1
  go.mod
  go.sum
  vendor/github.com/hashicorp/vault-plugin-auth-kubernetes/path_config.go
  vendor/modules.txt
Labels: auth/k8s, ecosystem

#10002 docs: Change sidebar labeling to use Integrated Storage
  website/pages/docs/configuration/storage/raft.mdx
Labels: docs-cherrypick

#9967 Backport 1.5: Disable usage metrics on performance standby nodes. (#9966)
  vault/core.go
  vault/core_metrics.go
Labels: backport, core/metric

#10017 Add Documentation Specifying that Allowed, Denied, and Required Parameters only Work With Version 2 of The K/V Secrets Engine
  website/pages/docs/secrets/kv/kv-v2.mdx
Labels: docs-cherrypick

#9993 Switch from .perfStandby to .PerfStandby() where possible.
  vault/core_metrics.go
Labels: core/metric

#10004 Update to vault-plugin-auth-kubernetes@master
  go.mod
  go.sum
  vendor/github.com/hashicorp/vault-plugin-auth-kubernetes/path_config.go
  vendor/modules.txt
Labels: auth/k8s, ecosystem

#10040 Updating version for website to 1.5.4
  website/data/version.js
Labels: docs-cherrypick

#9992 Update k8s auth docs for new parameter
  website/pages/api-docs/auth/kubernetes/index.mdx
Labels: docs, docs-cherrypick, ecosystem

#10047 Minor fix to audit documentation
  website/pages/docs/audit/index.mdx
Labels: docs-cherrypick

#9917 corrected a missing noun
  website/pages/docs/platform/k8s/injector/index.mdx
Labels: docs-cherrypick

#9670 agent: return a non-zero exit code on error
  command/agent.go
  command/agent/alicloud_end_to_end_test.go
  command/agent/approle_end_to_end_test.go
  command/agent/auth/auth.go
  command/agent/auth/auth_test.go
  command/agent/aws_end_to_end_test.go
  command/agent/cache_end_to_end_test.go
  command/agent/cert_end_to_end_test.go
  command/agent/cf_end_to_end_test.go
  command/agent/jwt_end_to_end_test.go
  command/agent/sink/file/sink_test.go
  command/agent/sink/sink.go
  command/agent/template/template.go
  command/agent/template/template_test.go
Labels: core/agent, ecosystem
