Repository hashicorp/vault, pull requests merged in 2020-04, with the labels that each got.

#8640 Sidebranch: add new route on DR secondary
  ui/app/controllers/vault/cluster/replication-dr-promote/index.js
  ui/app/mixins/cluster-route.js
  ui/app/router.js
  ui/app/routes/vault/cluster/replication-dr-promote/index.js
  ui/app/templates/partials/status/cluster.hbs
  ui/app/templates/vault/cluster/replication-dr-promote/details.hbs
  ui/app/templates/vault/cluster/replication-dr-promote/index.hbs
  ui/tests/acceptance/replication/dr/secondary-test.js
Labels: ui

#8658 Expand seal migration tests
  command/seal_migration_oss_test.go
  command/seal_migration_test.go
  helper/testhelpers/seal/sealhelper.go
Labels: core/migration

#8636 Bump cloud.google.com/go to get timeout fix
  go.mod
  go.sum
Labels: release/build

#8657 website: update netlify redirects
  website/_redirects
  website/package-lock.json
Labels: website

#8653 Fix outdated comment about logical request path
  sdk/logical/request.go
  vendor/github.com/hashicorp/vault/sdk/logical/request.go
Labels: docs

#8661 Sidebranch: Setup Replication Page as component to be consumed in all pages for project
  ui/app/components/replication-page.js
  ui/app/components/replication-page/replication-toggle.js
  ui/app/routes/vault/cluster/replication-dr-promote/details.js
  ui/app/templates/components/replication-page.hbs
  ui/app/templates/components/replication-page/replication-header.hbs
  ui/app/templates/components/replication-page/replication-toggle.hbs
  ui/app/templates/vault/cluster/replication-dr-promote/details.hbs
Labels: ui

#8659 Hiding anchor links fix
  website/pages/style.css
Labels: website

#8667 Track 404 Pages with Analytics
  website/lib/globalThis.js
  website/netlify.toml
  website/pages/404/index.js
  website/pages/404/style.css
  website/pages/_app.js
  website/pages/_error.jsx
  website/pages/style.css
Labels: website

#8601 ui: make logout redirect to same auth method in login form
  ui/app/routes/vault/cluster/logout.js
  ui/app/services/auth.js
Labels: ui

#8672 Fix guide redirect w/o html extension
  website/_redirects
Labels: docs

#8675 docs: fix broken k8s auth method link
  website/pages/docs/agent/autoauth/methods/kubernetes.mdx
Labels: docs

#8673 docs: Add integrated storage concepts page
  website/data/docs-navigation.js
  website/pages/docs/concepts/integrated-storage.mdx
Labels: docs

#8679 Always pick us-east-1 for the "aws" partition
  builtin/credential/aws/backend.go
  builtin/credential/aws/backend_test.go
Labels: auth/aws, bug

#8669 Update MongoDB Atlas secrets plugin
  go.mod
  go.sum
  vendor/github.com/coreos/go-systemd/journal/journal.go
  vendor/github.com/hashicorp/vault-plugin-secrets-mongodbatlas/go.mod
  vendor/github.com/hashicorp/vault-plugin-secrets-mongodbatlas/go.sum
  vendor/github.com/hashicorp/vault-plugin-secrets-mongodbatlas/path_credentials.go
  vendor/github.com/hashicorp/vault-plugin-secrets-mongodbatlas/secret_programmatic_api_keys.go
  vendor/github.com/hashicorp/vault-plugin-secrets-mongodbatlas/test_env.go
  vendor/github.com/hashicorp/vault/api/client.go
  vendor/github.com/hashicorp/vault/api/request.go
  vendor/github.com/hashicorp/vault/sdk/helper/ldaputil/client.go
  vendor/modules.txt
Labels: backport

#8681 Raft recovery peers non voter
  physical/raft/raft.go
  physical/raft/raft_util.go
Labels: storage/raft

#8648 Ui/ttl picker component
  ui/README.md
  ui/app/components/toggle.js
  ui/app/styles/components/ttl-picker2.scss
  ui/app/styles/core.scss
  ui/app/styles/core/toggle.scss
  ui/app/templates/components/toggle.hbs
  ui/lib/core/addon/components/ttl-picker.js
  ui/lib/core/addon/components/ttl-picker2.js
  ui/lib/core/addon/templates/components/ttl-picker2.hbs
  ui/lib/core/app/components/ttl-picker2.js
  ui/lib/core/stories/ttl-picker.md
  ui/lib/core/stories/ttl-picker.stories.js
  ui/lib/core/stories/ttl-picker2.md
  ui/lib/core/stories/ttl-picker2.stories.js
  ui/tests/integration/components/toggle-test.js
  ui/tests/integration/components/ttl-picker2-test.js
Labels: ui

#8670 Sidebranch: setup replication dashboard with scss and initial card components
  ui/app/components/replication-page/replication-dashboard.js
  ui/app/styles/components/info-table-row.scss
  ui/app/styles/components/replication-dashboard.scss
  ui/app/styles/core.scss
  ui/app/templates/components/replication-page.hbs
  ui/app/templates/components/replication-page/replication-dashboard/dashboard.hbs
  ui/app/templates/components/replication-page/replication-dashboard/replication-card.hbs
  ui/app/templates/components/replication-page/replication-dashboard/replication-table-rows.hbs
  ui/app/templates/vault/cluster/replication-dr-promote/details.hbs
  ui/lib/core/addon/components/info-table-row.js
  ui/lib/core/addon/templates/components/info-table-row.hbs
Labels: ui

#8686 Ui/update lint staged
  ui/package.json
  ui/yarn.lock
Labels: ui

#8671 Ui/dr primary/initial page setup
  ui/app/styles/components/replication-dashboard.scss
  ui/app/styles/components/replication-primary-card.scss
  ui/app/styles/components/replication-summary.scss
  ui/app/styles/components/vlt-table.scss
  ui/app/styles/core.scss
  ui/app/templates/components/replication-page/replication-dashboard/replication-table-rows.hbs
  ui/lib/core/addon/components/info-table-row.js
  ui/lib/core/addon/components/replication-dashboard.js
  ui/lib/core/addon/components/replication-page.js
  ui/lib/core/addon/components/replication-table-rows.js
  ui/lib/core/addon/components/replication-toggle.js
  ui/lib/core/addon/components/toggle.js
  ui/lib/core/addon/templates/components/replication-card.hbs
  ui/lib/core/addon/templates/components/replication-dashboard.hbs
  ui/lib/core/addon/templates/components/replication-header.hbs
  ui/lib/core/addon/templates/components/replication-table-rows.hbs
  ui/lib/core/addon/templates/components/replication-toggle.hbs
  ui/lib/core/addon/templates/components/toggle.hbs
  ui/lib/core/app/components/replication-dashboard.js
  ui/lib/core/app/components/replication-page.js
  ui/lib/core/app/components/replication-table-rows.js
  ui/lib/core/app/components/replication-toggle.js
  ui/lib/core/app/components/toggle.js
  ui/lib/core/stories/info-table-row.md
  ui/lib/core/stories/info-table-row.stories.js
  ui/lib/replication/addon/components/known-secondaries-table.js
  ui/lib/replication/addon/components/replication-primary-card.js
  ui/lib/replication/addon/templates/components/known-secondaries-table.hbs
  ui/lib/replication/addon/templates/components/replication-primary-card.hbs
  ui/lib/replication/addon/templates/components/replication-summary.hbs
Labels: ui

#8707 raft: disallow ha_storage stanza when raft storage is used
  command/server.go
  website/pages/docs/configuration/storage/raft.mdx
Labels: ha/raft, storage/raft

#8692 Fix "List Template" table path within Transform Docs
  website/pages/api-docs/secret/transform/index.mdx
Labels: bug, docs

#8680 Backport 1.4.x: Always pick us-east-1 for the "aws" partition
  builtin/credential/aws/backend.go
  builtin/credential/aws/backend_test.go
Labels: auth/aws, bug

#8703 Routing Fixes
  website/_redirects
  website/next.config.js
  website/pages/api-docs/secret/databases/mongodbatlas.mdx
  website/pages/api-docs/system/storage/index.mdx
  website/pages/docs/auth/azure.mdx
  website/pages/docs/auth/jwt.mdx
  website/pages/docs/commands/operator/migrate.mdx
  website/pages/docs/concepts/integrated-storage.mdx
  website/pages/docs/concepts/lease.mdx
  website/pages/docs/configuration/telemetry.mdx
  website/pages/docs/index.mdx
  website/pages/docs/internals/integrated-storage.mdx
  website/pages/docs/platform/aws-mp/index.mdx
  website/pages/docs/platform/aws-mp/run.mdx
  website/pages/docs/platform/k8s/helm/examples/enterprise-best-practice.mdx
  website/pages/docs/platform/k8s/helm/examples/enterprise-dr-with-raft.mdx
  website/pages/docs/platform/k8s/helm/examples/enterprise-perf-with-raft.mdx
  website/pages/docs/platform/k8s/helm/examples/kubernetes-auth.mdx
  website/pages/docs/platform/k8s/helm/run.mdx
  website/pages/docs/secrets/databases/oracle.mdx
  website/pages/docs/secrets/gcp/index.mdx
  website/pages/docs/secrets/venafi/index.mdx
  website/pages/docs/upgrading/upgrade-to-0.6.0.mdx
  website/pages/guides/operations/deployment-guide.mdx
Labels: website

#8714 Support unwrapping tokens that does not contain data
  command/unwrap.go
  vault/logical_system.go
Labels: core

#8711 Ui/dr primary components
  ui/app/styles/components/known-secondaries-card.scss
  ui/app/styles/components/replication-primary-card.scss
  ui/app/styles/components/vlt-table.scss
  ui/app/styles/core.scss
  ui/lib/replication/addon/components/known-secondaries-card.js
  ui/lib/replication/addon/components/known-secondaries-table.js
  ui/lib/replication/addon/routes/mode/index.js
  ui/lib/replication/addon/templates/components/known-secondaries-card.hbs
  ui/lib/replication/addon/templates/components/known-secondaries-table.hbs
  ui/lib/replication/addon/templates/components/replication-summary.hbs
Labels: ui

#8720 docs: Update mongodbatlas.mdx
  website/pages/docs/secrets/databases/mongodbatlas.mdx
Labels: docs, secret/database

#8718 docs: add section on transformations for the transform engine
  website/pages/docs/secrets/transform/index.mdx
Labels: docs

#8729 Fixing a typo
  website/pages/api-docs/index.mdx
Labels: docs

#8725 Minor clarifications on token docs
  command/token_create.go
  website/pages/api-docs/auth/token/index.mdx
  website/pages/docs/concepts/tokens.mdx
Labels: docs

#8730 doc: add client tls parameters to openldap
  website/pages/api-docs/secret/openldap/index.mdx
Labels: docs, secret/openldap

#8723 redirect /index.html to root
  website/_redirects
Labels: website

#8727 Retry on transient failures during AWS IAM auth login attempts
  builtin/credential/aws/path_login.go
Labels: auth/aws, bug

#8706 Sidebranch: DR Secondary Dashboard - pr4
  ui/app/components/replication-page.js
  ui/app/components/replication-page/replication-dashboard.js
  ui/app/components/replication-page/replication-toggle.js
  ui/app/styles/components/replication-dashboard.scss
  ui/app/templates/components/replication-page.hbs
  ui/app/templates/components/replication-page/replication-dashboard/dashboard.hbs
  ui/app/templates/components/replication-page/replication-dashboard/replication-card.hbs
  ui/app/templates/components/replication-page/replication-dashboard/replication-table-rows.hbs
  ui/app/templates/components/replication-page/replication-header.hbs
  ui/app/templates/components/replication-page/replication-toggle.hbs
  ui/app/templates/components/wizard/replication-details.hbs
  ui/app/templates/vault/cluster/replication-dr-promote/details.hbs
  ui/app/templates/vault/cluster/replication-dr-promote/index.hbs
  ui/lib/core/addon/components/replication-header.js
  ui/lib/core/addon/components/replication-secondary-card.js
  ui/lib/core/addon/templates/components/replication-card.hbs
  ui/lib/core/addon/templates/components/replication-dashboard.hbs
  ui/lib/core/addon/templates/components/replication-header.hbs
  ui/lib/core/addon/templates/components/replication-page.hbs
  ui/lib/core/addon/templates/components/replication-secondary-card.hbs
  ui/lib/core/app/components/replication-header.js
  ui/lib/core/app/components/replication-secondary-card.js
Labels: ui

#8734 stable-website: Minor clarifications on token docs (#8725)
  command/token_create.go
  website/pages/api-docs/auth/token/index.mdx
  website/pages/docs/concepts/tokens.mdx
Labels: docs

#8517 Fix segfault when seal block is removed
  command/server_util.go
Labels: core/seal

#8740 Improve error outputs in LDAP auth plugin
  builtin/credential/ldap/backend.go
Labels: auth/ldap

#8745 Clarify key rotation capabilities for Azure auto-unseal
  website/pages/docs/configuration/seal/azurekeyvault.mdx
Labels: auth/azure, docs

#8748 Update the version prelease value
  sdk/version/version_base.go
Labels: sdk

#8728 Added docs for PR in Vault GCP Secrets repo
  website/pages/api-docs/secret/gcp/index.mdx
  website/pages/docs/secrets/gcp/index.mdx
Labels: docs

#8741 Sidebranch: DR Secondary Dashboard state message handlers
  ui/app/models/replication-attributes.js
  ui/app/styles/components/replication-dashboard.scss
  ui/app/styles/core/helpers.scss
  ui/app/templates/components/transit-key-action/datakey.hbs
  ui/app/templates/vault/cluster/oidc-callback.hbs
  ui/app/templates/vault/cluster/replication-dr-promote/details.hbs
  ui/lib/core/addon/components/alert-banner.js
  ui/lib/core/addon/components/replication-dashboard.js
  ui/lib/core/addon/components/replication-header.js
  ui/lib/core/addon/components/replication-secondary-card.js
  ui/lib/core/addon/helpers/message-types.js
  ui/lib/core/addon/templates/components/alert-banner.hbs
  ui/lib/core/addon/templates/components/replication-dashboard.hbs
  ui/lib/core/addon/templates/components/replication-header.hbs
  ui/lib/core/addon/templates/components/replication-secondary-card.hbs
  ui/lib/core/addon/templates/components/replication-table-rows.hbs
  ui/lib/core/stories/alert-banner.md
Labels: ui

#8755 core: change rawConfig to be atomic.Value
  vault/core.go
Labels: core

#8764 Clarify version that sink mode is in
  website/pages/docs/agent/autoauth/sinks/file.mdx
Labels: docs

#8763 Docs: Transit, fix payload for Trim Key endpoint
  website/pages/api-docs/secret/transit/index.mdx
Labels: docs

#8743 Ui/update ttl on secret engines
  ui/lib/core/addon/components/form-field.js
  ui/lib/core/addon/components/ttl-picker2.js
  ui/lib/core/addon/templates/components/form-field.hbs
  ui/lib/core/addon/templates/components/ttl-picker2.hbs
  ui/tests/acceptance/settings-test.js
  ui/tests/acceptance/settings/configure-secret-backends/pki/section-crl-test.js
  ui/tests/acceptance/settings/mount-secret-backend-test.js
  ui/tests/integration/components/form-field-test.js
  ui/tests/integration/components/ttl-picker2-test.js
  ui/tests/pages/components/config-pki.js
  ui/tests/pages/components/form-field.js
  ui/tests/pages/secrets/backend/pki/generate-cert.js
  ui/tests/pages/settings/mount-secret-backend.js
Labels: ui

#8732 Ui/dr dashboard tests
  ui/app/styles/components/known-secondaries-card.scss
  ui/app/styles/components/vlt-table.scss
  ui/lib/core/addon/components/replication-table-rows.js
  ui/lib/core/addon/templates/components/replication-table-rows.hbs
  ui/lib/replication/addon/templates/components/known-secondaries-card.hbs
  ui/lib/replication/addon/templates/components/known-secondaries-table.hbs
  ui/tests/integration/components/known-secondaries-card-test.js
  ui/tests/integration/components/known-secondaries-table-test.js
  ui/tests/integration/components/replication-table-rows-test.js
Labels: ui

#8747 show dynamic state glyph
  ui/app/styles/components/replication-dashboard.scss
  ui/app/styles/components/replication-doc-link.scss
  ui/app/styles/core.scss
  ui/lib/core/addon/components/learn-link.js
  ui/lib/core/addon/components/replication-doc-link.js
  ui/lib/core/addon/templates/components/replication-dashboard.hbs
  ui/lib/core/addon/templates/components/replication-doc-link.hbs
  ui/lib/core/app/components/learn-link.js
  ui/lib/core/app/components/replication-doc-link.js
  ui/lib/replication/addon/components/replication-primary-card.js
  ui/lib/replication/addon/templates/components/replication-primary-card.hbs
  ui/lib/replication/addon/templates/components/replication-summary.hbs
Labels: ui

#8784 raft: check for nil on concrete type in SetupCluster
  command/server.go
  physical/raft/raft.go
  vault/cluster.go
  website/pages/docs/configuration/index.mdx
Labels: storage/raft

#8796 http: ensure return after writing response by respondError
  command/agent/cache/handler.go
  http/logical.go
  http/sys_metrics.go
  http/sys_raft.go
Labels: core/http

#8800 Doc: update sys/mounts API response
  website/pages/api-docs/system/mounts.mdx
Labels: docs

#8739 Website readme update!
  website/README.md
Labels: website

#8810 Add changelog url to data file for website
  website/data/version.js
  website/pages/downloads/index.jsx
Labels: website

#8782 Fix: rotate root credentials for database plugins using WAL
  builtin/logical/database/backend.go
  builtin/logical/database/backend_test.go
  builtin/logical/database/path_rotate_credentials.go
  builtin/logical/database/rollback.go
  builtin/logical/database/rollback_test.go
  builtin/logical/database/rotation_test.go
  plugins/database/postgresql/postgresql.go
  plugins/database/redshift/redshift.go
  sdk/database/dbplugin/databasemiddleware.go
Labels: bug, secret/database

#8793 storage/raft: Fix memory allocation issue and Metadata tracking issues with snapshots
  go.sum
  physical/raft/fsm.go
  physical/raft/raft_test.go
  physical/raft/snapshot.go
  physical/raft/snapshot_test.go
Labels: storage/raft

#8826 userpass: fix upgrade value for token_bound_cidrs
  builtin/credential/userpass/path_users.go
Labels: auth/userpass

#8785 identity: Add batch entity deletion endpoint
  helper/storagepacker/storagepacker.go
  helper/storagepacker/storagepacker_test.go
  vault/identity_store_entities.go
  vault/identity_store_entities_test.go
  website/pages/api-docs/secret/identity/entity.mdx
Labels: core/identity

#8792 Sidebranch: dr-secondary-dashboard-pr7
  ui/app/models/cluster.js
  ui/app/styles/components/empty-state.scss
  ui/app/styles/components/replication-dashboard.scss
  ui/app/styles/components/replication-page.scss
  ui/app/styles/core.scss
  ui/app/templates/vault/cluster/replication-dr-promote/details.hbs
  ui/lib/core/addon/components/empty-state.js
  ui/lib/core/addon/components/replication-actions.js
  ui/lib/core/addon/components/replication-dashboard.js
  ui/lib/core/addon/components/replication-page.js
  ui/lib/core/addon/components/replication-secondary-card.js
  ui/lib/core/addon/mixins/replication-actions.js
  ui/lib/core/addon/templates/components/empty-state.hbs
  ui/lib/core/addon/templates/components/replication-dashboard.hbs
  ui/lib/core/addon/templates/components/replication-header.hbs
  ui/lib/core/addon/templates/components/replication-page.hbs
  ui/lib/core/addon/templates/components/replication-secondary-card.hbs
  ui/lib/core/stories/empty-state.md
  ui/lib/replication/addon/components/replication-summary.js
  ui/lib/replication/addon/templates/components/replication-summary.hbs
  ui/tests/integration/components/replication-table-rows-test.js
Labels: ui

#8841 Backport: Support unwrapping tokens that does not contain data (#8714)
  command/unwrap.go
  vault/logical_system.go
Labels: core

#8840 seal/gcpkms: fix panic that occurs when the seal config map is nil
  command/server/seal/server_seal_gcpckms.go
Labels: core/seal

#8842 Backport PR #8740 to 1.4.1 (Improve error outputs in LDAP auth plugin)
  builtin/credential/ldap/backend.go
Labels: auth/ldap, backport

#8822 Add 'iam_alias' and 'gce_alias' fields to API docs
  website/pages/api-docs/auth/gcp/index.mdx
Labels: auth/gcp, docs

#8646 token: disallow periods on custom token IDs
  vault/token_store.go
  vault/token_store_test.go
  website/pages/api-docs/auth/token/index.mdx
Labels: core/token

#8783 Add helper for aliasmetadata and add to AWS auth
  builtin/credential/aws/path_config_identity.go
  builtin/credential/aws/path_login.go
  builtin/credential/aws/path_login_test.go
  sdk/helper/authmetadata/auth_metadata.go
  sdk/helper/authmetadata/auth_metadata_acc_test.go
  sdk/helper/authmetadata/auth_metadata_test.go
  sdk/logical/identity.pb.go
  sdk/logical/identity.proto
  vendor/github.com/hashicorp/vault/sdk/helper/authmetadata/auth_metadata.go
  vendor/github.com/hashicorp/vault/sdk/logical/identity.pb.go
  vendor/github.com/hashicorp/vault/sdk/logical/identity.proto
Labels: auth/aws, bug, ecosystem, sdk

#8861 Handle request errors during raft snapshot
  api/sys_raft.go
Labels: backport

#8771 Update OIDC configuration docs
  website/pages/docs/auth/jwt.mdx
Labels: docs

#8867 Ensure that the .vault-token file writen by `vault login` always has the correct permissions and ownership.
  command/config/util.go
  command/token/helper_internal.go
  command/token/helper_internal_test.go
  go.mod
  go.sum
  vendor/github.com/hashicorp/vault/api/sys_raft.go
  vendor/github.com/hashicorp/vault/sdk/database/dbplugin/databasemiddleware.go
  vendor/github.com/natefinch/atomic/.gitignore
  vendor/github.com/natefinch/atomic/LICENSE
  vendor/github.com/natefinch/atomic/README.md
  vendor/github.com/natefinch/atomic/atomic.go
  vendor/github.com/natefinch/atomic/file_unix.go
  vendor/github.com/natefinch/atomic/file_windows.go
  vendor/github.com/natefinch/atomic/zfile_windows.go
  vendor/modules.txt
Labels: core/cli

#8862 GCP Auth docs - Move `iam_alias` and `gce_alias` to config instead of role
  website/pages/api-docs/auth/gcp/index.mdx
Labels: auth/gcp, bug, enhancement

#8845 Replication Primary Dashboard: handle errors
  ui/app/models/cluster.js
  ui/app/styles/components/replication-dashboard.scss
  ui/app/styles/components/selectable-card.scss
  ui/app/templates/vault/cluster/replication-dr-promote/details.hbs
  ui/lib/core/addon/components/replication-dashboard.js
  ui/lib/core/addon/components/replication-mode-summary.js
  ui/lib/core/addon/components/replication-secondary-card.js
  ui/lib/core/addon/components/toggle.js
  ui/lib/core/addon/helpers/cluster-states.js
  ui/lib/core/addon/templates/components/replication-mode-summary.hbs
  ui/lib/core/addon/templates/components/replication-secondary-card.hbs
  ui/lib/core/addon/templates/components/replication-toggle.hbs
  ui/lib/core/app/helpers/cluster-states.js
  ui/lib/replication/addon/components/replication-primary-card.js
  ui/lib/replication/addon/templates/components/known-secondaries-card.hbs
  ui/lib/replication/addon/templates/components/replication-primary-card.hbs
  ui/lib/replication/addon/templates/components/replication-summary.hbs
  ui/tests/integration/components/replication-primary-card-test.js
Labels: ui

#8880 Document AWS auth metadata
  website/pages/api-docs/auth/aws/index.mdx
Labels: auth/aws, docs

#8879 Document new GCP auth metadata fields
  website/pages/api-docs/auth/gcp/index.mdx
Labels: auth/gcp, docs

#8689 [auth/gcp] Add missing permission to documentation
  website/pages/docs/auth/gcp.mdx
Labels: bug, docs

#8878 Ui/replication/refactor dashboard components
  ui/app/templates/vault/cluster/replication-dr-promote/details.hbs
  ui/lib/core/addon/components/replication-dashboard.js
  ui/lib/core/addon/components/replication-header.js
  ui/lib/core/addon/components/replication-page.js
  ui/lib/core/addon/components/replication-secondary-card.js
  ui/lib/core/addon/components/replication-table-rows.js
  ui/lib/core/addon/templates/components/replication-dashboard.hbs
  ui/lib/core/addon/templates/components/replication-header.hbs
  ui/lib/core/addon/templates/components/replication-page.hbs
  ui/lib/core/addon/templates/components/replication-table-rows.hbs
  ui/lib/replication/addon/templates/components/replication-summary.hbs
  ui/tests/integration/components/known-secondaries-card-test.js
  ui/tests/integration/components/known-secondaries-table-test.js
  ui/tests/integration/components/replication-primary-card-test.js
  ui/tests/integration/components/replication-table-rows-test.js
Labels: ui

#8887 Add AWS auth metadata changes to upgrade guide
  website/data/docs-navigation.js
  website/pages/docs/upgrading/upgrade-to-1.3.5.mdx
  website/pages/partials/aws-auth-metadata-fix.mdx
Labels: auth/aws, docs, docs-cherrypick

#8898 Add overlooked role params.
  website/pages/api-docs/secret/kmip/index.mdx
Labels: docs-cherrypick

#8904 website: bump version to 1.4.1
  website/data/version.js
Labels: docs-cherrypick
