Repository hashicorp/vault, pull requests merged in 2020-11, with the labels that each got.

#10313 docs: clarify location of service account key file for google-specific OIDC handling
  website/pages/docs/auth/jwt_oidc_providers.mdx
Labels: docs-cherrypick

#10314 Move "counters" path to the logical system's local path list.
  vault/counters.go
  vault/logical_system.go
Labels: core/metric

#10322 Update query params sent to activity endpoint
  ui/app/routes/vault/cluster/metrics/index.js
Labels: bug, ui

#10324 Fix inner link on transform item
  ui/app/templates/components/transform-list-item.hbs
Labels: bug, ui

#10326 Backport 1.6.0: Update query params sent to activity endpoint
  ui/app/routes/vault/cluster/metrics/index.js
Labels: bug, ui

#10325 Backport 1.6.0: Fix link on transform item
  ui/app/templates/components/transform-list-item.hbs
Labels: bug, ui

#10315 Documentation for client count / activity log API.
  website/data/docs-navigation.js
  website/pages/api-docs/system/internal-counters.mdx
  website/pages/docs/concepts/client-count.mdx
  website/pages/docs/internals/telemetry.mdx
Labels: core/metric, docs

#10327 [Website] Bump HSM version
  website/package-lock.json
  website/package.json
Labels: docs-cherrypick, website

#9929 Elipse / triple dots missing in VAULT_TOKEN
  website/pages/api-docs/system/rekey.mdx
Labels: docs-cherrypick

#10316 Move "counters" path to the logical system's local path list. (#10314)
  vault/counters.go
  vault/logical_system.go
Labels: backport, core/metric

#10340 Backport 10285 10335 1.6.x
  vault/external_tests/quotas/quotas_test.go
  vault/logical_system_quotas.go
  vault/quotas/quotas.go
Labels: backport

#10338 Add autosnapshot docs.
  website/pages/api-docs/system/storage/index.mdx
  website/pages/api-docs/system/storage/raftautosnapshots.mdx
  website/pages/docs/enterprise/automated-raft-snapshots/index.mdx
  website/pages/docs/internals/telemetry.mdx
Labels: docs-cherrypick

#10108 Add plugin reload docs to the website sidebar
  website/data/docs-navigation.js
  website/pages/docs/commands/plugin/reload.mdx
Labels: docs-cherrypick

#10345 Wait for asynchronous deletion to finish before restarting.
  vault/activity_log.go
  vault/activity_log_test.go
Labels: core/metric

#10344 Error on root rotation when username is empty
  builtin/logical/database/path_rotate_credentials.go
Labels: secret/database

#10341 Ui/test metrics mirage
  ui/app/templates/components/pricing-metrics-dates.hbs
  ui/app/templates/vault/cluster/metrics/index.hbs
  ui/mirage/config.js
  ui/mirage/factories/metrics/activity.js
  ui/mirage/factories/metrics/config.js
  ui/mirage/factories/user.js
  ui/mirage/scenarios/default.js
  ui/mirage/serializers/application.js
  ui/package.json
  ui/tests/acceptance/usage-metrics-test.js
  ui/tests/pages/metrics.js
  ui/yarn.lock
Labels: bug, ui

#10355 Backport 1.6.0: Ui/test metrics mirage (#10341)
  ui/app/templates/components/pricing-metrics-dates.hbs
  ui/app/templates/vault/cluster/metrics/index.hbs
  ui/mirage/config.js
  ui/mirage/factories/metrics/activity.js
  ui/mirage/factories/metrics/config.js
  ui/mirage/factories/user.js
  ui/mirage/scenarios/default.js
  ui/mirage/serializers/application.js
  ui/package.json
  ui/tests/acceptance/usage-metrics-test.js
  ui/tests/pages/metrics.js
  ui/yarn.lock
Labels: ui

#10347 Fix azure auth docs formatting
  website/pages/docs/auth/azure.mdx
Labels: docs-cherrypick

#10362 more info on when vm params are not needed
  website/pages/docs/auth/azure.mdx
Labels: docs-cherrypick

#10353 docs: adds documentation for key management secrets engine
  website/data/api-navigation.js
  website/data/docs-navigation.js
  website/pages/api-docs/secret/key-management/index.mdx
  website/pages/docs/secrets/key-management/index.mdx
Labels: docs

#10360 Remove unused http-request-xx components and associated files
  ui/app/components/http-requests-bar-chart-simple.js
  ui/app/components/http-requests-bar-chart.js
  ui/app/components/http-requests-container.js
  ui/app/components/http-requests-table.js
  ui/app/styles/components/http-requests-bar-chart.scss
  ui/app/styles/components/http-requests-table.scss
  ui/app/styles/components/selectable-card.scss
  ui/app/styles/core.scss
  ui/app/templates/components/http-requests-bar-chart-simple.hbs
  ui/app/templates/components/http-requests-bar-chart.hbs
  ui/app/templates/components/http-requests-container.hbs
  ui/app/templates/components/http-requests-table.hbs
  ui/stories/http-requests-bar-chart-simple.md
  ui/stories/http-requests-bar-chart-simple.stories.js
  ui/stories/http-requests-bar-chart.md
  ui/stories/http-requests-bar-chart.stories.js
  ui/stories/http-requests-container.md
  ui/stories/http-requests-container.stories.js
  ui/stories/http-requests-table.md
  ui/stories/http-requests-table.stories.js
  ui/tests/integration/components/http-requests-bar-chart-simple-test.js
  ui/tests/integration/components/http-requests-bar-chart-test.js
  ui/tests/integration/components/http-requests-container-test.js
  ui/tests/integration/components/http-requests-table-test.js
Labels: ui

#10383 Transform doc fix
  website/pages/docs/secrets/transform/index.mdx
Labels: docs-cherrypick

#10385 Added upgrade note about go version
  website/pages/docs/upgrading/upgrade-to-1.6.0.mdx
Labels: docs-cherrypick

#10387 Add automated raft snapshots to sidebar
  website/data/api-navigation.js
  website/data/docs-navigation.js
  website/pages/docs/enterprise/automated-integrated-storage-snapshots/index.mdx
Labels: docs-cherrypick

#10392 Link to transform concepts page in sidebar.
  website/data/docs-navigation.js
Labels: docs-cherrypick

#10372 Add upgrade note for Database interface change in 1.6
  website/pages/docs/upgrading/upgrade-to-1.6.0.mdx
Labels: docs-cherrypick

#10400 Update 'sane' default to say 'reasonable' default
  website/pages/docs/commands/debug.mdx
Labels: docs

#10403 Clarify JWT in kubernetes auth docs
  website/pages/api-docs/auth/kubernetes/index.mdx
  website/pages/docs/auth/kubernetes.mdx
Labels: docs-cherrypick

#10411 Add Learn links
  website/pages/docs/secrets/consul/index.mdx
  website/pages/docs/secrets/nomad/index.mdx
  website/pages/docs/secrets/transform/tokenization.mdx
Labels: docs/learn

#10425 Change API token to ACL token
  website/pages/docs/secrets/nomad/index.mdx
Labels: docs-cherrypick

#10396 Update to list policy & some raft docs
  website/pages/docs/commands/operator/raft.mdx
  website/pages/docs/concepts/integrated-storage.mdx
  website/pages/docs/concepts/policies.mdx
  website/pages/docs/internals/integrated-storage.mdx
Labels: docs-cherrypick

#10414 Clarify docs around autoseals
  website/pages/docs/concepts/seal.mdx
Labels: docs-cherrypick

#10417 Fix delete role issue on transform
  changelog/10417.txt
  ui/lib/core/addon/components/search-select.js
  ui/tests/integration/components/search-select-test.js
Labels: bug, ui

#8017 Fix KV list command with whitespaces
  command/base_helpers.go
  command/kv_list.go
  command/list.go
  command/list_test.go
Labels: core/cli, secret/kv, waiting-for-response

#10432 Added documentation for `vault operator usage`.
  website/data/docs-navigation.js
  website/pages/docs/commands/operator/usage.mdx
Labels: core/metric, docs

#10440 Backport 1.6.1: "vault operator usage" CLI for client count reporting (#10365)
  changelog/10365.txt
  command/commands.go
  command/operator_usage.go
Labels: backport

#10455 docs: corrects a typo in the azure secrets docs
  website/pages/docs/secrets/azure/index.mdx
Labels: docs, docs-cherrypick

#10156 Update HCL dependency to fix ParseACLPolicy error on invalid syntax
  CHANGELOG.md
  go.mod
  go.sum
  vault/acl_test.go
  vendor/github.com/hashicorp/hcl/hcl/ast/ast.go
  vendor/modules.txt
Labels: backport
