Repository hashicorp/vault, pull requests merged in 2020-01, with the labels that each got.

#8058 Fix automatic token set for plugin unwrap requests
  api/plugin_helpers.go
Labels: core/plugin

#8088 Add identity templating helper to sdk/framework
  helper/identity/identity.go
  sdk/framework/identity.go
  sdk/framework/identity_test.go
  sdk/helper/identitytpl/templating.go
  sdk/helper/identitytpl/templating_test.go
  sdk/logical/identity.pb.go
  sdk/logical/identity.proto
  sdk/logical/system_view.go
  sdk/plugin/grpc_system.go
  sdk/plugin/grpc_system_test.go
  sdk/plugin/pb/backend.pb.go
  sdk/plugin/pb/backend.proto
  vault/dynamic_system_view.go
  vault/dynamic_system_view_test.go
  vault/identity_store_oidc.go
  vault/policy.go
  vendor/github.com/hashicorp/vault/api/plugin_helpers.go
  vendor/github.com/hashicorp/vault/sdk/framework/identity.go
  vendor/github.com/hashicorp/vault/sdk/helper/identitytpl/templating.go
  vendor/github.com/hashicorp/vault/sdk/logical/identity.pb.go
  vendor/github.com/hashicorp/vault/sdk/logical/identity.proto
  vendor/github.com/hashicorp/vault/sdk/logical/system_view.go
  vendor/github.com/hashicorp/vault/sdk/plugin/grpc_system.go
  vendor/github.com/hashicorp/vault/sdk/plugin/pb/backend.pb.go
  vendor/github.com/hashicorp/vault/sdk/plugin/pb/backend.proto
  vendor/modules.txt
Labels: core/identity

#8028 UI: add a command to build static storybook for deploying to netlify
  ui/.gitignore
  ui/README.md
  ui/package.json
Labels: ui

#8107 Fix Headings for Consul Secret Engine
  website/source/api/secret/consul/index.html.md
Labels: docs, secret/consul

#7175 Add path attributes to indicate when operations should forward
  sdk/framework/backend.go
  sdk/framework/backend_test.go
  sdk/framework/path.go
Labels: internal

#8112 upgrade handlebars
  ui/package.json
  ui/yarn.lock
Labels: backport, ui

#8113 upgrade handlebars (#8112)
  ui/package.json
  ui/yarn.lock
Labels: ui

#8110 Docs: Add telemetry reference to answer "where are the metrics listed"?
  website/source/docs/configuration/telemetry.html.md
Labels: docs

#8109 Update docs to add example of field output for KV get
  website/source/docs/commands/kv/get.html.md
Labels: docs

#8108 Docs: Add note about needing to do plugin reload on each node
  website/source/docs/upgrading/plugins.html.md
Labels: docs

#8106 Fix DB root rotation replication issue
  builtin/logical/database/path_rotate_credentials.go
Labels: backport

#7999 Add Kerberos auth agent
  api/client.go
  api/client_test.go
  builtin/credential/aws/path_role_test.go
  builtin/logical/pki/backend_test.go
  command/agent.go
  command/agent/auth/alicloud/alicloud.go
  command/agent/auth/approle/approle.go
  command/agent/auth/auth.go
  command/agent/auth/auth_test.go
  command/agent/auth/aws/aws.go
  command/agent/auth/azure/azure.go
  command/agent/auth/cert/cert.go
  command/agent/auth/cf/cf.go
  command/agent/auth/gcp/gcp.go
  command/agent/auth/jwt/jwt.go
  command/agent/auth/kerberos/integtest/integrationtest.sh
  command/agent/auth/kerberos/kerberos.go
  command/agent/auth/kerberos/kerberos_test.go
  command/agent/auth/kubernetes/kubernetes.go
  command/agent/auth/kubernetes/kubernetes_test.go
  command/agent/aws_end_to_end_test.go
  helper/metricsutil/metricsutil_test.go
  vendor/github.com/hashicorp/vault/api/client.go
Labels: auth/kerberos

#8060 Replace deprecated AWS client instantiations
  builtin/logical/aws/backend_test.go
  builtin/logical/aws/client.go
  physical/s3/s3.go
  physical/s3/s3_test.go
Labels: secret/aws, storage/s3

#7985 Add aws metadata to identity alias
  builtin/credential/aws/path_login.go
  builtin/credential/aws/path_login_test.go
Labels: auth/aws

#8126 Backport: Fix DB static role credential rotation replication issue
  builtin/logical/database/path_rotate_credentials.go
Labels: backport

#8105 Fix DB static role credential rotation replication issue
  builtin/logical/database/path_rotate_credentials.go
Labels: core/replication, secret/database

#8125 Backport: Fix DB root rotation replication issue
  builtin/logical/database/path_rotate_credentials.go
Labels: backport

#8062 Add support for AWS instance metadata v2
  command/agent/auth/aws/aws.go
  helper/awsutil/region.go
  helper/awsutil/region_test.go
Labels: auth/aws

#8132 Fix delete namespaces
  ui/lib/core/addon/templates/components/list-view.hbs
  ui/lib/core/stories/list-view.stories.js
Labels: ui

#7856 Raft retry join
  command/server.go
  command/server/config.go
  command/server/config_test.go
  command/server/config_test_helpers.go
  command/server/test-fixtures/raft_retry_join.hcl
  go.mod
  helper/testhelpers/testhelpers.go
  http/sys_raft.go
  physical/raft/raft.go
  vault/core.go
  vault/external_tests/raft/raft_test.go
  vault/logical_system_raft.go
  vault/raft.go
Labels: storage/raft

#8133 Show permissions error on KV when you don't have access to create a secret
  ui/app/templates/partials/secret-form-create.hbs
  ui/app/templates/partials/secret-form-edit.hbs
Labels: ui

#8159 Backport pr 8152 1.3.x
  .circleci/config.yml
  .circleci/config/@config.yml
Labels: ui

#7929 Fix oidc callback to check entire storage
  ui/app/components/auth-jwt.js
  ui/tests/integration/components/auth-jwt-test.js
Labels: auth/jwt-oidc, ui

#8136 Backport 1.3.x: fix deleting namespaces
  ui/lib/core/addon/templates/components/list-view.hbs
  ui/lib/core/stories/list-view.stories.js
Labels: ui

#8072 ldap, okta: fix renewal when login policies are empty
  builtin/credential/ldap/path_login.go
  builtin/credential/okta/path_login.go
  vault/external_tests/policy/no_default_test.go
Labels: backport

#8166 Backport 1.3.x: update serialize-javascript to fix security vulnerability (#8029)
  ui/package.json
  ui/yarn.lock
Labels: ui

#8170 Show permissions error on KV when you don't have access to create a s…
  ui/app/templates/partials/secret-form-create.hbs
  ui/app/templates/partials/secret-form-edit.hbs
Labels: ui

#8169 Fix oidc callback to check entire storage (#7929)
  ui/app/components/auth-jwt.js
  ui/tests/integration/components/auth-jwt-test.js
Labels: ui

#8183 Backport 1.3.x: fix overflow issue on box-radio
  ui/app/styles/components/box-radio.scss
Labels: bug, ui

#8160 Strip unnecessary payload in AD root cred rotation example
  website/pages/api-docs/secret/ad/index.mdx
Labels: docs

#8179 Fix k8s injector examples
  website/pages/docs/platform/k8s/injector/examples.mdx
Labels: docs

#8038 ssh backend: support at character in role name
  builtin/logical/ssh/backend_test.go
  builtin/logical/ssh/path_creds_create.go
  builtin/logical/ssh/path_roles.go
  builtin/logical/ssh/path_sign.go
Labels: secret/ssh

#8146 update 'learn about the configuration options' link
  website/pages/docs/platform/k8s/helm/run.mdx
Labels: docs

#8199 Fix k8s docs for running standalone
  website/pages/docs/platform/k8s/helm/run.mdx
Labels: docs

#8022 Improve Helm chart example for standalone with TLS configuration
  website/pages/docs/platform/k8s/helm/examples.mdx
Labels: docs, enhancement

#8207 Website: Cleanup formatting on database index doc
  website/pages/api-docs/secret/databases/index.mdx
Labels: docs, enhancement

#8123 Observer pattern for service registration interface
  command/commands.go
  command/server.go
  physical/consul/consul.go
  physical/consul/consul_test.go
  sdk/helper/tlsutil/tlsutil.go
  serviceregistration/consul/consul_service_registration.go
  serviceregistration/consul/consul_service_registration_test.go
  serviceregistration/service_registration.go
  vault/core.go
  vault/core_test.go
  vault/ha.go
  vault/init.go
  vendor/github.com/hashicorp/vault/sdk/helper/tlsutil/tlsutil.go
Labels: storage/consul

#8230 Fix for missing License nav item in menu
  ui/app/templates/partials/status/cluster.hbs
Labels: ui

#8220 Add Kerberos agent docs
  website/data/docs-navigation.js
  website/pages/docs/agent/autoauth/methods/kerberos.mdx
  website/pages/docs/auth/kerberos.mdx
Labels: auth/kerberos, docs, ecosystem

#8217 Adding pricing module note for enterprise features
  website/pages/docs/enterprise/control-groups/index.mdx
  website/pages/docs/enterprise/entropy-augmentation/index.mdx
  website/pages/docs/enterprise/hsm/index.mdx
  website/pages/docs/enterprise/mfa/index.mdx
  website/pages/docs/enterprise/namespaces/index.mdx
  website/pages/docs/enterprise/performance-standby/index.mdx
  website/pages/docs/enterprise/replication/index.mdx
  website/pages/docs/enterprise/sealwrap/index.mdx
  website/pages/docs/enterprise/sentinel/index.mdx
  website/pages/docs/secrets/kmip/index.mdx
Labels: docs

#8211 Fix redoing redirect response raft snapshot cli
  api/sys_raft.go
  vendor/github.com/hashicorp/vault/api/sys_raft.go
Labels: backport

#8235 Clarify the k8s helm run docs
  website/pages/docs/platform/k8s/helm/run.mdx
Labels: bug, docs

#8218 Allow default auth method to be either "other" or auth of the enabled listing-visibility unauth
  ui/app/controllers/vault/cluster/auth.js
  ui/tests/acceptance/auth-test.js
  ui/tests/acceptance/redirect-to-test.js
Labels: ui

#8243 Fix Vault Agent Template TLS config parameters
  command/agent.go
Labels: core/agent

#8255 ui: show kmip details in wizard
  ui/app/templates/components/wizard/kmip-engine.hbs
Labels: bug, ui

#8238 Core usage metrics v1 (merge to side-branch)
  ui/app/router.js
  ui/app/routes/vault/cluster/metrics.js
  ui/app/routes/vault/cluster/metrics/http-requests.js
  ui/app/templates/partials/status/cluster.hbs
  ui/app/templates/vault/cluster/metrics/http-requests.hbs
  ui/app/templates/vault/cluster/metrics/index.hbs
Labels: ui

#8254 Docs: Add nomad TLS options
  website/pages/api-docs/secret/nomad/index.mdx
Labels: docs

#8253 Add TLS options to Consul secret backend access API endpoint
  api/go.sum
  builtin/logical/consul/client.go
  builtin/logical/consul/path_config.go
  go.mod
  go.sum
  vendor/github.com/hashicorp/consul/api/acl.go
  vendor/github.com/hashicorp/consul/api/agent.go
  vendor/github.com/hashicorp/consul/api/api.go
  vendor/github.com/hashicorp/consul/api/catalog.go
  vendor/github.com/hashicorp/consul/api/config_entry.go
  vendor/github.com/hashicorp/consul/api/config_entry_discoverychain.go
  vendor/github.com/hashicorp/consul/api/connect_ca.go
  vendor/github.com/hashicorp/consul/api/connect_intention.go
  vendor/github.com/hashicorp/consul/api/coordinate.go
  vendor/github.com/hashicorp/consul/api/discovery_chain.go
  vendor/github.com/hashicorp/consul/api/go.mod
  vendor/github.com/hashicorp/consul/api/go.sum
  vendor/github.com/hashicorp/consul/api/health.go
  vendor/github.com/hashicorp/consul/api/kv.go
  vendor/github.com/hashicorp/consul/api/lock.go
  vendor/github.com/hashicorp/consul/api/namespace.go
  vendor/github.com/hashicorp/consul/api/operator_autopilot.go
  vendor/github.com/hashicorp/consul/api/operator_license.go
  vendor/github.com/hashicorp/consul/api/semaphore.go
  vendor/github.com/hashicorp/consul/api/session.go
  vendor/github.com/hashicorp/consul/api/txn.go
  vendor/github.com/hashicorp/vault/api/go.sum
  vendor/github.com/hashicorp/vault/sdk/helper/tlsutil/tlsutil.go
  vendor/modules.txt
  website/pages/api-docs/secret/consul/index.mdx
Labels: secret/consul

#8257 test: fix TestAgent_Template_Basic
  command/agent_test.go
Labels: bug, core/agent

#8101 Added flag to disable X-Vault-Token header proxy if client passes the token
  command/agent.go
  command/agent/cache/cache_test.go
  command/agent/cache/handler.go
  command/agent/cache/testing.go
  command/agent/cache_end_to_end_test.go
  command/agent/config/config.go
  command/agent/config/config_test.go
  command/agent/config/test-fixtures/config-cache-auto_auth-false.hcl
  command/agent/config/test-fixtures/config-cache-auto_auth-force.hcl
  command/agent/config/test-fixtures/config-cache-auto_auth-true.hcl
Labels: core/agent, enhancement

#8262 Fix default max_open_connections for db plugins
  website/pages/api-docs/secret/databases/hanadb.mdx
  website/pages/api-docs/secret/databases/mssql.mdx
  website/pages/api-docs/secret/databases/mysql-maria.mdx
  website/pages/api-docs/secret/databases/oracle.mdx
  website/pages/api-docs/secret/databases/postgresql.mdx
Labels: bug, docs, secret/database
