Repository hashicorp/vault, pull requests merged in 2021-03, with the labels that each got.

#11018 Add test for db role setting form component
  changelog/11018.txt
  ui/app/templates/components/database-role-setting-form.hbs
  ui/tests/integration/components/database-role-setting-form-test.js
Labels: ui

#11029 Remove broken AWS Vault Enterprise AMI Link
  website/content/docs/platform/aws-mp/index.mdx
Labels: docs, docs-cherrypick

#10938 agent: persistent caching support
  changelog/10927.txt
  changelog/10938.txt
  command/agent.go
  command/agent/cache/cacheboltdb/bolt.go
  command/agent/cache/cacheboltdb/bolt_test.go
  command/agent/cache/cachememdb/index.go
  command/agent/cache/cachememdb/index_test.go
  command/agent/cache/crypto/crypto.go
  command/agent/cache/crypto/k8s.go
  command/agent/cache/crypto/k8s_test.go
  command/agent/cache/keymanager/manager.go
  command/agent/cache/keymanager/passthrough.go
  command/agent/cache/keymanager/passthrough_test.go
  command/agent/cache/lease_cache.go
  command/agent/cache/lease_cache_test.go
  command/agent/config/config.go
  command/agent/config/config_test.go
  command/agent/config/test-fixtures/config-cache-embedded-type.hcl
  command/agent/config/test-fixtures/config-cache-persist-empty-type.hcl
  command/agent/config/test-fixtures/config-cache-persist-false.hcl
  command/agent/config/test-fixtures/config-cache.hcl
  command/agent/template/template.go
  command/agent/template/template_test.go
Labels: core/agent, ecosystem

#11043 Bug fix: change default root rotation on DBSE static role from 5s to 24hr
  ui/app/components/database-role-edit.js
  ui/app/models/database/role.js
Labels: ui

#11044 Update init.mdx
  website/content/docs/commands/operator/init.mdx
Labels: docs

#11049 Autopilot: Reset IsDead upon each heartbeat
  physical/raft/raft_autopilot.go
Labels: backport

#11056 Backport autorotate migration config bug fix to 1.7.x
  vault/barrier_aes_gcm.go
  vault/barrier_aes_gcm_test.go
  vault/keyring.go
Labels: backport

#11091 Fix autopilot fsm race
  physical/raft/fsm.go
  physical/raft/raft.go
Labels: backport

#11094 UI: Add null check before getting userRootNamespace from storage
  changelog/11094.txt
  ui/app/routes/vault/cluster.js
Labels: backport, bug, ui

#11095 Backport 1.7.0: Add null check before getting userRootNamespace from storage (#11…
  changelog/11094.txt
  ui/app/routes/vault/cluster.js
Labels: bug, ui

#11083 Update alert banner
  website/data/alert-banner.js
Labels: docs-cherrypick, website

#11103 Fix typo in limits.mdx
  website/content/docs/internals/limits.mdx
Labels: docs, docs-cherrypick

#11098 Upgrade notes for the transform engine upgrade bug fix.
  website/content/docs/upgrading/upgrade-to-1.6.0.mdx
  website/content/docs/upgrading/upgrade-to-1.6.1.mdx
  website/content/docs/upgrading/upgrade-to-1.6.2.mdx
  website/content/docs/upgrading/upgrade-to-1.6.3.mdx
  website/content/partials/transform-upgrade.mdx
Labels: docs-cherrypick

#11101 Update oracle.mdx
  website/content/docs/secrets/databases/oracle.mdx
Labels: docs-cherrypick

#10978 Add FF3-1 Tweak Guidance Docs [VAULT-1036]
  website/content/docs/secrets/transform/ff3-tweak-details.mdx
  website/content/docs/secrets/transform/index.mdx
Labels: docs-cherrypick

#11065 Remove Skip from flaky test left over from Ember Upgrade
  ui/tests/acceptance/access/identity/entities/create-test.js
  ui/tests/acceptance/enterprise-control-groups-test.js
  ui/tests/acceptance/enterprise-kmip-test.js
  ui/tests/acceptance/redirect-to-test.js
  ui/tests/acceptance/secrets/backend/pki/role-test.js
  ui/tests/acceptance/settings/configure-secret-backends/pki/section-cert-test.js
  ui/tests/pages/auth.js
  ui/tests/pages/components/config-pki-ca.js
  ui/tests/pages/components/console/ui-panel.js
  ui/tests/pages/secrets/backend/pki/edit-role.js
  ui/tests/pages/secrets/backend/pki/show.js
  ui/tests/pages/settings/mount-secret-backend.js
Labels: ui

#11117 Backport 1.7.x fix flaky test and remove their skips
  ui/tests/acceptance/access/identity/entities/create-test.js
  ui/tests/acceptance/enterprise-control-groups-test.js
  ui/tests/acceptance/enterprise-kmip-test.js
  ui/tests/acceptance/redirect-to-test.js
  ui/tests/acceptance/secrets/backend/pki/role-test.js
  ui/tests/acceptance/settings/configure-secret-backends/pki/section-cert-test.js
  ui/tests/pages/auth.js
  ui/tests/pages/components/config-pki-ca.js
  ui/tests/pages/components/console/ui-panel.js
  ui/tests/pages/secrets/backend/pki/edit-role.js
  ui/tests/pages/secrets/backend/pki/show.js
  ui/tests/pages/settings/mount-secret-backend.js
Labels: backport, ui

#11115 Updates docs for jwt_supported_algs in JWT/OIDC auth method
  website/content/api-docs/auth/jwt.mdx
Labels: docs

#11126 Add note that static role is rotated upon creation
  website/content/api-docs/secret/databases/index.mdx
Labels: docs-cherrypick

#11119 UI: Connection "Add Role" automatically populates database in form
  changelog/11119.txt
  ui/app/components/database-role-edit.js
  ui/app/templates/components/database-connection.hbs
  ui/tests/acceptance/secrets/backend/database/secret-test.js
Labels: bug, ui

#11127 UI/fix backend db connection
  changelog/11127.txt
  ui/app/adapters/database/connection.js
  ui/tests/acceptance/secrets/backend/database/secret-test.js
  ui/tests/pages/secrets/backend/database/connection.js
Labels: backport, bug, ui

#10864 Docs - Plugin register operator & example add
  website/content/docs/internals/plugins.mdx
Labels: docs-cherrypick

#10862 Docs - Corrected links for Consul Consistency Modes
  website/content/docs/configuration/storage/consul.mdx
Labels: docs-cherrypick

#11132 Backport 1.7: UI: Connection "Add Role" automatically populates database
  changelog/11119.txt
  ui/app/components/database-role-edit.js
  ui/app/templates/components/database-connection.hbs
  ui/tests/acceptance/secrets/backend/database/secret-test.js
Labels: bug, ui

#11131 Backport 1.7: UI/fix backend db connection (#11127)
  changelog/11127.txt
  ui/app/adapters/database/connection.js
  ui/tests/acceptance/secrets/backend/database/secret-test.js
  ui/tests/pages/secrets/backend/database/connection.js
Labels: bug, ui

#11138 docs: update vault-k8s to 0.9.0
  website/content/docs/platform/k8s/injector/annotations.mdx
  website/content/docs/platform/k8s/injector/examples.mdx
  website/content/docs/platform/k8s/injector/index.mdx
Labels: docs-cherrypick

#11142 Update MMMM Do yyyy to MMMM do yyyy per date-fns format docs
  changelog/11142.txt
  ui/app/templates/components/token-expire-warning.hbs
Labels: backport, bug, ui

#11154 Update MMMM Do yyyy to MMMM do yyyy per date-fns format docs (#11142)
  changelog/11142.txt
  ui/app/templates/components/token-expire-warning.hbs
Labels: bug, ui

#10893 Update raft api docs
  website/content/api-docs/system/storage/raft.mdx
Labels: docs

#11143 UI/control groups kv
  changelog/11143.txt
  ui/app/components/secret-edit.js
Labels: bug, ui

#11146 Update AWS Auth docs for deprecated terms and endpoints
  website/content/api-docs/auth/aws.mdx
  website/content/docs/auth/aws.mdx
Labels: docs-cherrypick

#11176 website: update alert banner for webinar
  website/data/alert-banner.js
Labels: docs-cherrypick, website

#11182 UI/namespace bug
  changelog/11182.txt
  ui/app/components/namespace-link.js
Labels: bug, ui

#11183 Backport 1.7.x: UI/namespace bug
  changelog/11182.txt
  ui/app/components/namespace-link.js
Labels: bug, ui

#11186 Bug fix namespace issues
  ui/app/components/namespace-picker.js
Labels: ui

#11187 Backport 1.7.x: namespace fix
  ui/app/components/namespace-picker.js
Labels: bug, ui

#11111 Added Redis Enterprise database plugin
  website/content/docs/plugin-portal.mdx
Labels: docs-cherrypick

#11105 update transform.mdx
  website/content/api-docs/secret/transform.mdx
Labels: docs-cherrypick

#11195 Fixing some typos
  website/content/docs/upgrading/upgrade-to-1.7.0.mdx
Labels: docs-cherrypick

#11200 docs: update vault-helm to 0.10.0
  website/content/docs/platform/k8s/helm/configuration.mdx
  website/content/docs/platform/k8s/helm/index.mdx
  website/content/docs/platform/k8s/helm/openshift.mdx
  website/content/docs/platform/k8s/helm/run.mdx
Labels: docs-cherrypick

#11206 fix for ff3-1 doc formatting
  website/content/docs/secrets/transform/ff3-tweak-details.mdx
  website/content/docs/secrets/transform/index.mdx
Labels: docs, docs-cherrypick

#11207 Adding HSM PKI plugin
  website/content/docs/plugin-portal.mdx
Labels: docs-cherrypick

#11204 website: revert …/integrated-storage path
  website/content/docs/commands/operator/raft.mdx
  website/content/docs/concepts/integrated-storage/autopilot.mdx
  website/content/docs/concepts/integrated-storage/index.mdx
  website/data/docs-navigation.js
Labels: docs, docs-cherrypick, website

#11212 website: update alert banner copy
  website/data/alert-banner.js
Labels: docs-cherrypick, website

#11203 docs: add CSI documentation
  website/content/docs/platform/k8s/csi/configurations.mdx
  website/content/docs/platform/k8s/csi/examples.mdx
  website/content/docs/platform/k8s/csi/index.mdx
  website/content/docs/platform/k8s/csi/installation.mdx
  website/data/docs-navigation.js
Labels: docs-cherrypick

#11213 UI: Fix status menu bug
  changelog/11213.txt
  ui/app/services/namespace.js
Labels: bug, ui

#11214 Backport 1.7.x: UI: Fix status menu bug
  changelog/11213.txt
  ui/app/services/namespace.js
Labels: bug, ui

#11201 Update upgrade guide and changelog with AWS Auth deprecations
  CHANGELOG.md
  website/content/docs/upgrading/upgrade-to-1.7.0.mdx
Labels: docs-cherrypick

#11180 Diagnose Stub Command Tests
  command/operator_diagnose_test.go
  command/server/test-fixtures/nostore_config.hcl
Labels: Diagnose Command Dev

#11237 Remove version ref on internal counters docs
  website/content/api-docs/system/internal-counters.mdx
Labels: docs-cherrypick

#11243 UI: Skip flaky PKI test
  ui/tests/acceptance/secrets/backend/pki/role-test.js
Labels: ui

#11230 Hide fields that are empty in configuration
  ui/app/helpers/is-empty-object.js
  ui/app/helpers/is-empty-value.js
  ui/app/templates/components/auth-method/configuration.hbs
  ui/app/templates/components/database-role-edit.hbs
  ui/app/templates/vault/cluster/secrets/backend/configuration.hbs
  ui/tests/integration/helpers/is-empty-object-test.js
  ui/tests/integration/helpers/is-empty-value-test.js
Labels: ui
