Repository hashicorp/vault, pull requests merged in 2021-02, with the labels that each got.

#10677 UI: Update dependencies
  changelog/10677.txt
  ui/package.json
  ui/yarn.lock
Labels: ui

#10793 website: add table styles to style.css
  website/pages/style.css
Labels: docs-cherrypick, website

#10820 Web Updates for HCP (2/2)
  website/components/hcp-callout-section/HCPCalloutSection.module.css
  website/components/hcp-callout-section/index.jsx
  website/components/homepage-hero/HomepageHero.module.css
  website/components/homepage-hero/index.jsx
  website/components/subnav/index.jsx
  website/data/alert-banner.js
  website/pages/home/img/hcp-vault.svg
  website/pages/home/index.jsx
Labels: docs-cherrypick

#10818 Vendor OpenLDAP dynamic secrets
  go.mod
  go.sum
  vendor/github.com/go-asn1-ber/asn1-ber/ber.go
  vendor/github.com/go-ldap/ldif/.gitignore
  vendor/github.com/go-ldap/ldif/.travis.yml
  vendor/github.com/go-ldap/ldif/LICENSE
  vendor/github.com/go-ldap/ldif/Makefile
  vendor/github.com/go-ldap/ldif/README.md
  vendor/github.com/go-ldap/ldif/apply.go
  vendor/github.com/go-ldap/ldif/doc.go
  vendor/github.com/go-ldap/ldif/go.mod
  vendor/github.com/go-ldap/ldif/go.sum
  vendor/github.com/go-ldap/ldif/ldif.go
  vendor/github.com/go-ldap/ldif/marshal.go
  vendor/github.com/go-ldap/ldif/path.go
  vendor/github.com/go-ldap/ldif/path_windows.go
  vendor/github.com/hashicorp/vault-plugin-secrets-openldap/backend.go
  vendor/github.com/hashicorp/vault-plugin-secrets-openldap/client.go
  vendor/github.com/hashicorp/vault-plugin-secrets-openldap/client/client.go
  vendor/github.com/hashicorp/vault-plugin-secrets-openldap/dynamic_role.go
  vendor/github.com/hashicorp/vault-plugin-secrets-openldap/go.mod
  vendor/github.com/hashicorp/vault-plugin-secrets-openldap/go.sum
  vendor/github.com/hashicorp/vault-plugin-secrets-openldap/path_dynamic_creds.go
  vendor/github.com/hashicorp/vault-plugin-secrets-openldap/path_dynamic_roles.go
  vendor/github.com/hashicorp/vault-plugin-secrets-openldap/path_rotate.go
  vendor/github.com/hashicorp/vault-plugin-secrets-openldap/path_static_creds.go
  vendor/github.com/hashicorp/vault-plugin-secrets-openldap/path_static_roles.go
  vendor/github.com/hashicorp/vault-plugin-secrets-openldap/rotation.go
  vendor/github.com/hashicorp/vault/sdk/helper/template/funcs.go
  vendor/github.com/hashicorp/vault/sdk/helper/template/template.go
  vendor/modules.txt
Labels: secret/openldap

#10825 k8s doc: update for 0.9.1 and 0.8.0 releases
  website/content/docs/platform/k8s/helm/configuration.mdx
  website/content/docs/platform/k8s/helm/examples/enterprise-dr-with-raft.mdx
  website/content/docs/platform/k8s/helm/examples/enterprise-perf-with-raft.mdx
  website/content/docs/platform/k8s/helm/examples/enterprise-with-raft.mdx
  website/content/docs/platform/k8s/helm/index.mdx
  website/content/docs/platform/k8s/helm/openshift.mdx
  website/content/docs/platform/k8s/helm/run.mdx
  website/content/docs/platform/k8s/injector/annotations.mdx
  website/content/docs/platform/k8s/injector/installation.mdx
Labels: docs-cherrypick

#10826 approle: add ttl to the secret ID generation response
  builtin/credential/approle/path_role.go
  builtin/credential/approle/path_role_test.go
  builtin/credential/approle/validation.go
  changelog/10826.txt
  website/content/api-docs/auth/approle.mdx
  website/content/docs/auth/approle.mdx
Labels: auth/approle

#10766 PostgreSQL - Add username customization
  go.sum
  plugins/database/postgresql/postgresql.go
  plugins/database/postgresql/postgresql_test.go
  sdk/helper/strutil/strutil.go
  sdk/helper/strutil/strutil_test.go
  vendor/github.com/hashicorp/vault/sdk/helper/strutil/strutil.go
Labels: enhancement, secret/database/postgresql

#10817 Add docs for OpenLDAP dynamic secrets
  website/content/api-docs/secret/openldap.mdx
  website/content/docs/secrets/openldap.mdx
Labels: docs, secret/openldap

#10767 MSSQL - Add username customization
  go.sum
  plugins/database/mssql/mssql.go
  plugins/database/mssql/mssql_test.go
Labels: enhancement, secret/database/mssql

#10855 Fill in missing ID deterministically. Generate a UUID on creation.
  changelog/10855.txt
  vault/quotas/quotas_rate_limit.go
Labels: core/quota

#10848 Updating date-fns library from 1.x to 2.x
  changelog/10848.txt
  ui/app/components/pricing-metrics-dates.js
  ui/app/components/tool-actions-form.js
  ui/app/helpers/date-from-now.js
  ui/app/helpers/parse-date-string.js
  ui/app/routes/vault/cluster/metrics/index.js
  ui/app/templates/components/auth-info.hbs
  ui/app/templates/components/file-to-array-buffer.hbs
  ui/app/templates/components/identity/item-alias/alias-details.hbs
  ui/app/templates/components/identity/item-details.hbs
  ui/app/templates/components/license-info.hbs
  ui/app/templates/components/pricing-metrics-config.hbs
  ui/app/templates/components/pricing-metrics-dates.hbs
  ui/app/templates/components/token-expire-warning.hbs
  ui/app/templates/vault.hbs
  ui/app/templates/vault/cluster/access/leases/show.hbs
  ui/lib/core/addon/helpers/changelog-url-for.js
  ui/lib/core/addon/helpers/date-format.js
  ui/lib/replication/addon/templates/mode/secondaries/add.hbs
  ui/package.json
  ui/tests/integration/components/pricing-metrics-dates-test.js
  ui/tests/integration/helpers/date-format-test.js
  ui/tests/integration/helpers/date-from-now-test.js
  ui/tests/unit/helpers/parse-date-string-test.js
  ui/yarn.lock
Labels: ui

#10859 Backport 1.6.3: Fill in missing lease ID deterministically. Generate a UUID on creation (#10855)
  changelog/10855.txt
  vault/quotas/quotas_rate_limit.go
Labels: backport, core/quota

#10831 website: update next and nextjs-scripts
  website/package-lock.json
  website/package.json
Labels: docs-cherrypick, website

#10829 Fixes hashicorp/vault#10830 Wild cards are allowed for both service account and namespace in k8s auth role creation
  website/content/api-docs/auth/kubernetes.mdx
Labels: docs-cherrypick

#10871 Update kubernetes.mdx
  website/content/docs/auth/kubernetes.mdx
Labels: docs-cherrypick

#10860 Wait for initial retention run to finish before adding segments.
  vault/activity_log.go
  vault/activity_log_test.go
Labels: core/metric

#10877 Correct lock acquisition order in the `pathEntityMergeID` identity to fix deadlock condition
  changelog/10877.txt
  vault/identity_store_entities.go
Labels: bug, core/identity

#10888 Fix error in log; add additional log on conflicting quotas.
  vault/quotas/quotas.go
  vault/request_handling.go
Labels: core/quota

#10891 Fix KMIP UI tests failing after 1.6.2
  ui/tests/acceptance/enterprise-kmip-test.js
Labels: backport, ui

#10896 Backport 1.6.3: Fix KMIP tests failing after 1.6.2 (#10891)
  ui/tests/acceptance/enterprise-kmip-test.js
Labels: ui

#10850 agent: allow auto-auth to use an existing token
  changelog/10850.txt
  command/agent/auth/auth.go
  command/agent/auto_auth_preload_token_end_to_end_test.go
Labels: core/agent

#10900 auth/kubernetes docs: Correct default issuer
  website/content/api-docs/auth/kubernetes.mdx
Labels: docs-cherrypick

#10904 UI: Upgrade storybook
  changelog/10904.txt
  ui/package.json
  ui/yarn.lock
Labels: ui

#10907 Use revised BeforeAfterDiagram, VerticalTextBlockList
  website/components/before-after-diagram/fragment.graphql
  website/components/before-after-diagram/img/alert-triangle.svg
  website/components/before-after-diagram/img/check-circle-blue.svg
  website/components/before-after-diagram/img/check-circle.svg
  website/components/before-after-diagram/index.jsx
  website/components/before-after-diagram/server.js
  website/components/before-after-diagram/style.css
  website/components/before-after-diagram/style.module.css
  website/package-lock.json
  website/package.json
  website/pages/community/index.jsx
  website/pages/home/content.json
  website/pages/home/index.jsx
  website/pages/style.css
  website/pages/use-cases/data-encryption/content.json
  website/pages/use-cases/data-encryption/index.jsx
  website/pages/use-cases/identity-based-access/content.json
  website/pages/use-cases/identity-based-access/img/challenge.png
  website/pages/use-cases/identity-based-access/img/solution.png
  website/pages/use-cases/identity-based-access/index.jsx
  website/pages/use-cases/secrets-management/content.json
  website/pages/use-cases/secrets-management/index.jsx
  website/public/img/icons/alert-icon.svg
  website/public/img/icons/check-icon.svg
Labels: docs-cherrypick

#10908 Added a table showing the entity alias name used by each auth method.
  website/content/docs/secrets/identity.mdx
Labels: docs, docs-cherrypick

#10853 docs: Update Azure AD OIDC documentation
  website/content/docs/auth/jwt_oidc_providers.mdx
Labels: auth/jwt-oidc, docs

#10807 Note that all local mounts are impacted, including on primary.
  website/content/docs/secrets/identity.mdx
Labels: docs-cherrypick

#10933 Update KV Secrets Engine index
  website/content/docs/secrets/kv/index.mdx
Labels: docs-cherrypick

#10911 Add docs for Agent's template_retry option added in #10644, based on …
  website/content/docs/agent/template.mdx
Labels: docs-cherrypick

#10949 UI/Database Secrets Engine cleanup
  changelog/10949.txt
  ui/app/components/database-list-item.js
  ui/app/components/database-role-edit.js
  ui/app/components/database-role-setting-form.js
  ui/app/models/database/connection.js
  ui/app/models/database/role.js
  ui/app/serializers/database/role.js
  ui/app/templates/components/database-connection.hbs
  ui/app/templates/components/database-role-edit.hbs
  ui/lib/core/addon/templates/components/info-table-row.hbs
Labels: ui

#10916 Adds API docs for max_age role parameter of JWT/OIDC auth method
  website/content/api-docs/auth/jwt.mdx
Labels: docs

#10951 UI/add usage metrics description
  changelog/10951.txt
  ui/app/templates/vault/cluster/metrics/index.hbs
Labels: backport, ui

#10968 Backport 1.6.3: UI add usage metrics description (#10951)
  changelog/10951.txt
  ui/app/templates/vault/cluster/metrics/index.hbs
Labels: backport, ui

#10977 Minor update to Secrets engine overview docs
  website/content/docs/secrets/index.mdx
Labels: docs-cherrypick

#10976 UI: Small tickets/ bug fixes for DBSE
  ui/app/components/generate-credentials-database.js
  ui/app/serializers/database/role.js
  ui/app/styles/components/empty-state.scss
  ui/app/templates/components/database-connection.hbs
  ui/app/templates/components/database-role-edit.hbs
  ui/app/templates/components/generate-credentials-database.hbs
  ui/app/templates/vault/cluster/secrets/backend/list.hbs
  ui/lib/core/addon/components/info-table-item-array.js
  ui/lib/core/addon/templates/components/info-table-row.hbs
  ui/lib/kmip/addon/templates/configuration.hbs
Labels: ui

#10980 UI: Show error when connection roles fail to update on role create
  changelog/10980.txt
  ui/app/adapters/database/role.js
  ui/app/components/database-connection.js
  ui/app/components/database-role-edit.js
  ui/app/templates/components/database-role-edit.hbs
Labels: bug, ui

#10964 Add configurable exponential backoff to Agent auto-auth
  changelog/10964.txt
  command/agent.go
  command/agent/auth/auth.go
  command/agent/auth/auth_test.go
  command/agent/config/config.go
  command/agent/config/config_test.go
  command/agent/config/test-fixtures/config-method-wrapping.hcl
  website/content/docs/agent/autoauth/index.mdx
Labels: backport

#10982 UI: Add the wizard to the database secret engine
  changelog/10982.txt
  ui/app/components/database-connection.js
  ui/app/components/database-role-edit.js
  ui/app/components/wizard/mounts-wizard.js
  ui/app/machines/secrets-machine.js
  ui/app/templates/components/database-connection.hbs
  ui/app/templates/components/database-role-edit.hbs
  ui/app/templates/components/wizard-progress.hbs
  ui/app/templates/components/wizard/mounts-wizard.hbs
  ui/app/templates/components/wizard/secrets-connection-show.hbs
  ui/app/templates/components/wizard/secrets-connection.hbs
  ui/app/templates/components/wizard/secrets-details.hbs
  ui/app/templates/components/wizard/secrets-display-database-role.hbs
  ui/app/templates/components/wizard/secrets-role.hbs
  ui/app/templates/vault/cluster/secrets/backend/roles.hbs
Labels: ui

#10993 UI Add test and clean up for DBSE
  ui/app/styles/components/empty-state.scss
  ui/lib/core/addon/templates/components/info-table-item-array.hbs
  ui/lib/core/addon/templates/components/info-table-row.hbs
  ui/tests/integration/components/info-table-row-test.js
Labels: ui

#11004 Document changelog fragment format.
  CONTRIBUTING.md
Labels: docs-cherrypick

#11011 UI: fix KMIP bug and test
  changelog/11011.txt
  ui/lib/kmip/addon/routes/configuration.js
  ui/tests/acceptance/enterprise-kmip-test.js
Labels: ui

#11013 UI/db tests
  ui/lib/core/addon/templates/components/form-field.hbs
  ui/lib/core/addon/templates/components/info-table-row.hbs
  ui/tests/acceptance/secrets/backend/database/secret-test.js
  ui/tests/pages/secrets/backend/database/connection.js
  ui/tests/pages/secrets/backend/database/role.js
Labels: ui

#11017 PKI flaky test
  ui/tests/acceptance/secrets/backend/pki/cert-test.js
Labels: ui

#10967 Add notice about MongoDB Atlas whitelist deprecation
  website/content/docs/secrets/mongodbatlas.mdx
Labels: docs-cherrypick

#11010 Update latest to 1.6.3
  website/data/version.js
Labels: docs-cherrypick
