Repository hashicorp/vault, pull requests merged in 2021-01, with the labels that each got.

#10527 Document constraints re primary vs secondary clusters.
  website/content/docs/enterprise/replication.mdx
Labels: docs-cherrypick

#10634 Clarify which seal/recovery config we mean.
  website/content/docs/enterprise/replication.mdx
Labels: docs-cherrypick

#10596 Bug: Fix issue with double encoding on space in secret history route
  changelog/10596.txt
  ui/app/routes/vault/cluster/secrets/backend/versions.js
  ui/app/templates/components/secret-edit.hbs
  ui/app/templates/components/secret-link.hbs
  ui/app/templates/vault/cluster/secrets/backend/versions.hbs
  ui/tests/acceptance/secrets/backend/kv/secret-test.js
Labels: backport, bug, ui

#10640 Fix compilation of MySQL & Redshift plugins
  plugins/database/mysql/mysql-database-plugin/main.go
  plugins/database/mysql/mysql-legacy-database-plugin/main.go
  plugins/database/redshift/redshift-database-plugin/main.go
Labels: bug, secret/database/mysql, secret/database/redshift, version/1.6.x

#10572 Bug: switching between namespaces using the namespace-link caused the model not to refresh
  ui/app/components/namespace-link.js
  ui/app/templates/components/namespace-link.hbs
  ui/app/templates/vault/cluster/access/namespaces/index.hbs
  ui/package.json
  ui/yarn.lock
Labels: bug, ui

#10642 Bug: Fix issue with double encoding on space in secret history route …
  changelog/10596.txt
  ui/app/routes/vault/cluster/secrets/backend/versions.js
  ui/app/templates/components/secret-edit.hbs
  ui/app/templates/components/secret-link.hbs
  ui/app/templates/vault/cluster/secrets/backend/versions.hbs
  ui/tests/acceptance/secrets/backend/kv/secret-test.js
Labels: backport, ui

#10649 Fix ip disclosure
  changelog/10579.txt
Labels: backport

#10617 Add Snowflake docs to the website
  website/content/api-docs/secret/databases/snowflake.mdx
  website/content/docs/secrets/databases/index.mdx
  website/content/docs/secrets/databases/snowflake.mdx
  website/data/api-navigation.js
  website/data/docs-navigation.js
Labels: docs, ecosystem

#10639 Make example Okta creds more obviously fake
  website/content/docs/auth/okta.mdx
Labels: docs-cherrypick

#10662 Bug: Fix namespace test
  ui/app/components/namespace-link.js
  ui/tests/acceptance/enterprise-namespaces-test.js
Labels: ui

#10613 Feature flags API
  changelog/10613.txt
  http/handler.go
  http/sys_feature_flags.go
  vault/external_tests/api/feature_flag_ext_test.go
  vault/logical_system.go
  vault/logical_system_paths.go
  website/content/api-docs/system/internal-ui-feature.mdx
  website/data/api-navigation.js
Labels: core/api

#10663 Backport 1.6.x: Feature flags API
  changelog/10613.txt
  http/handler.go
  http/sys_feature_flags.go
  vault/external_tests/api/feature_flag_ext_test.go
  vault/logical_system.go
  vault/logical_system_paths.go
  website/content/api-docs/system/internal-ui-feature.mdx
  website/data/api-navigation.js
Labels: backport

#10659 Adding documentation for multiple vault-k8s replicas
  website/content/docs/platform/k8s/injector/installation.mdx
Labels: docs, docs-cherrypick, ecosystem

#10672 Backport sys/internal/ui consistent error change to 1.6.x
  changelog/10650.txt
  vault/logical_system.go
Labels: backport

#10612 Add NIST guidance on rotating keys used for AES-GCM encryption
  vault/barrier_aes_gcm.go
  vault/keyring.go
  website/content/docs/internals/rotation.mdx
  website/content/docs/secrets/transit.mdx
Labels: docs-cherrypick

#10671 Backport 1.6.2: Feature flags in UI and managed namespace updates
  changelog/10588.txt
  ui/app/controllers/vault/cluster/auth.js
  ui/app/routes/application.js
  ui/app/routes/vault/cluster.js
  ui/app/services/feature-flag.js
  ui/app/styles/components/auth-form.scss
  ui/app/templates/vault/cluster/auth.hbs
  ui/config/environment.js
  ui/mirage/config.js
  ui/mirage/factories/feature.js
  ui/mirage/factories/user.js
  ui/mirage/models/feature.js
  ui/mirage/scenarios/default.js
  ui/tests/acceptance/enterprise-namespaces-test.js
  ui/tests/acceptance/init-test.js
  ui/tests/acceptance/managed-namespace-test.js
  ui/tests/unit/services/feature-flag-test.js
Labels: ui

#10683 website: add alert banner to promote webinar
  website/data/alert-banner.js
  website/package-lock.json
  website/package.json
  website/pages/_app.js
  website/pages/style.css
Labels: docs-cherrypick

#10684 UI: Fix shape of response anticipated from feature-flags endpoint
  changelog/10684.txt
  ui/app/routes/application.js
  ui/tests/acceptance/managed-namespace-test.js
Labels: backport, ui

#10685 Backport 1.6.2: Fix shape of response anticipated from feature-flags endpoint
  changelog/10684.txt
  ui/app/routes/application.js
  ui/tests/acceptance/managed-namespace-test.js
Labels: ui

#10654 Backport [1.6.x] Fix compilation of MySQL & Redshift plugins (#10640)
  plugins/database/mysql/mysql-database-plugin/main.go
  plugins/database/mysql/mysql-legacy-database-plugin/main.go
  plugins/database/redshift/redshift-database-plugin/main.go
Labels: bug, secret/database/mysql, secret/database/redshift, version/1.6.x

#10690 Website StackMenu updates for 1/14
  website/package-lock.json
  website/package.json
Labels: docs-cherrypick

#10699 website: update alert banner for HCP Vault public beta
  website/data/alert-banner.js
Labels: docs-cherrypick, website

#10697 UI: refactor flaky test
  ui/tests/acceptance/secrets/backend/pki/role-test.js
  ui/tests/pages/secrets/backend/pki/show.js
Labels: ui

#10598 Docs: prepare for vercel hosting move
  website/.env.production
  website/README.md
  website/_redirects
  website/jsconfig.json
  website/netlify.toml
  website/next.config.js
  website/package.json
  website/redirects.next.js
Labels: website

#10589 Spell out how to configure credentials for GCS.
  website/content/api-docs/system/storage/raftautosnapshots.mdx
Labels: docs-cherrypick

#10728 UI: Temporarily skip flaky tests on test-ui
  ui/tests/acceptance/access/identity/entities/create-test.js
  ui/tests/acceptance/redirect-to-test.js
  ui/tests/acceptance/secrets/backend/pki/cert-test.js
  ui/tests/acceptance/settings/configure-secret-backends/pki/section-cert-test.js
Labels: ui

#10736 Update api-docs for static role deletion
  website/content/api-docs/secret/databases/index.mdx
Labels: docs

#10692 Add 'Add' and 'Del' functions to LDAP interface
  sdk/helper/ldaputil/connection.go
  vendor/github.com/hashicorp/vault/sdk/helper/ldaputil/connection.go
Labels: secret/openldap

#10710 Clarify slash is needed on gcs and azure
  website/content/api-docs/system/storage/raftautosnapshots.mdx
Labels: docs-cherrypick

#10741 Backport IP address disclosure fixes to 1.5.x
  changelog/10579.txt
  http/logical.go
Labels: backport

#10711 Remove netlify config
  website/_redirects
  website/netlify.toml
Labels: website

#10762 Backport 1.6.x: "vault status" should work in any namespace.
  changelog/10725.txt
  command/status.go
  http/sys_leader.go
  http/sys_seal.go
  vault/logical_system.go
  vault/logical_system_paths.go
Labels: backport, core/api, core/cli

#10768 fix deep links to consul-template docs
  website/content/docs/agent/template.mdx
  website/content/guides/secret-mgmt/app-integration.mdx
Labels: docs, docs-cherrypick, website

#10759 Updating GCP secrets plugin
  go.mod
  go.sum
  vendor/github.com/hashicorp/vault-plugin-secrets-gcp/plugin/rollback.go
  vendor/modules.txt
Labels: ecosystem/plugin, version/1.6.x

#10772 Clarify agent lease renewal docs
  website/content/docs/agent/template.mdx
Labels: docs-cherrypick

#10778 fix "edit page" links on website
  website/pages/api-docs/[[...page]].jsx
  website/pages/docs/[[...page]].jsx
  website/pages/guides/[[...page]].jsx
  website/pages/intro/[[...page]].jsx
Labels: docs-cherrypick, website

#10779 Add vercel config for UI
  ui/vercel.json
Labels: docs-cherrypick, website

#10787 Backport CHANGELOG update for gcp/secrets WAL fix
  CHANGELOG.md
  changelog/10759.txt
Labels: backport, version/1.6.x

#10514 metrics: activity log
  changelog/10514.txt
  vault/activity_log.go
  vault/activity_log_test.go
  vault/core_metrics.go
  website/content/docs/internals/telemetry.mdx
Labels: core, core/metric

#10674 Backport sys/internal/ui consistent error change to 1.5.x
  changelog/10650.txt
  vault/logical_system.go
Labels: backport

#10590 docs: update "Policy Syntax" section
  website/content/docs/concepts/policies.mdx
  website/content/docs/internals/security.mdx
Labels: docs, docs-cherrypick

#10723 Docs and changelog for max_request_size upgrade [VAULT-990]
  changelog/10072.txt
  website/content/docs/configuration/listener/tcp.mdx
Labels: docs-cherrypick

#10801 storage/raft: Fix panic when no Join TLS is being used
  physical/raft/raft.go
Labels: backport

#10805 Document identity behaviour on local auth mounts.
  website/content/api-docs/system/auth.mdx
  website/content/docs/secrets/identity.mdx
Labels: docs-cherrypick

#10808 Fix for test failing on January 29th: advance months using timeutil, not AddDate.
  vault/activity_log_test.go
Labels: core/metric, test

#10810 Updating website to 1.6.2
  website/data/version.js
Labels: docs-cherrypick

#10811 clarify space limits in bytes
  website/content/api-docs/system/storage/raftautosnapshots.mdx
Labels: docs-cherrypick
