Repository hashicorp/vault, pull requests merged in 2021-04, with the labels that each got.

#11259 Make all duplicate removals stable in PKI
  builtin/logical/pki/cert_util.go
Labels: backport

#11135 website: add should-build script
  website/package-lock.json
  website/package.json
  website/scripts/should-build.sh
Labels: docs-cherrypick, website

#11258 UI/fix kvv2 version
  changelog/11258.txt
  ui/app/models/database/connection.js
  ui/app/models/mount-options.js
  ui/app/models/secret-engine.js
  ui/lib/core/addon/components/message-error.js
  ui/lib/core/addon/templates/components/form-field.hbs
  ui/tests/acceptance/secrets/backend/kv/secret-test.js
Labels: backport, bug, ui

#11256 Updated show lease with toggle ttl picker
  changelog/11256.txt
  ui/app/adapters/lease.js
  ui/app/controllers/vault/cluster/access/leases/show.js
  ui/app/templates/vault/cluster/access/leases/show.hbs
Labels: ui

#11268 Backport 1.7.1: UI/fix kvv2 version (#11258)
  changelog/11258.txt
  ui/app/models/database/connection.js
  ui/app/models/mount-options.js
  ui/app/models/secret-engine.js
  ui/lib/core/addon/components/message-error.js
  ui/lib/core/addon/templates/components/form-field.hbs
  ui/tests/acceptance/secrets/backend/kv/secret-test.js
Labels: bug, ui

#11287 Backport 11259 (Stable PKI attribute/value pairs) to 1.6.x
  builtin/logical/pki/cert_util.go
  changelog/11259.txt
Labels: backport

#10865 How to create clusters with integrated storage, TLS, and dynamic nodes
  website/content/docs/concepts/integrated-storage/index.mdx
  website/public/img/raft-join-detailed.png
Labels: docs-cherrypick

#11290 website: fix incorrectly formatted frontmatter
  website/content/docs/concepts/integrated-storage/index.mdx
Labels: docs-cherrypick

#11278 Upgrade Downloads Page
  website/data/version.js
  website/package-lock.json
  website/package.json
  website/pages/downloads/img/vault-logo.svg
  website/pages/downloads/index.jsx
  website/pages/downloads/style.css
  website/pages/downloads/style.module.css
  website/pages/style.css
Labels: docs, docs-cherrypick, website

#10181 Potential data loss in DynamoDB backend
  physical/dynamodb/dynamodb.go
Labels: waiting-for-response

#11283 Bug Fix: OIDC with hcp flag
  changelog/11283.txt
  ui/app/components/auth-jwt.js
Labels: bug, ui

#11297 Backport 1.7.x: Fix OIDC with hcp flag (#11283)
  changelog/11283.txt
  ui/app/components/auth-jwt.js
Labels: ui

#11301 Update the homepage hero CTAs
  website/pages/home/index.jsx
Labels: docs-cherrypick, website

#11295 Backport 10181 1.7.x
  changelog/10181.txt
  physical/dynamodb/dynamodb.go
Labels: backport

#11261 add Vault Enterprise license page
  website/content/docs/enterprise/index.mdx
Labels: docs, docs-cherrypick

#11223 Replace Reference to Version 1.6.4 with 1.7
  website/content/api-docs/system/internal-counters.mdx
Labels: docs-cherrypick

#11272 docs: add persistent cache
  website/content/docs/agent/caching/index.mdx
  website/content/docs/agent/caching/persistent-caches/index.mdx
  website/content/docs/agent/caching/persistent-caches/kubernetes.mdx
  website/data/docs-nav-data.json
Labels: docs-cherrypick

#11294 Bug: DB secret engine not showing "Select one" in role select options
  changelog/11294.txt
  ui/app/models/database/role.js
Labels: bug, ui

#11326 Backport 1.7.x: Bug: DB secret engine not showing "Select one" in role select option
  changelog/11294.txt
  ui/app/models/database/role.js
Labels: ui

#11327 Fix broken OIDC Providers link
  website/data/docs-nav-data.json
Labels: docs-cherrypick

#11331 Fixes for db connection file type fields
  ui/app/models/database/connection.js
  ui/app/styles/components/form-section.scss
  ui/lib/core/addon/templates/components/form-field.hbs
Labels: ui

#11342 TLS Diagnose Formatting Fixes
  vault/diagnose/tls_verification.go
  vault/diagnose/tls_verification_test.go
Labels: Diagnose Command Dev

#11343 Fix downloads page typos
  website/pages/downloads/index.jsx
Labels: docs-cherrypick, website

#11348 Add TFE/TFC auth plugin to plugin portal
  website/content/docs/plugin-portal.mdx
Labels: docs-cherrypick

#11352 patch(docs): fix link color
  website/pages/style.css
Labels: docs-cherrypick, website

#11354 docs: update vault-k8s to 0.10.0
  website/content/docs/platform/k8s/injector/annotations.mdx
  website/content/docs/platform/k8s/injector/installation.mdx
Labels: docs-cherrypick

#11344 Add documentation for vault-csi-provider namespace config
  website/content/docs/platform/k8s/csi/configurations.mdx
Labels: docs-cherrypick

#11355 docs: update vault-helm to 0.11.0
  website/content/docs/platform/k8s/helm/configuration.mdx
  website/content/docs/platform/k8s/helm/examples/enterprise-dr-with-raft.mdx
  website/content/docs/platform/k8s/helm/examples/enterprise-perf-with-raft.mdx
  website/content/docs/platform/k8s/helm/examples/enterprise-with-raft.mdx
  website/content/docs/platform/k8s/helm/index.mdx
  website/content/docs/platform/k8s/helm/openshift.mdx
  website/content/docs/platform/k8s/helm/run.mdx
Labels: docs-cherrypick

#11231 UI/database mssql
  changelog/11231.txt
  ui/app/components/database-role-edit.js
  ui/app/components/database-role-setting-form.js
  ui/app/models/database/connection.js
  ui/app/models/database/role.js
  ui/app/styles/core/forms.scss
  ui/app/templates/components/database-connection.hbs
  ui/app/templates/components/database-role-edit.hbs
  ui/app/templates/components/database-role-setting-form.hbs
  ui/lib/core/addon/components/form-field.js
  ui/lib/core/addon/templates/components/form-field.hbs
  ui/lib/core/addon/templates/components/readonly-form-field.hbs
  ui/lib/core/addon/templates/components/string-list.hbs
  ui/package.json
  ui/tests/acceptance/secrets/backend/database/secret-test.js
  ui/tests/integration/components/database-role-setting-form-test.js
  ui/tests/pages/secrets/backend/database/connection.js
  ui/yarn.lock
Labels: ui

#11370 Clarify non-explicit cloud auth for autosnapshots.
  website/content/api-docs/system/storage/raftautosnapshots.mdx
Labels: docs-cherrypick

#11369 Add config docs for leader_tls_servername.
  website/content/api-docs/system/storage/raft.mdx
  website/content/docs/configuration/storage/raft.mdx
Labels: docs-cherrypick

#11262 Cassandra DB plugin: Allow special chars in usernames
  changelog/11262.txt
  plugins/database/cassandra/cassandra.go
Labels: bug, secret/database/cassandra

#11400 Backport 1.7.1: pki: fix tidy removal on revoked entries (#11367)
  builtin/logical/pki/backend_test.go
  builtin/logical/pki/path_tidy.go
  changelog/11367.txt
  website/content/api-docs/secret/pki.mdx
Labels: backport

#11401 Backport 1.6.4: pki: fix tidy removal on revoked entries (#11367)
  builtin/logical/pki/backend_test.go
  builtin/logical/pki/path_tidy.go
  changelog/11367.txt
  website/pages/api-docs/secret/pki/index.mdx
Labels: backport

#11402 Backport 1.5.8: pki: fix tidy removal on revoked entries (#11367)
  builtin/logical/pki/backend_test.go
  builtin/logical/pki/path_tidy.go
  changelog/11367.txt
Labels: backport

#11280 Add community-maintained OAuth 2.0/OIDC secrets plugin to plugin portal docs
  website/content/docs/plugin-portal.mdx
Labels: docs-cherrypick

#11356 Update index.mdx to fix link to vault agent as a windows service link
  website/content/docs/agent/index.mdx
Labels: docs-cherrypick

#11390 Backport (1.7.x): Validate hostnames when using TLS in Cassandra #11365
  builtin/logical/cassandra/backend_test.go
  changelog/11365.txt
  go.mod
  go.sum
  helper/testhelpers/cassandra/cassandrahelper.go
  physical/cassandra/cassandra.go
  physical/cassandra/cassandra_test.go
  plugins/database/cassandra/cassandra_test.go
  plugins/database/cassandra/connection_producer.go
  plugins/database/cassandra/connection_producer_test.go
  plugins/database/cassandra/test-fixtures/no_tls/cassandra.yaml
  plugins/database/cassandra/test-fixtures/with_tls/.cassandra/cqlshrc
  plugins/database/cassandra/test-fixtures/with_tls/cassandra.yaml
  plugins/database/cassandra/test-fixtures/with_tls/gencert.sh
  plugins/database/cassandra/test-fixtures/with_tls/keystore.jks
  vendor/github.com/gocql/gocql/.travis.yml
  vendor/github.com/gocql/gocql/AUTHORS
  vendor/github.com/gocql/gocql/README.md
  vendor/github.com/gocql/gocql/conn.go
  vendor/github.com/gocql/gocql/connectionpool.go
  vendor/github.com/gocql/gocql/control.go
  vendor/github.com/gocql/gocql/doc.go
  vendor/github.com/gocql/gocql/events.go
  vendor/github.com/gocql/gocql/frame.go
  vendor/github.com/gocql/gocql/helpers.go
  vendor/github.com/gocql/gocql/host_source.go
  vendor/github.com/gocql/gocql/install_test_deps.sh
  vendor/github.com/gocql/gocql/marshal.go
  vendor/github.com/gocql/gocql/metadata.go
  vendor/github.com/gocql/gocql/policies.go
  vendor/github.com/gocql/gocql/prepared_cache.go
  vendor/github.com/gocql/gocql/query_executor.go
  vendor/github.com/gocql/gocql/ring.go
  vendor/github.com/gocql/gocql/session.go
  vendor/github.com/gocql/gocql/token.go
  vendor/github.com/gocql/gocql/topology.go
  vendor/github.com/gocql/gocql/uuid.go
  vendor/modules.txt
Labels: secret/database/cassandra

#11398 Backport (1.6.x): Validate hostnames when using TLS in Cassandra (#11365)
  builtin/logical/cassandra/backend_test.go
  changelog/11365.txt
  go.mod
  go.sum
  helper/testhelpers/cassandra/cassandrahelper.go
  physical/cassandra/cassandra.go
  physical/cassandra/cassandra_test.go
  plugins/database/cassandra/cassandra_test.go
  plugins/database/cassandra/connection_producer.go
  plugins/database/cassandra/connection_producer_test.go
  plugins/database/cassandra/test-fixtures/no_tls/cassandra.yaml
  plugins/database/cassandra/test-fixtures/with_tls/.cassandra/cqlshrc
  plugins/database/cassandra/test-fixtures/with_tls/cassandra.yaml
  plugins/database/cassandra/test-fixtures/with_tls/gencert.sh
  plugins/database/cassandra/test-fixtures/with_tls/keystore.jks
  vendor/github.com/gocql/gocql/.travis.yml
  vendor/github.com/gocql/gocql/AUTHORS
  vendor/github.com/gocql/gocql/README.md
  vendor/github.com/gocql/gocql/conn.go
  vendor/github.com/gocql/gocql/connectionpool.go
  vendor/github.com/gocql/gocql/control.go
  vendor/github.com/gocql/gocql/doc.go
  vendor/github.com/gocql/gocql/events.go
  vendor/github.com/gocql/gocql/frame.go
  vendor/github.com/gocql/gocql/helpers.go
  vendor/github.com/gocql/gocql/host_source.go
  vendor/github.com/gocql/gocql/install_test_deps.sh
  vendor/github.com/gocql/gocql/marshal.go
  vendor/github.com/gocql/gocql/metadata.go
  vendor/github.com/gocql/gocql/policies.go
  vendor/github.com/gocql/gocql/prepared_cache.go
  vendor/github.com/gocql/gocql/query_executor.go
  vendor/github.com/gocql/gocql/ring.go
  vendor/github.com/gocql/gocql/session.go
  vendor/github.com/gocql/gocql/token.go
  vendor/github.com/gocql/gocql/topology.go
  vendor/github.com/gocql/gocql/uuid.go
  vendor/modules.txt
Labels: secret/database/cassandra

#11404 Add root rotation statement support to mongoDB
  changelog/11404.txt
  ui/app/models/database/connection.js
Labels: bug, ui

#11409 Backport 1.7.1: Add root rotation statements support to database secret engine connection
  changelog/11404.txt
  ui/app/models/database/connection.js
  ui/app/serializers/database/connection.js
Labels: backport, bug, ui

#11360 Updated search select component styling
  changelog/11360.txt
  ui/app/styles/components/search-select.scss
  ui/lib/core/addon/templates/components/search-select.hbs
Labels: ui

#11423 Fixed duplicate path issue for kv engine
  ui/app/components/secret-edit.js
Labels: ui

#11432 Update website version
  website/data/version.js
Labels: docs-cherrypick

#11418 Updates docs for G Suite config in JWT/OIDC auth method
  website/content/api-docs/auth/jwt.mdx
  website/content/docs/auth/jwt_oidc_providers.mdx
Labels: docs, docs-cherrypick

#11413 Document unauth pprof and the new pprof endpoints.
  website/content/api-docs/system/pprof.mdx
  website/content/docs/configuration/listener/tcp.mdx
Labels: docs-cherrypick

#11378 Cassandra: root_rotation_statements workaround for special chars
  website/content/api-docs/secret/databases/cassandra.mdx
Labels: docs-cherrypick, secret/database/cassandra

#11284 UI/obscure secret on input
  changelog/11284.txt
  ui/app/components/text-file.js
  ui/app/models/auth-config/ldap.js
  ui/app/models/pki-ca-certificate.js
  ui/app/models/pki-certificate.js
  ui/app/styles/app.scss
  ui/app/styles/components/masked-input.scss
  ui/app/styles/components/text-file.scss
  ui/app/styles/core.scss
  ui/app/styles/core/forms.scss
  ui/app/templates/components/config-pki-ca.hbs
  ui/app/templates/components/generate-credentials.hbs
  ui/app/templates/components/pki-cert-show.hbs
  ui/app/templates/components/text-file.hbs
  ui/app/templates/partials/secret-backend-settings/ssh.hbs
  ui/app/templates/vault/cluster/policies/create.hbs
  ui/config/environment.js
  ui/lib/core/addon/components/masked-input.js
  ui/lib/core/addon/helpers/date-format.js
  ui/lib/core/addon/templates/components/form-field.hbs
  ui/lib/core/addon/templates/components/masked-input.hbs
  ui/lib/kmip/addon/templates/configuration.hbs
  ui/lib/kmip/addon/templates/credentials/show.hbs
  ui/public/fonts/obscure.woff
  ui/public/fonts/obscure.woff2
  ui/tests/acceptance/secrets/backend/pki/cert-test.js
  ui/tests/acceptance/settings/configure-secret-backends/pki/section-cert-test.js
  ui/tests/acceptance/wrapped-token-test.js
  ui/tests/integration/components/form-field-test.js
  ui/tests/integration/components/masked-input-test.js
  ui/tests/integration/helpers/date-format-test.js
  ui/tests/pages/components/masked-input.js
  vault/ui.go
Labels: ui

#11391 website: resolve unlinked content
  .github/workflows/check-unlinked-content.js
  .github/workflows/check-unlinked-content.yml
  website/components/_temp-enable-hidden-pages/index.js
  website/data/api-docs-nav-data-hidden.json
  website/data/docs-nav-data-hidden.json
  website/data/guides-nav-data.json
  website/pages/api-docs/[[...page]].jsx
  website/pages/docs/[[...page]].jsx
  website/pages/style.css
Labels: docs, docs-cherrypick, website

#11194 Fix: sign SSH key with extensions on web UI
  ui/app/models/ssh-sign.js
Labels: ui

#11456 Backport 1.7.x - secrets/database: Fixes marshalling bug for json.Number types (#11451)
  changelog/11451.txt
  sdk/database/dbplugin/v5/grpc_client_test.go
  sdk/database/dbplugin/v5/marshalling.go
  vendor/github.com/hashicorp/vault/sdk/database/dbplugin/v5/marshalling.go
Labels: bug, secret/database

#11457 Backport 1.6.x - secrets/database: Fixes marshalling bug for json.Number types (#11451)
  changelog/11451.txt
  sdk/database/dbplugin/v5/grpc_client_test.go
  sdk/database/dbplugin/v5/marshalling.go
  vendor/github.com/hashicorp/vault/sdk/database/dbplugin/v5/marshalling.go
Labels: bug, secret/database

#11447 UI/update deps 1.8
  changelog/11447.txt
  ui/MODULE_REPORT.md
  ui/app/adapters/auth-method.js
  ui/app/adapters/role-jwt.js
  ui/app/components/auth-form.js
  ui/app/components/control-group.js
  ui/app/components/pricing-metrics-dates.js
  ui/app/components/role-edit.js
  ui/app/components/transit-edit.js
  ui/app/components/transit-key-actions.js
  ui/app/controllers/vault/cluster/secrets/backend/sign.js
  ui/app/mixins/cluster-route.js
  ui/app/mixins/unload-model-route.js
  ui/app/mixins/unsaved-model-route.js
  ui/app/models/database/connection.js
  ui/app/models/role-ssh.js
  ui/app/models/transform/alphabet.js
  ui/app/routes/application.js
  ui/app/routes/vault/cluster.js
  ui/app/routes/vault/cluster/access/identity/show.js
  ui/app/routes/vault/cluster/access/leases/list.js
  ui/app/routes/vault/cluster/secrets/backend/list.js
  ui/app/routes/vault/cluster/secrets/backend/secret-edit.js
  ui/app/routes/vault/cluster/settings/auth/configure/index.js
  ui/app/routes/vault/cluster/tools/tool.js
  ui/app/serializers/control-group.js
  ui/app/services/auth.js
  ui/app/services/control-group.js
  ui/app/services/store.js
  ui/app/templates/components/alphabet-edit.hbs
  ui/app/templates/components/pricing-metrics-config.hbs
  ui/app/templates/components/pricing-metrics-dates.hbs
  ui/app/templates/components/transform-template-edit.hbs
  ui/app/templates/vault/cluster/metrics/config.hbs
  ui/app/templates/vault/cluster/metrics/index.hbs
  ui/config/ember-cli-update.json
  ui/lib/core/addon/mixins/list-route.js
  ui/lib/core/package.json
  ui/package.json
  ui/tests/acceptance/enterprise-control-groups-test.js
  ui/tests/acceptance/enterprise-kmip-test.js
  ui/tests/integration/components/form-error-test.js
  ui/tests/integration/components/transform-list-item-test.js
  ui/tests/integration/components/transform-role-edit-test.js
  ui/tests/integration/helpers/is-empty-value-test.js
  ui/tests/unit/lib/attach-capabilities-test.js
  ui/yarn.lock
Labels: ui

#11236 docs: add missing configurations for CSI documentation
  website/content/docs/platform/k8s/csi/configurations.mdx
Labels: docs-cherrypick

#11421 website: update readme
  website/README.md
Labels: docs, docs-cherrypick, website

#9155 docs: adding a storage concepts page
  website/content/docs/concepts/storage.mdx
  website/data/docs-nav-data.json
Labels: docs-cherrypick
