Repository hashicorp/vault, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/vault-ecosystem, @hashicorp/vault-education-approvers, @acahn, @hashicorp/vault-ui, @hashicorp/github-secure-vault-core, @hashicorp/quality-team, @hashicorp/vault-crypto

CODEOWNERS:

# Each line is a file pattern followed by one or more owners. Being an owner
# means those groups or individuals will be added as reviewers to PRs affecting
# those areas of the code.
#
# More on CODEOWNERS files: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Select Auth engines are owned by Ecosystem
/builtin/credential/aws/      @hashicorp/vault-ecosystem
/builtin/credential/github/   @hashicorp/vault-ecosystem
/builtin/credential/ldap/     @hashicorp/vault-ecosystem
/builtin/credential/okta/     @hashicorp/vault-ecosystem

# Secrets engines (pki, ssh, totp and transit omitted)
/builtin/logical/aws/         @hashicorp/vault-ecosystem
/builtin/logical/cassandra/   @hashicorp/vault-ecosystem
/builtin/logical/consul/      @hashicorp/vault-ecosystem
/builtin/logical/database/    @hashicorp/vault-ecosystem
/builtin/logical/mongodb/     @hashicorp/vault-ecosystem
/builtin/logical/mssql/       @hashicorp/vault-ecosystem
/builtin/logical/mysql/       @hashicorp/vault-ecosystem
/builtin/logical/nomad/       @hashicorp/vault-ecosystem
/builtin/logical/postgresql/  @hashicorp/vault-ecosystem
/builtin/logical/rabbitmq/    @hashicorp/vault-ecosystem

# Identity Integrations (OIDC, tokens)
/vault/identity_store_oidc*   @hashicorp/vault-ecosystem

/plugins/                     @hashicorp/vault-ecosystem
/vault/plugin_catalog.go      @hashicorp/vault-ecosystem

/website/content/ @hashicorp/vault-education-approvers
/website/content/docs/plugin-portal.mdx   @acahn @hashicorp/vault-education-approvers

# Plugin docs
/website/content/docs/plugins/              @hashicorp/vault-ecosystem @hashicorp/vault-education-approvers
/website/content/docs/upgrading/plugins.mdx @hashicorp/vault-ecosystem @hashicorp/vault-education-approvers

/ui/  @hashicorp/vault-ui
# UI code related to Vault's JWT/OIDC auth method and OIDC provider.
# Changes to these files often require coordination with backend code,
# so stewards of the backend code are added below for notification.
/ui/app/components/auth-jwt.js         @hashicorp/vault-ecosystem
/ui/app/routes/vault/cluster/oidc-*.js @hashicorp/vault-ecosystem

# Release config; service account is required for automation tooling.
/.release/                     @hashicorp/github-secure-vault-core @hashicorp/quality-team
/.github/workflows/build.yml   @hashicorp/github-secure-vault-core @hashicorp/quality-team

# Quality engineering
/.github/  @hashicorp/quality-team
/enos/     @hashicorp/quality-team

# Cryptosec
/builtin/logical/pki/                                @hashicorp/vault-crypto
/builtin/logical/pkiext/                             @hashicorp/vault-crypto
/website/content/docs/secrets/pki/                   @hashicorp/vault-crypto
/website/content/api-docs/secret/pki.mdx             @hashicorp/vault-crypto
/builtin/credential/cert/                            @hashicorp/vault-crypto
/website/content/docs/auth/cert.mdx                  @hashicorp/vault-crypto
/website/content/api-docs/auth/cert.mdx              @hashicorp/vault-crypto
/builtin/logical/ssh/                                @hashicorp/vault-crypto
/website/content/docs/secrets/ssh/                   @hashicorp/vault-crypto
/website/content/api-docs/secret/ssh.mdx             @hashicorp/vault-crypto
/builtin/logical/transit/                            @hashicorp/vault-crypto
/website/content/docs/secrets/transit/               @hashicorp/vault-crypto
/website/content/api-docs/secret/transit.mdx         @hashicorp/vault-crypto
/helper/random/                                      @hashicorp/vault-crypto
/sdk/helper/certutil/                                @hashicorp/vault-crypto
/sdk/helper/cryptoutil/                              @hashicorp/vault-crypto
/sdk/helper/kdf/                                     @hashicorp/vault-crypto
/sdk/helper/keysutil/                                @hashicorp/vault-crypto
/sdk/helper/ocsp/                                    @hashicorp/vault-crypto
/sdk/helper/salt/                                    @hashicorp/vault-crypto
/sdk/helper/tlsutil/                                 @hashicorp/vault-crypto
/shamir/                                             @hashicorp/vault-crypto
/vault/barrier*                                      @hashicorp/vault-crypto
/vault/managed_key*                                  @hashicorp/vault-crypto
/vault/seal*                                         @hashicorp/vault-crypto
/vault/seal/                                         @hashicorp/vault-crypto
/website/content/docs/configuration/seal/            @hashicorp/vault-crypto
/website/content/docs/enterprise/sealwrap.mdx        @hashicorp/vault-crypto
/website/content/api-docs/system/sealwrap-rewrap.mdx @hashicorp/vault-crypto
/website/content/docs/secrets/transform/             @hashicorp/vault-crypto
/website/content/api-docs/secret/transform.mdx       @hashicorp/vault-crypto
/website/content/docs/secrets/kmip-profiles.mdx      @hashicorp/vault-crypto
/website/content/docs/secrets/kmip.mdx               @hashicorp/vault-crypto
/website/content/api-docs/secret/kmip.mdx            @hashicorp/vault-crypto
/website/content/docs/enterprise/fips/               @hashicorp/vault-crypto
/website/content/docs/platform/k8s                   @hashicorp/vault-ecosystem

Fix static ssecret caching data race
  command/agentproxyshared/cache/lease_cache.go
Owners: none

Fix static ssecret caching data race
  command/agentproxyshared/cache/lease_cache.go
Owners: none

Changelog
  changelog/28494.txt
Owners: none

fill out docs
  ui/docs/model-validations.md
  ui/docs/models.md
Owners: @hashicorp/vault-ui

Move database-helpers into model-helpers
  ui/app/components/database-role-setting-form.js
  ui/app/models/database/connection.js
  ui/app/models/database/role.js
  ui/app/serializers/database/connection.js
  ui/app/utils/model-helpers/database-helpers.js
Owners: @hashicorp/vault-ui

backport of commit 6d66990cb60f974030572f9166d6ded8f0d29361
  changelog/28494.txt
  command/agentproxyshared/cache/lease_cache.go
Owners: none

backport of commit 6d66990cb60f974030572f9166d6ded8f0d29361
  changelog/28494.txt
  command/agentproxyshared/cache/lease_cache.go
Owners: none

Fix static secret caching race condition (#28494)
  changelog/28494.txt
  command/agentproxyshared/cache/lease_cache.go
Owners: none

calculate token lease TTL using tune config
  vault/token_store.go
Owners: none

add changelog entry
  changelog/28498.txt
Owners: none

remove parallel command for running tests on github
  ui/package.json
Owners: @hashicorp/vault-ui

backport of commit 6d66990cb60f974030572f9166d6ded8f0d29361 (#28496)
  changelog/28494.txt
  command/agentproxyshared/cache/lease_cache.go
Owners: none

backport of commit 6d66990cb60f974030572f9166d6ded8f0d29361 (#28497)
  changelog/28494.txt
  command/agentproxyshared/cache/lease_cache.go
Owners: none

Fix schema test.
  builtin/logical/pki/storage_test.go
Owners: @hashicorp/vault-crypto

backport of commit f0782ee3fbb5c37770776fe50d8cbb9a3442e2e9
  changelog/28498.txt
  vault/token_store.go
Owners: none

backport of commit f0782ee3fbb5c37770776fe50d8cbb9a3442e2e9
  changelog/28498.txt
  vault/token_store.go
Owners: none

calculate token lease TTL using tune config (#28498)
  changelog/28498.txt
  vault/token_store.go
Owners: none

Split the Key_Usage Field into separate fields (#28500)
  builtin/logical/pki/fields.go
  builtin/logical/pki/path_manage_issuers.go
  builtin/logical/pki/path_sign_issuers.go
  builtin/logical/pki/storage_test.go
Owners: @hashicorp/vault-crypto

backport of commit 5da8750a9338aab885c82cc380e2f5d7be6249c5
  builtin/logical/pki/fields.go
  builtin/logical/pki/path_manage_issuers.go
  builtin/logical/pki/path_sign_issuers.go
  builtin/logical/pki/storage_test.go
Owners: @hashicorp/vault-crypto

remove parallel command for running tests on github (#28499)
  ui/package.json
Owners: @hashicorp/vault-ui

Add mutableId
  ui/app/adapters/generated-item-list.js
  ui/app/models/generated-item.js
  ui/app/services/path-help.js
Owners: @hashicorp/vault-ui

broom
  ui/app/utils/model-helpers/database-helpers.js
Owners: @hashicorp/vault-ui

Backport 1.17.x: add allow_empty_principals to ssh engine (fixes failing test) (#28493)
  ui/app/models/role-ssh.js
  ui/app/models/ssh-sign.js
  ui/app/templates/vault/cluster/secrets/backend/sign.hbs
  ui/tests/acceptance/ssh-test.js
  ui/tests/helpers/openapi/expected-secret-attrs.js
Owners: @hashicorp/vault-ui

backport of commit 5da8750a9338aab885c82cc380e2f5d7be6249c5 (#28502)
  builtin/logical/pki/fields.go
  builtin/logical/pki/path_manage_issuers.go
  builtin/logical/pki/path_sign_issuers.go
  builtin/logical/pki/storage_test.go
Owners: @hashicorp/vault-crypto

backport of commit f0782ee3fbb5c37770776fe50d8cbb9a3442e2e9 (#28501)
  changelog/28498.txt
  vault/token_store.go
Owners: none

UI: Update model docs (#28495)
  ui/app/adapters/kmip/role.js
  ui/app/components/database-role-setting-form.js
  ui/app/components/secret-create-or-update.js
  ui/app/decorators/model-validations.js
  ui/app/models/auth-method.js
  ui/app/models/database/connection.js
  ui/app/models/database/role.js
  ui/app/models/kmip/role.js
  ui/app/models/kv/data.js
  ui/app/models/secret-engine.js
  ui/app/serializers/database/connection.js
  ui/app/utils/model-helpers/database-helpers.js
  ui/app/utils/model-helpers/kmip-role-fields.js
  ui/app/utils/model-helpers/validators.js
  ui/docs/model-validations.md
  ui/docs/models.md
  ui/lib/core/addon/components/kv-object-editor.js
  ui/lib/kmip/addon/components/kmip/role-form.js
  ui/lib/kv/addon/components/kv-patch/editor/form.js
  ui/tests/integration/components/kv/kv-patch/editor/form-test.js
  ui/tests/unit/decorators/model-validations-test.js
  ui/tests/unit/utils/kmip-role-fields-test.js
  ui/tests/unit/utils/model-helpers/validators-test.js
Owners: @hashicorp/vault-ui

fix keyUsage openapi helptext update
  ui/tests/helpers/openapi/expected-secret-attrs.js
Owners: @hashicorp/vault-ui

fix ent test
  ui/tests/acceptance/auth-list-test.js
Owners: @hashicorp/vault-ui

backport of commit 2b031adf343d2ba8dd18834d984c34877f57952d
  ui/tests/helpers/openapi/expected-secret-attrs.js
Owners: @hashicorp/vault-ui

fix keyUsage openapi helptext update (#28503)
  ui/tests/helpers/openapi/expected-secret-attrs.js
Owners: @hashicorp/vault-ui

backport of commit 2b031adf343d2ba8dd18834d984c34877f57952d (#28504)
  ui/tests/helpers/openapi/expected-secret-attrs.js
Owners: @hashicorp/vault-ui

remove addressed deprecation
  ui/config/deprecation-workflow.js
Owners: @hashicorp/vault-ui

Address PR comments
  ui/app/adapters/generated-item-list.js
  ui/tests/unit/models/generated-item-test.js
Owners: @hashicorp/vault-ui

[VAULT-31208] remove deprecation early-static from decorator tests
  ui/tests/unit/decorators/model-expanded-attributes-test.js
  ui/tests/unit/decorators/model-form-fields-test.js
Owners: @hashicorp/vault-ui

UI: Refactor path-help service (#28444)
  ui/app/adapters/generated-item-list.js
  ui/app/models/generated-item.js
  ui/app/services/path-help.js
  ui/app/utils/openapi-helpers.ts
  ui/app/utils/openapi-to-attrs.js
  ui/config/deprecation-workflow.js
  ui/tests/acceptance/auth-list-test.js
  ui/tests/helpers/auth/auth-form-selectors.ts
  ui/tests/helpers/auth/auth-helpers.ts
  ui/tests/unit/decorators/model-expanded-attributes-test.js
  ui/tests/unit/decorators/model-form-fields-test.js
  ui/tests/unit/models/generated-item-test.js
  ui/tests/unit/utils/openapi-helpers-test.js
  ui/tests/unit/utils/openapi-to-attrs-test.js
Owners: @hashicorp/vault-ui

backport of commit f0782ee3fbb5c37770776fe50d8cbb9a3442e2e9 (#28506)
  changelog/28498.txt
  vault/token_store.go
Owners: none
